examples/SDM630/SDM630-Modbus-Model.json
[
  {
    "id": "939ba9bb.0771f8",
    "type": "tab",
    "label": "SDM630 Modbus Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ca90aaf2.4348b8",
    "type": "modbus-read",
    "z": "939ba9bb.0771f8",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "94edda97.f235b8",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "ee5635a4.a076c8"
      ],
      [
        "4329d2.303a963",
        "bdee2142.10eeb8"
      ]
    ]
  },
  {
    "id": "4329d2.303a963",
    "type": "modbus-response",
    "z": "939ba9bb.0771f8",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 140,
    "wires": []
  },
  {
    "id": "bdee2142.10eeb8",
    "type": "function",
    "z": "939ba9bb.0771f8",
    "name": "extract buffer data",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nreturn [\n    {\n        payload: {\n            L1: {\n                voltage: voltageL1,\n                power: powerL1,\n                demand: demandL1\n            },\n            L2: {\n                voltage: voltageL2,\n                power: powerL2,\n                demand: demandL2\n            },\n            L3: {\n                voltage: voltageL3,\n                power: powerL3,\n                demand: demandL3\n            },\n            voltageAVG: voltageAVG,\n            powerAVG: powerAVG,            \n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 100,
    "wires": [
      [
        "dcd133c4.5db4d8"
      ]
    ]
  },
  {
    "id": "5481d70f.63bc28",
    "type": "modbus-read",
    "z": "939ba9bb.0771f8",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "48",
    "quantity": "8",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "94edda97.f235b8",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "6d2dfb81.4814ac"
      ],
      [
        "383443c3.7b3ce4",
        "68cee58a.107bdc"
      ]
    ]
  },
  {
    "id": "383443c3.7b3ce4",
    "type": "function",
    "z": "939ba9bb.0771f8",
    "name": "extract buffer data",
    "func": "let powerSum = msg.payload.buffer.readFloatBE(0,8)\nlet demandSum = msg.payload.buffer.readFloatBE(8,8)\n\nreturn [\n    {\n        payload: {\n            powerSum: powerSum,\n            demandSum: demandSum\n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 240,
    "wires": [
      [
        "a7edef20.ed43e"
      ]
    ]
  },
  {
    "id": "4ad09281.9d3a3c",
    "type": "modbus-read",
    "z": "939ba9bb.0771f8",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "70",
    "quantity": "42",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "94edda97.f235b8",
    "x": 150,
    "y": 400,
    "wires": [
      [
        "8bbc56da.862af8"
      ],
      [
        "f2e9f005.17e79",
        "5f7f2df3.0db0f4"
      ]
    ]
  },
  {
    "id": "f2e9f005.17e79",
    "type": "function",
    "z": "939ba9bb.0771f8",
    "name": "extract buffer data",
    "func": "let frequency = msg.payload.buffer.readFloatBE(0,4) // 71,72\n\nlet ampHourSinceLastReset = msg.payload.buffer.readFloatBE(24,4) // 83,84\nlet totalSystemPowerDemand = msg.payload.buffer.readFloatBE(28,4) // 85,86\nlet maxTotalSystemPowerDemand = msg.payload.buffer.readFloatBE(32,4) // 87,88\n\nreturn { \n    payload: {\n       frequency: frequency,\n       ampHourSinceLastReset: ampHourSinceLastReset,\n       ampHourSinceLastResetKilo: ampHourSinceLastReset / 1000.0,\n       totalSystemPowerDemand: totalSystemPowerDemand,\n       totalSystemPowerDemandKilo: totalSystemPowerDemand / 1000.0,\n       maxTotalSystemPowerDemand: maxTotalSystemPowerDemand,\n       maxTotalSystemPowerDemandKilo: maxTotalSystemPowerDemand / 1000.0\n    }\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 380,
    "wires": [
      [
        "a7f467d4.e8f8d"
      ]
    ]
  },
  {
    "id": "68cee58a.107bdc",
    "type": "modbus-response",
    "z": "939ba9bb.0771f8",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 280,
    "wires": []
  },
  {
    "id": "5f7f2df3.0db0f4",
    "type": "modbus-response",
    "z": "939ba9bb.0771f8",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 420,
    "wires": []
  },
  {
    "id": "2f709e66.a3b502",
    "type": "catch",
    "z": "939ba9bb.0771f8",
    "name": "",
    "scope": null,
    "x": 110,
    "y": 580,
    "wires": [
      [
        "d520b4f3.d04468",
        "79c1efe6.d8561",
        "e131b5e4.de0798"
      ]
    ]
  },
  {
    "id": "d520b4f3.d04468",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 620,
    "wires": []
  },
  {
    "id": "d73b4b86.173728",
    "type": "modbus-queue-info",
    "z": "939ba9bb.0771f8",
    "name": "",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "94edda97.f235b8",
    "errorOnHighLevel": false,
    "x": 600,
    "y": 540,
    "wires": [
      [
        "b822febd.399538"
      ]
    ]
  },
  {
    "id": "79c1efe6.d8561",
    "type": "function",
    "z": "939ba9bb.0771f8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 540,
    "wires": [
      [
        "d73b4b86.173728"
      ]
    ]
  },
  {
    "id": "e131b5e4.de0798",
    "type": "function",
    "z": "939ba9bb.0771f8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 580,
    "wires": [
      [
        "d73b4b86.173728"
      ]
    ]
  },
  {
    "id": "b822febd.399538",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 810,
    "y": 540,
    "wires": []
  },
  {
    "id": "6504b429.d89244",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "4a30a631.51af58",
    "type": "link in",
    "z": "939ba9bb.0771f8",
    "name": "",
    "links": [
      "ee5635a4.a076c8",
      "6d2dfb81.4814ac",
      "8bbc56da.862af8"
    ],
    "x": 295,
    "y": 480,
    "wires": [
      [
        "6504b429.d89244"
      ]
    ]
  },
  {
    "id": "ee5635a4.a076c8",
    "type": "link out",
    "z": "939ba9bb.0771f8",
    "name": "",
    "links": [
      "4a30a631.51af58"
    ],
    "x": 295,
    "y": 60,
    "wires": []
  },
  {
    "id": "6d2dfb81.4814ac",
    "type": "link out",
    "z": "939ba9bb.0771f8",
    "name": "",
    "links": [
      "4a30a631.51af58"
    ],
    "x": 295,
    "y": 200,
    "wires": []
  },
  {
    "id": "8bbc56da.862af8",
    "type": "link out",
    "z": "939ba9bb.0771f8",
    "name": "",
    "links": [
      "4a30a631.51af58"
    ],
    "x": 295,
    "y": 340,
    "wires": []
  },
  {
    "id": "dcd133c4.5db4d8",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 100,
    "wires": []
  },
  {
    "id": "a7edef20.ed43e",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 240,
    "wires": []
  },
  {
    "id": "a7f467d4.e8f8d",
    "type": "debug",
    "z": "939ba9bb.0771f8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 380,
    "wires": []
  },
  {
    "id": "94edda97.f235b8",
    "type": "modbus-client",
    "z": "939ba9bb.0771f8",
    "name": "SDM630 Modbus Gateway",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.178.16",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectTimeout": 2000
  }
]
