examples/SDM630/SDM630-IIoT-OPCUA-Mapping.json
[
  {
    "id": "2cc128ac.dc2a5",
    "type": "tab",
    "label": "SDM630 Modbus Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c4caaa9d.e89bb8",
    "type": "tab",
    "label": "SDM630 dynamic",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3110dd6a.7788ea",
    "type": "tab",
    "label": "SDM630 static",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bc0e5645.7034e",
    "type": "subflow",
    "name": "OPC UA Server",
    "info": "",
    "in": [
      {
        "x": 80,
        "y": 90,
        "wires": [
          {
            "id": "b6576de2.171d38"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "41204b5b.b12234",
    "type": "subflow",
    "name": "Model",
    "info": "",
    "in": [],
    "out": [
      {
        "x": 680,
        "y": 390,
        "wires": [
          {
            "id": "11fe5d26.3083ab",
            "port": 0
          },
          {
            "id": "c9f79fe0.2027e",
            "port": 0
          },
          {
            "id": "4be07d36.1f007c",
            "port": 0
          },
          {
            "id": "11fa7520.bcd373",
            "port": 0
          },
          {
            "id": "181f83a0.4cefa4",
            "port": 0
          },
          {
            "id": "c4630081.99f958",
            "port": 0
          },
          {
            "id": "3dfb3ecc.8537b2",
            "port": 0
          },
          {
            "id": "1f9becba.ab2013",
            "port": 0
          },
          {
            "id": "360e1991.e991a6",
            "port": 0
          },
          {
            "id": "fbde5318.771de",
            "port": 0
          },
          {
            "id": "15b6647b.23394c",
            "port": 0
          },
          {
            "id": "78e13127.fbcaa",
            "port": 0
          },
          {
            "id": "75df93f5.ab92e4",
            "port": 0
          },
          {
            "id": "f96579f7.d02868",
            "port": 0
          },
          {
            "id": "78cd21f8.b7fe48",
            "port": 0
          },
          {
            "id": "8178dcc.d14f4a",
            "port": 0
          },
          {
            "id": "d2823fc8.64a528",
            "port": 0
          },
          {
            "id": "d6127944.2a5e68",
            "port": 0
          },
          {
            "id": "78689439.084164",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "249f594b.4b7c06",
    "type": "subflow",
    "name": "SDM630 charts",
    "info": "",
    "in": [
      {
        "x": 170,
        "y": 360,
        "wires": [
          {
            "id": "ce9496c2.75b3d"
          },
          {
            "id": "d8133f01.d168"
          },
          {
            "id": "993fe07e.a8f05"
          },
          {
            "id": "3230ca4f.6d363e"
          },
          {
            "id": "a2714322.79ca"
          },
          {
            "id": "5c453094.331af"
          },
          {
            "id": "82562f1c.24797"
          },
          {
            "id": "4d4e6c52.8372e4"
          },
          {
            "id": "dcd419d1.cb9028"
          },
          {
            "id": "279f52ee.146a5e"
          },
          {
            "id": "46d54062.16b7f"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "225f9a0e.821c5e",
    "type": "subflow",
    "name": "static charts",
    "info": "",
    "in": [
      {
        "x": 270,
        "y": 240,
        "wires": [
          {
            "id": "4291d6e0.c35c48"
          },
          {
            "id": "bb68df17.2e0ee"
          },
          {
            "id": "9e88a58.afbf158"
          },
          {
            "id": "b58ce2b1.6e38e"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "5fd0a50b.d347fc",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "ed6540a7.b07558",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "a2d7ce83.2155a",
    "type": "OPCUA-IIoT-Connector",
    "z": "c4caaa9d.e89bb8",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "Dynamic Connector",
    "showErrors": false
  },
  {
    "id": "eb418db3.56ea98",
    "type": "ui_tab",
    "z": "c4caaa9d.e89bb8",
    "name": "smartHome Energy",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "8fc9ad9.af496d",
    "type": "modbus-client",
    "z": "2cc128ac.dc2a5",
    "name": "SDM630 Modbus Gateway",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.178.16",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "53946c98.f01454",
    "type": "ui_tab",
    "z": "3110dd6a.7788ea",
    "name": "smartHouse",
    "icon": "dashboard",
    "order": 3
  },
  {
    "id": "78b543c6.6e3bac",
    "type": "ui_group",
    "z": "c4caaa9d.e89bb8",
    "name": "Dynamic",
    "tab": "eb418db3.56ea98",
    "disp": true,
    "width": "30"
  },
  {
    "id": "e7d2d914.270698",
    "type": "ui_group",
    "z": "3110dd6a.7788ea",
    "name": "Static",
    "tab": "53946c98.f01454",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "49941ef5.a77cf8",
    "type": "OPCUA-IIoT-Connector",
    "z": "3110dd6a.7788ea",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic128Rsa15",
    "securityMode": "SIGN",
    "name": "Static Connector",
    "showErrors": false
  },
  {
    "id": "fe7b2b71.29dc48",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Method Server",
    "showErrors": false
  },
  {
    "id": "37e3e3f2.c1c6cc",
    "type": "ui_group",
    "z": "",
    "name": "Model",
    "tab": "6fcffcd3.30a594",
    "order": 2,
    "disp": true,
    "width": "8"
  },
  {
    "id": "6fcffcd3.30a594",
    "type": "ui_tab",
    "z": "",
    "name": "OPC UA",
    "icon": "dashboard"
  },
  {
    "id": "3d9b923d.005916",
    "type": "ui_group",
    "z": "",
    "name": "Browser",
    "tab": "6fcffcd3.30a594",
    "order": 1,
    "disp": true,
    "width": "20"
  },
  {
    "id": "61f4c861.ae33d",
    "type": "modbus-read",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "8fc9ad9.af496d",
    "x": 150,
    "y": 170,
    "wires": [
      [
        "d423514.1fb3f3"
      ],
      [
        "43ecd4ef.4841cc",
        "b0f025d4.00f938"
      ]
    ]
  },
  {
    "id": "43ecd4ef.4841cc",
    "type": "modbus-response",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 120,
    "wires": []
  },
  {
    "id": "b0f025d4.00f938",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nreturn [\n    {\n        payload: {\n            L1: {\n                voltage: voltageL1,\n                power: powerL1,\n                demand: demandL1\n            },\n            L2: {\n                voltage: voltageL2,\n                power: powerL2,\n                demand: demandL2\n            },\n            L3: {\n                voltage: voltageL3,\n                power: powerL3,\n                demand: demandL3\n            },\n            voltageAVG: voltageAVG,\n            powerAVG: powerAVG,            \n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "8612c344.935e1"
      ]
    ]
  },
  {
    "id": "f5bba054.984b7",
    "type": "modbus-read",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "48",
    "quantity": "8",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "8fc9ad9.af496d",
    "x": 150,
    "y": 270,
    "wires": [
      [
        "d423514.1fb3f3"
      ],
      [
        "32e2a5eb.05a96a",
        "53ebe65d.94e6e"
      ]
    ]
  },
  {
    "id": "32e2a5eb.05a96a",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "extract buffer data sum",
    "func": "let powerSum = msg.payload.buffer.readFloatBE(0,8)\nlet demandSum = msg.payload.buffer.readFloatBE(8,8)\n\nreturn [\n    {\n        payload: {\n            powerSum: powerSum,\n            demandSum: demandSum\n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 290,
    "wires": [
      [
        "8612c344.935e1"
      ]
    ]
  },
  {
    "id": "72aa4ef5.58d828",
    "type": "modbus-read",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "70",
    "quantity": "42",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "8fc9ad9.af496d",
    "x": 150,
    "y": 390,
    "wires": [
      [
        "d423514.1fb3f3"
      ],
      [
        "4d098dca.b1cebc",
        "2cd968ce.cb0498"
      ]
    ]
  },
  {
    "id": "4d098dca.b1cebc",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "extract buffer data statics",
    "func": "let frequency = msg.payload.buffer.readFloatBE(0,4) // 71,72\n\nlet ampHourSinceLastReset = msg.payload.buffer.readFloatBE(24,4) // 83,84\nlet totalSystemPowerDemand = msg.payload.buffer.readFloatBE(28,4) // 85,86\nlet maxTotalSystemPowerDemand = msg.payload.buffer.readFloatBE(32,4) // 87,88\n\nreturn { \n    payload: {\n       frequency: frequency,\n       ampHourSinceLastReset: ampHourSinceLastReset,\n       ampHourSinceLastResetKilo: ampHourSinceLastReset / 1000.0,\n       totalSystemPowerDemand: totalSystemPowerDemand,\n       totalSystemPowerDemandKilo: totalSystemPowerDemand / 1000.0,\n       maxTotalSystemPowerDemand: maxTotalSystemPowerDemand,\n       maxTotalSystemPowerDemandKilo: maxTotalSystemPowerDemand / 1000.0\n    }\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 410,
    "wires": [
      [
        "8612c344.935e1"
      ]
    ]
  },
  {
    "id": "53ebe65d.94e6e",
    "type": "modbus-response",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 230,
    "wires": []
  },
  {
    "id": "2cd968ce.cb0498",
    "type": "modbus-response",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 350,
    "wires": []
  },
  {
    "id": "8612c344.935e1",
    "type": "link out",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "links": [
      "ad2661ec.7b23a",
      "44054254.88aa5c",
      "9412a32e.c018c"
    ],
    "x": 585,
    "y": 290,
    "wires": []
  },
  {
    "id": "fd1b692c.b5aae8",
    "type": "OPCUA-IIoT-Write",
    "z": "c4caaa9d.e89bb8",
    "connector": "a2d7ce83.2155a",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 660,
    "y": 170,
    "wires": [
      [
        "d8b747db.4ccc4"
      ]
    ]
  },
  {
    "id": "d8b747db.4ccc4",
    "type": "OPCUA-IIoT-Response",
    "z": "c4caaa9d.e89bb8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 790,
    "y": 170,
    "wires": [
      [
        "79530d69.49e1bc"
      ]
    ]
  },
  {
    "id": "79530d69.49e1bc",
    "type": "debug",
    "z": "c4caaa9d.e89bb8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 170,
    "wires": []
  },
  {
    "id": "9412a32e.c018c",
    "type": "link in",
    "z": "c4caaa9d.e89bb8",
    "name": "",
    "links": [
      "8612c344.935e1"
    ],
    "x": 245,
    "y": 170,
    "wires": [
      [
        "de1d91e5.f47418",
        "85df24eb.ca1d8"
      ]
    ]
  },
  {
    "id": "de1d91e5.f47418",
    "type": "function",
    "z": "c4caaa9d.e89bb8",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.L1) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=L1Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L2Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L3Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Demand', datatypeName: 'Float'}        \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.L1.voltage, \n        msg.payload.L1.power, \n        msg.payload.L1.demand,\n        msg.payload.L2.voltage, \n        msg.payload.L2.power, \n        msg.payload.L2.demand,\n        msg.payload.L3.voltage, \n        msg.payload.L3.power, \n        msg.payload.L3.demand\n    ]\n    \n    return msg;\n}\n\nif(msg.payload.demandSum) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=DemandSum', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=PowerSum', datatypeName: 'Float'}\n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.demandSum, \n        msg.payload.powerSum\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 170,
    "wires": [
      [
        "fd1b692c.b5aae8",
        "717140da.26ee48"
      ]
    ]
  },
  {
    "id": "717140da.26ee48",
    "type": "debug",
    "z": "c4caaa9d.e89bb8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "85df24eb.ca1d8",
    "type": "debug",
    "z": "c4caaa9d.e89bb8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 340,
    "y": 120,
    "wires": []
  },
  {
    "id": "b6d209b3.70c2f8",
    "type": "OPCUA-IIoT-Listener",
    "z": "c4caaa9d.e89bb8",
    "connector": "a2d7ce83.2155a",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 550,
    "y": 250,
    "wires": [
      [
        "33030c02.32f8cc"
      ]
    ]
  },
  {
    "id": "5d6c2772.5fa8f8",
    "type": "OPCUA-IIoT-Inject",
    "z": "c4caaa9d.e89bb8",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "L1Voltage",
        "nodeId": "ns=5;s=L1Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L1Power",
        "nodeId": "ns=5;s=L1Power",
        "datatypeName": "Float"
      },
      {
        "name": "L1Demand",
        "nodeId": "ns=5;s=L1Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L2Voltage",
        "nodeId": "ns=5;s=L2Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L2Power",
        "nodeId": "ns=5;s=L2Power",
        "datatypeName": "Float"
      },
      {
        "name": "L2Demand",
        "nodeId": "ns=5;s=L2Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L3Voltage",
        "nodeId": "ns=5;s=L3Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L3Power",
        "nodeId": "ns=5;s=L3Power",
        "datatypeName": "Float"
      },
      {
        "name": "L3Demand",
        "nodeId": "ns=5;s=L3Demand",
        "datatypeName": "Float"
      },
      {
        "name": "DemandSum",
        "nodeId": "ns=5;s=DemandSum",
        "datatypeName": "Float"
      },
      {
        "name": "PowerSum",
        "nodeId": "ns=5;s=PowerSum",
        "datatypeName": "Float"
      }
    ],
    "x": 370,
    "y": 250,
    "wires": [
      [
        "b6d209b3.70c2f8"
      ]
    ]
  },
  {
    "id": "d423514.1fb3f3",
    "type": "debug",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 470,
    "wires": []
  },
  {
    "id": "f5ae1229.0d09e",
    "type": "link in",
    "z": "3110dd6a.7788ea",
    "name": "",
    "links": [
      "8612c344.935e1"
    ],
    "x": 265,
    "y": 180,
    "wires": [
      [
        "7133bdb9.f40cd4",
        "88ee412f.ebfa88"
      ]
    ]
  },
  {
    "id": "7133bdb9.f40cd4",
    "type": "function",
    "z": "3110dd6a.7788ea",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.frequency) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=frequency', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=ampHourSinceLastReset', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=totalSystemPowerDemand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=maxTotalSystemPowerDemand', datatypeName: 'Float'}      \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.frequency, \n        msg.payload.ampHourSinceLastResetKilo, \n        msg.payload.totalSystemPowerDemandKilo,\n        msg.payload.maxTotalSystemPowerDemandKilo\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "9e526135.cc214",
        "b94159fa.e10a6"
      ]
    ]
  },
  {
    "id": "9e526135.cc214",
    "type": "OPCUA-IIoT-Write",
    "z": "3110dd6a.7788ea",
    "connector": "49941ef5.a77cf8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 690,
    "y": 180,
    "wires": [
      [
        "8e037678.0bd0f"
      ]
    ]
  },
  {
    "id": "8e037678.0bd0f",
    "type": "OPCUA-IIoT-Response",
    "z": "3110dd6a.7788ea",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 820,
    "y": 180,
    "wires": [
      [
        "74d9be70.bff638"
      ]
    ]
  },
  {
    "id": "74d9be70.bff638",
    "type": "debug",
    "z": "3110dd6a.7788ea",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "b94159fa.e10a6",
    "type": "debug",
    "z": "3110dd6a.7788ea",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 130,
    "wires": []
  },
  {
    "id": "88ee412f.ebfa88",
    "type": "debug",
    "z": "3110dd6a.7788ea",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 370,
    "y": 130,
    "wires": []
  },
  {
    "id": "c9a62b23.9512f",
    "type": "OPCUA-IIoT-Listener",
    "z": "3110dd6a.7788ea",
    "connector": "49941ef5.a77cf8",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 280,
    "wires": [
      [
        "99039604.319fd8"
      ]
    ]
  },
  {
    "id": "e600aed1.e0d7",
    "type": "OPCUA-IIoT-Inject",
    "z": "3110dd6a.7788ea",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "frequency",
        "nodeId": "ns=5;s=frequency",
        "datatypeName": "Float"
      },
      {
        "name": "ampHourSinceLastReset",
        "nodeId": "ns=5;s=ampHourSinceLastReset",
        "datatypeName": "Float"
      },
      {
        "name": "totalSystemPowerDemand",
        "nodeId": "ns=5;s=totalSystemPowerDemand",
        "datatypeName": "Float"
      },
      {
        "name": "maxTotalSystemPowerDemand",
        "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
        "datatypeName": "Float"
      }
    ],
    "x": 350,
    "y": 280,
    "wires": [
      [
        "c9a62b23.9512f"
      ]
    ]
  },
  {
    "id": "8c5af5de.cfffd",
    "type": "catch",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "scope": null,
    "x": 140,
    "y": 630,
    "wires": [
      [
        "4d4a9dc8.000de4",
        "81fdc5df.2318d",
        "25e756b5.be66c2"
      ]
    ]
  },
  {
    "id": "4d4a9dc8.000de4",
    "type": "debug",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 320,
    "y": 670,
    "wires": []
  },
  {
    "id": "d11b4313.ef69a8",
    "type": "modbus-queue-info",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "8fc9ad9.af496d",
    "errorOnHighLevel": false,
    "x": 600,
    "y": 600,
    "wires": [
      [
        "b74172b9.9503d"
      ]
    ]
  },
  {
    "id": "81fdc5df.2318d",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 590,
    "wires": [
      [
        "d11b4313.ef69a8"
      ]
    ]
  },
  {
    "id": "25e756b5.be66c2",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 630,
    "wires": [
      [
        "d11b4313.ef69a8"
      ]
    ]
  },
  {
    "id": "b74172b9.9503d",
    "type": "debug",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 810,
    "y": 600,
    "wires": []
  },
  {
    "id": "78689439.084164",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=SDM630",
    "browsename": "SDM630",
    "displayname": "SDM 630",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "SDM630",
    "x": 390,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "2777a0bb.da5788",
    "type": "OPCUA-IIoT-Inject",
    "z": "41204b5b.b12234",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Inject after 10s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 40,
    "wires": [
      [
        "78689439.084164"
      ]
    ]
  },
  {
    "id": "d6127944.2a5e68",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L1",
    "browsename": "L1",
    "displayname": "L1",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L1",
    "x": 400,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "8178dcc.d14f4a",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L3",
    "browsename": "L3",
    "displayname": "L3",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L3",
    "x": 400,
    "y": 170,
    "wires": [
      []
    ]
  },
  {
    "id": "d2823fc8.64a528",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L2",
    "browsename": "L2",
    "displayname": "L2",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L2",
    "x": 400,
    "y": 130,
    "wires": [
      []
    ]
  },
  {
    "id": "ae47dcad.2337b",
    "type": "OPCUA-IIoT-Inject",
    "z": "41204b5b.b12234",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "13",
    "name": "Inject after 13s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 240,
    "wires": [
      [
        "d6127944.2a5e68",
        "d2823fc8.64a528",
        "8178dcc.d14f4a",
        "78cd21f8.b7fe48",
        "f96579f7.d02868",
        "75df93f5.ab92e4",
        "78e13127.fbcaa",
        "fbde5318.771de",
        "15b6647b.23394c"
      ]
    ]
  },
  {
    "id": "360e1991.e991a6",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L1Demand",
    "browsename": "L1Demand",
    "displayname": "L1 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 demand",
    "x": 380,
    "y": 510,
    "wires": [
      []
    ]
  },
  {
    "id": "5fb30d03.4cad64",
    "type": "OPCUA-IIoT-Inject",
    "z": "41204b5b.b12234",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "16",
    "name": "Inject after 16s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 680,
    "wires": [
      [
        "360e1991.e991a6",
        "1f9becba.ab2013",
        "3dfb3ecc.8537b2",
        "c4630081.99f958",
        "181f83a0.4cefa4",
        "11fa7520.bcd373",
        "4be07d36.1f007c",
        "c9f79fe0.2027e",
        "11fe5d26.3083ab"
      ]
    ]
  },
  {
    "id": "1f9becba.ab2013",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L2Demand",
    "browsename": "L2Demand",
    "displayname": "L2 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 demand",
    "x": 380,
    "y": 550,
    "wires": [
      []
    ]
  },
  {
    "id": "3dfb3ecc.8537b2",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L3Demand",
    "browsename": "L3Demand",
    "displayname": "L3 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 demand",
    "x": 380,
    "y": 590,
    "wires": [
      []
    ]
  },
  {
    "id": "c4630081.99f958",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L1Power",
    "browsename": "L1Power",
    "displayname": "L1 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 power",
    "x": 390,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "181f83a0.4cefa4",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L2Power",
    "browsename": "L2Power",
    "displayname": "L2 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 power",
    "x": 390,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "11fa7520.bcd373",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L3Power",
    "browsename": "L3Power",
    "displayname": "L3 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 power",
    "x": 390,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "4be07d36.1f007c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L1Voltage",
    "browsename": "L1Voltage",
    "displayname": "L1 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 voltage",
    "x": 380,
    "y": 770,
    "wires": [
      []
    ]
  },
  {
    "id": "c9f79fe0.2027e",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L2Voltage",
    "browsename": "L2Voltage",
    "displayname": "L2 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 voltage",
    "x": 380,
    "y": 810,
    "wires": [
      []
    ]
  },
  {
    "id": "11fe5d26.3083ab",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=L3Voltage",
    "browsename": "L3Voltage",
    "displayname": "L3 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 voltage",
    "x": 380,
    "y": 850,
    "wires": [
      []
    ]
  },
  {
    "id": "78cd21f8.b7fe48",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=DemandSum",
    "browsename": "DemandSum",
    "displayname": "Demand Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "DemandSum",
    "x": 380,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "f96579f7.d02868",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=PowerSum",
    "browsename": "PowerSum",
    "displayname": "Power Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "PowerSum",
    "x": 380,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "75df93f5.ab92e4",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=frequency",
    "browsename": "frequency",
    "displayname": "frequency",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "frequency",
    "x": 390,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "78e13127.fbcaa",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "browsename": "ampHourSinceLastReset",
    "displayname": "ampere-hours since last reset",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "ampHourSinceLastReset",
    "x": 340,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "fbde5318.771de",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "browsename": "totalSystemPowerDemand",
    "displayname": "total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "totalSystemPowerDemand",
    "x": 330,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "15b6647b.23394c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "41204b5b.b12234",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "browsename": "maxTotalSystemPowerDemand",
    "displayname": "max total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "maxTotalSystemPowerDemand",
    "x": 320,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "b6576de2.171d38",
    "type": "OPCUA-IIoT-Server",
    "z": "bc0e5645.7034e",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "50",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "1000",
    "alternateHostname": "",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": true,
    "asoDemo": false,
    "allowAnonymous": true,
    "isAuditing": false,
    "serverDiscovery": false,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "xmlsets": [],
    "publicCertificateFile": "",
    "privateCertificateFile": "",
    "registerServerMethod": "1",
    "discoveryServerEndpointUrl": "",
    "capabilitiesForMDNS": "",
    "maxNodesPerRead": "",
    "maxNodesPerBrowse": "",
    "x": 250,
    "y": 90,
    "wires": [
      [
        "5f74a26e.c162fc"
      ]
    ]
  },
  {
    "id": "5f74a26e.c162fc",
    "type": "debug",
    "z": "bc0e5645.7034e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 420,
    "y": 90,
    "wires": []
  },
  {
    "id": "b672a520.2b626",
    "type": "subflow:bc0e5645.7034e",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "af98af46.54d3",
    "type": "subflow:41204b5b.b12234",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "x": 130,
    "y": 60,
    "wires": [
      [
        "b672a520.2b626"
      ]
    ]
  },
  {
    "id": "86987be9.c79f88",
    "type": "ui_chart",
    "z": "249f594b.4b7c06",
    "name": "",
    "group": "78b543c6.6e3bac",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "power",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 690,
    "y": 180,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "23befdde.82cc22",
    "type": "ui_chart",
    "z": "249f594b.4b7c06",
    "name": "",
    "group": "78b543c6.6e3bac",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "voltage",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 360,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "a1d6284d.0abd28",
    "type": "ui_chart",
    "z": "249f594b.4b7c06",
    "name": "",
    "group": "78b543c6.6e3bac",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "demand",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 550,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ce9496c2.75b3d",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=PowerSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "Sum",
    "name": "",
    "x": 450,
    "y": 100,
    "wires": [
      [
        "86987be9.c79f88"
      ]
    ]
  },
  {
    "id": "46d54062.16b7f",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=DemandSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "Sum",
    "name": "",
    "x": 460,
    "y": 630,
    "wires": [
      [
        "a1d6284d.0abd28"
      ]
    ]
  },
  {
    "id": "d8133f01.d168",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L1Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 160,
    "wires": [
      [
        "86987be9.c79f88"
      ]
    ]
  },
  {
    "id": "a2714322.79ca",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L1Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 310,
    "wires": [
      [
        "23befdde.82cc22"
      ]
    ]
  },
  {
    "id": "4d4e6c52.8372e4",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L1Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 480,
    "wires": [
      [
        "a1d6284d.0abd28"
      ]
    ]
  },
  {
    "id": "993fe07e.a8f05",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L2Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 210,
    "wires": [
      [
        "86987be9.c79f88"
      ]
    ]
  },
  {
    "id": "3230ca4f.6d363e",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L3Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 260,
    "wires": [
      [
        "86987be9.c79f88"
      ]
    ]
  },
  {
    "id": "5c453094.331af",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L2Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 370,
    "wires": [
      [
        "23befdde.82cc22"
      ]
    ]
  },
  {
    "id": "82562f1c.24797",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L3Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 420,
    "wires": [
      [
        "23befdde.82cc22"
      ]
    ]
  },
  {
    "id": "dcd419d1.cb9028",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L2Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 530,
    "wires": [
      [
        "a1d6284d.0abd28"
      ]
    ]
  },
  {
    "id": "279f52ee.146a5e",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "249f594b.4b7c06",
    "nodeId": "ns=5;s=L3Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 580,
    "wires": [
      [
        "a1d6284d.0abd28"
      ]
    ]
  },
  {
    "id": "33030c02.32f8cc",
    "type": "subflow:249f594b.4b7c06",
    "z": "c4caaa9d.e89bb8",
    "name": "dynamic charts",
    "x": 730,
    "y": 250,
    "wires": []
  },
  {
    "id": "c42bc472.727c9",
    "type": "ui_gauge",
    "z": "225f9a0e.821c5e",
    "name": "",
    "group": "e7d2d914.270698",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Frequency",
    "label": "Hz",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 150,
    "wires": []
  },
  {
    "id": "920de6b7.3a7f4",
    "type": "ui_gauge",
    "z": "225f9a0e.821c5e",
    "name": "",
    "group": "37e3e3f2.c1c6cc",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Sum demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "5",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 250,
    "wires": []
  },
  {
    "id": "95091391.fe217",
    "type": "ui_gauge",
    "z": "225f9a0e.821c5e",
    "name": "",
    "group": "37e3e3f2.c1c6cc",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Max. demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "20",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "9f83702d.cccdf",
    "type": "ui_gauge",
    "z": "225f9a0e.821c5e",
    "name": "",
    "group": "e7d2d914.270698",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Ampere hour",
    "label": "kAh",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "2000",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 200,
    "wires": []
  },
  {
    "id": "4291d6e0.c35c48",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "225f9a0e.821c5e",
    "nodeId": "ns=5;s=frequency",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "frequency",
    "name": "",
    "x": 480,
    "y": 160,
    "wires": [
      [
        "c42bc472.727c9"
      ]
    ]
  },
  {
    "id": "bb68df17.2e0ee",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "225f9a0e.821c5e",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "ampHourSinceLastReset",
    "name": "",
    "x": 530,
    "y": 210,
    "wires": [
      [
        "9f83702d.cccdf"
      ]
    ]
  },
  {
    "id": "9e88a58.afbf158",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "225f9a0e.821c5e",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "totalSystemPowerDemand",
    "name": "",
    "x": 530,
    "y": 260,
    "wires": [
      [
        "920de6b7.3a7f4"
      ]
    ]
  },
  {
    "id": "b58ce2b1.6e38e",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "225f9a0e.821c5e",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "topic": "maxTotalSystemPowerDemand",
    "name": "",
    "x": 550,
    "y": 310,
    "wires": [
      [
        "95091391.fe217"
      ]
    ]
  },
  {
    "id": "99039604.319fd8",
    "type": "subflow:225f9a0e.821c5e",
    "z": "3110dd6a.7788ea",
    "x": 720,
    "y": 280,
    "wires": []
  },
  {
    "id": "4aa4a797.9abab",
    "type": "OPCUA-IIoT-Browser",
    "z": "bc0e5645.7034e",
    "connector": "fe7b2b71.29dc48",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 270,
    "wires": [
      [
        "f266be79.df8c3",
        "7ece72f5.92e70c",
        "67b2cfa2.67a8e"
      ]
    ]
  },
  {
    "id": "7ece72f5.92e70c",
    "type": "debug",
    "z": "bc0e5645.7034e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 270,
    "wires": []
  },
  {
    "id": "62162cbc.94352c",
    "type": "OPCUA-IIoT-Inject",
    "z": "bc0e5645.7034e",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=85",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "x": 150,
    "y": 270,
    "wires": [
      [
        "4aa4a797.9abab"
      ]
    ]
  },
  {
    "id": "67b2cfa2.67a8e",
    "type": "OPCUA-IIoT-Response",
    "z": "bc0e5645.7034e",
    "name": "",
    "x": 540,
    "y": 210,
    "wires": [
      [
        "67784936.e8ad8"
      ]
    ]
  },
  {
    "id": "67784936.e8ad8",
    "type": "debug",
    "z": "bc0e5645.7034e",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 210,
    "wires": []
  },
  {
    "id": "f266be79.df8c3",
    "type": "ui_template",
    "z": "bc0e5645.7034e",
    "group": "3d9b923d.005916",
    "name": "",
    "order": 1,
    "width": "20",
    "height": "20",
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 340,
    "y": 210,
    "wires": [
      [
        "4aa4a797.9abab"
      ]
    ]
  },
  {
    "id": "b13ac53b.6e8808",
    "type": "modbus-getter",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "server": "8fc9ad9.af496d",
    "x": 400,
    "y": 790,
    "wires": [
      [],
      [
        "598ee36.3b57a9c",
        "6fa59a86.a47024"
      ]
    ]
  },
  {
    "id": "598ee36.3b57a9c",
    "type": "modbus-response",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "registerShowMax": 20,
    "x": 660,
    "y": 790,
    "wires": []
  },
  {
    "id": "b7836311.ddcbd8",
    "type": "http in",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "url": "/modbus/read/lines",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 790,
    "wires": [
      [
        "b13ac53b.6e8808"
      ]
    ]
  },
  {
    "id": "8d24c844.e3c51",
    "type": "http response",
    "z": "2cc128ac.dc2a5",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 890,
    "y": 750,
    "wires": []
  },
  {
    "id": "6fa59a86.a47024",
    "type": "function",
    "z": "2cc128ac.dc2a5",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nmsg.payload = {\n    L1: {\n        voltage: voltageL1,\n        power: powerL1,\n        demand: demandL1\n    },\n    L2: {\n        voltage: voltageL2,\n        power: powerL2,\n        demand: demandL2\n    },\n    L3: {\n        voltage: voltageL3,\n        power: powerL3,\n        demand: demandL3\n    },\n    voltageAVG: voltageAVG,\n    powerAVG: powerAVG,            \n};\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 680,
    "y": 750,
    "wires": [
      [
        "8d24c844.e3c51"
      ]
    ]
  }
]
