examples/CODESYS-CSV-To-IO.json
[
  {
    "id": "5dcb3db5.4e3f0c",
    "type": "tab",
    "label": "CODESYS Convert",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2434861d.64a11a",
    "type": "file in",
    "z": "5dcb3db5.4e3f0c",
    "name": "Modbus I/O File devices.csv",
    "filename": "/Users/Shared/modbus/device.csv",
    "format": "utf8",
    "sendError": true,
    "x": 340,
    "y": 100,
    "wires": [
      [
        "b2ae242c.d5fe7"
      ]
    ]
  },
  {
    "id": "ab20c896.9f4f6",
    "type": "inject",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 100,
    "wires": [
      [
        "2434861d.64a11a"
      ]
    ]
  },
  {
    "id": "b2ae242c.d5fe7",
    "type": "csv",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "sep": ";",
    "hdrin": "",
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "x": 570,
    "y": 100,
    "wires": [
      [
        "559ab850.a1dad8"
      ]
    ]
  },
  {
    "id": "5f2b46d4.932e4",
    "type": "debug",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 950,
    "y": 60,
    "wires": []
  },
  {
    "id": "559ab850.a1dad8",
    "type": "function",
    "z": "5dcb3db5.4e3f0c",
    "name": "Filter named Register",
    "func": "if(msg.payload.col4 !== undefined && msg.payload.col4.indexOf('//') === -1) {\n    var varName = msg.payload.col4;\n    var varValue = msg.payload.col5;\n    msg.payload = { 'name': varName, 'valueAddress': varValue };\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 100,
    "wires": [
      [
        "5f2b46d4.932e4",
        "5d77a64a.0610c"
      ]
    ]
  },
  {
    "id": "5d77a64a.0610c",
    "type": "file",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "filename": "/Users/Shared/modbus/device.json",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "x": 1020,
    "y": 100,
    "wires": []
  },
  {
    "id": "9da2e78d.39bde",
    "type": "inject",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "5b01ed5a.fc796c"
      ]
    ]
  },
  {
    "id": "5b01ed5a.fc796c",
    "type": "file",
    "z": "5dcb3db5.4e3f0c",
    "name": "",
    "filename": "/Users/Shared/modbus/slaveDevice.json",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "delete",
    "x": 400,
    "y": 60,
    "wires": []
  }
]
