examples/LocalhostSimpleFlows.json
[
  {
    "id": "ff518716.9b2b88",
    "type": "tab",
    "label": "Modbus simple",
    "disabled": false,
    "info": "simple flows to show what you \ncan do with the package\n\nthink about organization of reads and \nwrites and try to simplify these flows"
  },
  {
    "id": "a96988a4.007338",
    "type": "modbus-flex-write",
    "z": "ff518716.9b2b88",
    "name": "",
    "showStatusActivities": false,
    "server": "1a2ac75c.f7bb49",
    "x": 720,
    "y": 430,
    "wires": [
      [
        "7b917878.ab4f28"
      ],
      [
        "7d987f02.d8964"
      ]
    ]
  },
  {
    "id": "adfcaaf1.0129e8",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 700,
    "y": 970,
    "wires": []
  },
  {
    "id": "7eec83da.66965c",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 700,
    "y": 590,
    "wires": []
  },
  {
    "id": "115fc283.d5f32d",
    "type": "modbus-write",
    "z": "ff518716.9b2b88",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "1a2ac75c.f7bb49",
    "x": 409,
    "y": 880,
    "wires": [
      [
        "42fe37f1.7c6368"
      ],
      [
        "ccc79b45.d372a8"
      ]
    ]
  },
  {
    "id": "4cc7c927.767d68",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 870,
    "wires": [
      [
        "115fc283.d5f32d"
      ]
    ]
  },
  {
    "id": "42fe37f1.7c6368",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 700,
    "y": 840,
    "wires": []
  },
  {
    "id": "ccc79b45.d372a8",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": 20,
    "x": 720,
    "y": 880,
    "wires": []
  },
  {
    "id": "def27231.1075c",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "10",
    "x": 720,
    "y": 630,
    "wires": []
  },
  {
    "id": "7089d6d5.4017b8",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 910,
    "wires": [
      [
        "115fc283.d5f32d"
      ]
    ]
  },
  {
    "id": "e8538d94.b1b7e",
    "type": "modbus-read",
    "z": "ff518716.9b2b88",
    "name": "Automatic Read FC3",
    "showStatusActivities": false,
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "server": "1a2ac75c.f7bb49",
    "x": 420,
    "y": 750,
    "wires": [
      [
        "5e4a4e4b.88945"
      ],
      [
        "8aa69836.5ace38"
      ]
    ]
  },
  {
    "id": "8aa69836.5ace38",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "20",
    "x": 720,
    "y": 750,
    "wires": []
  },
  {
    "id": "5e4a4e4b.88945",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 700,
    "y": 710,
    "wires": []
  },
  {
    "id": "4d4a176c.f49f98",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "20",
    "x": 720,
    "y": 1010,
    "wires": []
  },
  {
    "id": "cb2d99c6.130678",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 1010,
    "wires": [
      [
        "a7490d4e.85a1b"
      ]
    ]
  },
  {
    "id": "ee7beefb.f4ac1",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 160,
    "y": 630,
    "wires": [
      [
        "46132394.b12a9c"
      ]
    ]
  },
  {
    "id": "3e1b9815.8fcb78",
    "type": "modbus-flex-write",
    "z": "ff518716.9b2b88",
    "name": "",
    "showStatusActivities": false,
    "server": "1a2ac75c.f7bb49",
    "x": 720,
    "y": 290,
    "wires": [
      [
        "a6b8926b.05c18"
      ],
      [
        "fb5a30b2.54a4f"
      ]
    ]
  },
  {
    "id": "fb5a30b2.54a4f",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": 20,
    "x": 1040,
    "y": 270,
    "wires": []
  },
  {
    "id": "ca68481d.153308",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 230,
    "wires": [
      [
        "eb02e145.3e81c"
      ]
    ]
  },
  {
    "id": "a6b8926b.05c18",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1020,
    "y": 230,
    "wires": []
  },
  {
    "id": "138fb2b4.df359d",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "5",
    "x": 1040,
    "y": 510,
    "wires": []
  },
  {
    "id": "47a067b2.c780c8",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1020,
    "y": 470,
    "wires": []
  },
  {
    "id": "770ea090.f8be2",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 510,
    "wires": [
      [
        "ffed2ba5.b37d48"
      ]
    ]
  },
  {
    "id": "ffed2ba5.b37d48",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 510,
    "wires": [
      [
        "b0406602.2cffd8"
      ]
    ]
  },
  {
    "id": "eb02e145.3e81c",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 250,
    "wires": [
      [
        "3e1b9815.8fcb78"
      ]
    ]
  },
  {
    "id": "a56e896f.1136e8",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 550,
    "wires": [
      [
        "b0406602.2cffd8"
      ]
    ]
  },
  {
    "id": "251efbfd.77e8b4",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 290,
    "wires": [
      [
        "3e1b9815.8fcb78"
      ]
    ]
  },
  {
    "id": "2aa8452f.490eea",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 550,
    "wires": [
      [
        "a56e896f.1136e8"
      ]
    ]
  },
  {
    "id": "2544f43b.ab835c",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 270,
    "wires": [
      [
        "251efbfd.77e8b4"
      ]
    ]
  },
  {
    "id": "5c4158c3.d8c4e8",
    "type": "catch",
    "z": "ff518716.9b2b88",
    "name": "",
    "scope": null,
    "x": 130,
    "y": 150,
    "wires": [
      [
        "e00c9d9.878236",
        "4c0c69b1.4942d8",
        "e76cb990.c6f408"
      ]
    ]
  },
  {
    "id": "e00c9d9.878236",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 380,
    "y": 190,
    "wires": []
  },
  {
    "id": "b0406602.2cffd8",
    "type": "modbus-flex-getter",
    "z": "ff518716.9b2b88",
    "name": "",
    "showStatusActivities": false,
    "server": "1a2ac75c.f7bb49",
    "x": 730,
    "y": 530,
    "wires": [
      [
        "47a067b2.c780c8"
      ],
      [
        "138fb2b4.df359d"
      ]
    ]
  },
  {
    "id": "7d987f02.d8964",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": 20,
    "x": 1040,
    "y": 410,
    "wires": []
  },
  {
    "id": "da7735e1.c56638",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 390,
    "wires": [
      [
        "f3d70d4b.f00cc"
      ]
    ]
  },
  {
    "id": "f3d70d4b.f00cc",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 410,
    "wires": [
      [
        "a96988a4.007338"
      ]
    ]
  },
  {
    "id": "175acc05.fe3e74",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 450,
    "wires": [
      [
        "a96988a4.007338"
      ]
    ]
  },
  {
    "id": "cfac61a0.24e41",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 470,
    "wires": [
      [
        "175acc05.fe3e74"
      ]
    ]
  },
  {
    "id": "7b917878.ab4f28",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1020,
    "y": 370,
    "wires": []
  },
  {
    "id": "aa9e95fd.6e0ac8",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 350,
    "wires": [
      [
        "3a643210.3e12ce"
      ]
    ]
  },
  {
    "id": "3a643210.3e12ce",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 330,
    "wires": [
      [
        "3e1b9815.8fcb78"
      ]
    ]
  },
  {
    "id": "c8e4bf69.1c6a3",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 700,
    "y": 1110,
    "wires": []
  },
  {
    "id": "706a54bc.e95ebc",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "20",
    "x": 720,
    "y": 1150,
    "wires": []
  },
  {
    "id": "7162a055.56a03",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 1150,
    "wires": [
      [
        "8e8aeb9b.2d4b58"
      ]
    ]
  },
  {
    "id": "b8225a8e.b43768",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 700,
    "y": 1240,
    "wires": []
  },
  {
    "id": "a35d9f19.93b42",
    "type": "modbus-response",
    "z": "ff518716.9b2b88",
    "name": "",
    "registerShowMax": "20",
    "x": 720,
    "y": 1280,
    "wires": []
  },
  {
    "id": "fe714741.272628",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 1280,
    "wires": [
      [
        "45b43cb4.e57c34"
      ]
    ]
  },
  {
    "id": "cfa9c51c.70d4f8",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 310,
    "wires": [
      [
        "251efbfd.77e8b4"
      ]
    ]
  },
  {
    "id": "c0dabad4.bbbe78",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 430,
    "wires": [
      [
        "f3d70d4b.f00cc"
      ]
    ]
  },
  {
    "id": "f2eff6ee.55a648",
    "type": "modbus-server",
    "z": "ff518716.9b2b88",
    "name": "",
    "logEnabled": false,
    "serverPort": "10502",
    "responseDelay": "50",
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "x": 710,
    "y": 70,
    "wires": [
      [
        "5b507918.f2a6e8"
      ],
      [
        "5b507918.f2a6e8"
      ],
      [
        "5b507918.f2a6e8"
      ]
    ]
  },
  {
    "id": "27ef6223.00f88e",
    "type": "modbus-queue-info",
    "z": "ff518716.9b2b88",
    "name": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "1a2ac75c.f7bb49",
    "errorOnHighLevel": false,
    "x": 730,
    "y": 150,
    "wires": [
      [
        "3f2ceec4.f2a1c2"
      ]
    ]
  },
  {
    "id": "4c0c69b1.4942d8",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 110,
    "wires": [
      [
        "27ef6223.00f88e"
      ]
    ]
  },
  {
    "id": "e76cb990.c6f408",
    "type": "function",
    "z": "ff518716.9b2b88",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 150,
    "wires": [
      [
        "27ef6223.00f88e"
      ]
    ]
  },
  {
    "id": "3f2ceec4.f2a1c2",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1020,
    "y": 150,
    "wires": []
  },
  {
    "id": "4d817212.4d1abc",
    "type": "inject",
    "z": "ff518716.9b2b88",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 70,
    "wires": [
      [
        "f2eff6ee.55a648"
      ]
    ]
  },
  {
    "id": "5b507918.f2a6e8",
    "type": "debug",
    "z": "ff518716.9b2b88",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1000,
    "y": 70,
    "wires": []
  },
  {
    "id": "46132394.b12a9c",
    "type": "modbus-getter",
    "z": "ff518716.9b2b88",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1a2ac75c.f7bb49",
    "x": 460,
    "y": 630,
    "wires": [
      [
        "7eec83da.66965c"
      ],
      [
        "def27231.1075c"
      ]
    ]
  },
  {
    "id": "a7490d4e.85a1b",
    "type": "modbus-getter",
    "z": "ff518716.9b2b88",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1a2ac75c.f7bb49",
    "x": 410,
    "y": 1010,
    "wires": [
      [
        "adfcaaf1.0129e8"
      ],
      [
        "4d4a176c.f49f98"
      ]
    ]
  },
  {
    "id": "8e8aeb9b.2d4b58",
    "type": "modbus-getter",
    "z": "ff518716.9b2b88",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "1a2ac75c.f7bb49",
    "x": 440,
    "y": 1150,
    "wires": [
      [
        "c8e4bf69.1c6a3"
      ],
      [
        "706a54bc.e95ebc"
      ]
    ]
  },
  {
    "id": "45b43cb4.e57c34",
    "type": "modbus-getter",
    "z": "ff518716.9b2b88",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "1a2ac75c.f7bb49",
    "x": 430,
    "y": 1280,
    "wires": [
      [
        "b8225a8e.b43768"
      ],
      [
        "a35d9f19.93b42"
      ]
    ]
  },
  {
    "id": "1a2ac75c.f7bb49",
    "type": "modbus-client",
    "z": "ff518716.9b2b88",
    "name": "Local Buffer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "10502",
    "serialPort": "/dev/ttyS0",
    "serialType": "RTU",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "",
    "commandDelay": 100,
    "clientTimeout": 1000,
    "reconnectTimeout": 5000
  }
]
