examples/Modbus-Slave.json
[{"id":"773d005b.cd22d8","type":"tab","label":"Flex Server as Slave","disabled":false,"info":""},{"id":"b5c5319c.07e0b8","type":"inject","z":"773d005b.cd22d8","name":"","topic":"Inject","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["9f245955.123a5"]]},{"id":"9f245955.123a5","type":"modbus-flex-server","z":"773d005b.cd22d8","name":"","logEnabled":false,"serverAddress":"192.168.178.11","serverPort":"11502","responseDelay":100,"unitId":1,"delayUnit":"ms","coilsBufferSize":20000,"registersBufferSize":20000,"minAddress":0,"splitAddress":10000,"funcGetCoil":"function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetDiscreteInput":"function getFlexDiscreteInput(addr, unitID) {\n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetInputRegister":"function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcGetHoldingRegister":"function getFlexHoldingRegsiter(addr, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcSetCoil":"function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId ) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}","funcSetRegister":"function setFlexRegister(addr, value, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId) { \n\t\tnode.registers.writeUInt16BE(value, (addr-node.splitAddress-1) * node.bufferFactor)  \n\t} \n}","showErrors":false,"x":540,"y":180,"wires":[["c2a77416.0c366"],["ef53de42.56dfd8"],["37d9456a.be0852"],["2ba65ddb.5f27ca"]]},{"id":"ad6a539.c3737b","type":"inject","z":"773d005b.cd22d8","name":"","topic":"","payload":"123","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["f5b52f9.da40ed"]]},{"id":"f5b52f9.da40ed","type":"function","z":"773d005b.cd22d8","name":"Set Input register 0","func":"msg.payload = { \n    'value': msg.payload, \n    'register': 'input', \n    'address': 0 ,\n    'disablemsg' : 1\n} ;\nreturn msg","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["9f245955.123a5"]]},{"id":"6d5a3077.e2632","type":"inject","z":"773d005b.cd22d8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["f5b52f9.da40ed"]]},{"id":"c2a77416.0c366","type":"debug","z":"773d005b.cd22d8","name":"holding ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":120,"wires":[]},{"id":"ef53de42.56dfd8","type":"debug","z":"773d005b.cd22d8","name":"coils ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":160,"wires":[]},{"id":"37d9456a.be0852","type":"debug","z":"773d005b.cd22d8","name":"input ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":200,"wires":[]},{"id":"2ba65ddb.5f27ca","type":"debug","z":"773d005b.cd22d8","name":"discrete inputs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":240,"wires":[]}]