examples/Modbus-Flex-Suite.json
[
  {
    "id": "7fe24ff3.a035d8",
    "type": "tab",
    "label": "Modbus Flex Suite",
    "disabled": false,
    "info": ""
  },
  {
    "id": "fb5b27c7.4c044",
    "type": "modbus-flex-server",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "logEnabled": false,
    "serverPort": "15502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "x": 340,
    "y": 60,
    "wires": [
      [
        "1f4ea397.1a93cc"
      ],
      [
        "1f4ea397.1a93cc"
      ],
      [
        "1f4ea397.1a93cc"
      ]
    ]
  },
  {
    "id": "1f4ea397.1a93cc",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 60,
    "wires": []
  },
  {
    "id": "1c96b28.e456cce",
    "type": "inject",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "fb5b27c7.4c044"
      ]
    ]
  },
  {
    "id": "1531f68b.e73df1",
    "type": "catch",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "scope": null,
    "x": 100,
    "y": 600,
    "wires": [
      [
        "495565a1.5ba0bc",
        "bb217982.4d736",
        "1f5b563.1137d2a"
      ]
    ]
  },
  {
    "id": "495565a1.5ba0bc",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 270,
    "y": 600,
    "wires": []
  },
  {
    "id": "f56d63eb.7f5138",
    "type": "modbus-queue-info",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Write Client Queue",
    "topic": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "52fbc0f.0133f4",
    "errorOnHighLevel": false,
    "x": 860,
    "y": 660,
    "wires": [
      [
        "a26f0443.4051d"
      ]
    ]
  },
  {
    "id": "71778d10.71616c",
    "type": "function",
    "z": "7fe24ff3.a035d8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 640,
    "wires": [
      [
        "f56d63eb.7f5138"
      ]
    ]
  },
  {
    "id": "a9944ef9.01cb38",
    "type": "function",
    "z": "7fe24ff3.a035d8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 680,
    "wires": [
      [
        "f56d63eb.7f5138"
      ]
    ]
  },
  {
    "id": "a26f0443.4051d",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1070,
    "y": 660,
    "wires": []
  },
  {
    "id": "bb217982.4d736",
    "type": "switch",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Read Client",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Local Read Client",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 340,
    "y": 660,
    "wires": [
      [
        "a9944ef9.01cb38",
        "71778d10.71616c"
      ]
    ]
  },
  {
    "id": "fa12f3e2.dcc88",
    "type": "modbus-read",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Polling",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "1",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": true,
    "startDelayTime": "1",
    "server": "52fbc0f.0133f4",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 180,
    "y": 240,
    "wires": [
      [
        "31bb1f09.8ce838",
        "f1c1e0a1.0a272",
        "3593e8f1.32cb5"
      ],
      [
        "53727f63.146108",
        "a2b92ec0.3d043"
      ]
    ]
  },
  {
    "id": "31bb1f09.8ce838",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 430,
    "y": 140,
    "wires": []
  },
  {
    "id": "a2b92ec0.3d043",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 410,
    "y": 280,
    "wires": []
  },
  {
    "id": "53727f63.146108",
    "type": "modbus-response",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "registerShowMax": 20,
    "x": 450,
    "y": 320,
    "wires": []
  },
  {
    "id": "f1c1e0a1.0a272",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 410,
    "y": 220,
    "wires": []
  },
  {
    "id": "3593e8f1.32cb5",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "responseBuffer",
    "x": 460,
    "y": 180,
    "wires": []
  },
  {
    "id": "74c48504.b5b8dc",
    "type": "modbus-write",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Writing",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "server": "8cc5e33c.0ed858",
    "x": 480,
    "y": 500,
    "wires": [
      [
        "308d2df4.f5ffca",
        "43c42f52.8fa8a8",
        "20994511.468342"
      ],
      [
        "6dc7dd59.830ba4",
        "49d16127.e84088"
      ]
    ]
  },
  {
    "id": "12e63656.bd064a",
    "type": "inject",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.4",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 500,
    "wires": [
      [
        "6cf8355d.4f2df4"
      ]
    ]
  },
  {
    "id": "6cf8355d.4f2df4",
    "type": "function",
    "z": "7fe24ff3.a035d8",
    "name": "Random",
    "func": "msg.payload = Math.random() * (65000 - 1) + 1\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 500,
    "wires": [
      [
        "74c48504.b5b8dc"
      ]
    ]
  },
  {
    "id": "308d2df4.f5ffca",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 730,
    "y": 400,
    "wires": []
  },
  {
    "id": "6dc7dd59.830ba4",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 540,
    "wires": []
  },
  {
    "id": "49d16127.e84088",
    "type": "modbus-response",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "registerShowMax": 20,
    "x": 750,
    "y": 580,
    "wires": []
  },
  {
    "id": "20994511.468342",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 480,
    "wires": []
  },
  {
    "id": "43c42f52.8fa8a8",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "responseBuffer",
    "x": 760,
    "y": 440,
    "wires": []
  },
  {
    "id": "18b656f5.eb76c9",
    "type": "modbus-queue-info",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Write Client Queue",
    "topic": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "8cc5e33c.0ed858",
    "errorOnHighLevel": false,
    "x": 860,
    "y": 740,
    "wires": [
      [
        "99de7fc4.2317f"
      ]
    ]
  },
  {
    "id": "8bd2456c.bed41",
    "type": "function",
    "z": "7fe24ff3.a035d8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 720,
    "wires": [
      [
        "18b656f5.eb76c9"
      ]
    ]
  },
  {
    "id": "ef78e0b2.2dec68",
    "type": "function",
    "z": "7fe24ff3.a035d8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 760,
    "wires": [
      [
        "18b656f5.eb76c9"
      ]
    ]
  },
  {
    "id": "99de7fc4.2317f",
    "type": "debug",
    "z": "7fe24ff3.a035d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1070,
    "y": 740,
    "wires": []
  },
  {
    "id": "1f5b563.1137d2a",
    "type": "switch",
    "z": "7fe24ff3.a035d8",
    "name": "Modbus Local Write Client",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Local Write Client",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 340,
    "y": 740,
    "wires": [
      [
        "ef78e0b2.2dec68",
        "8bd2456c.bed41"
      ]
    ]
  },
  {
    "id": "52fbc0f.0133f4",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Local Read Client",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "8cc5e33c.0ed858",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Local Write Client",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
