examples/Modbus-HTTP.json
[
  {
    "id": "48d507a9.7b10b",
    "type": "tab",
    "label": "Modbus HTTP",
    "disabled": false,
    "info": ""
  },
  {
    "id": "af4b38fc.7189d8",
    "type": "modbus-getter",
    "z": "48d507a9.7b10b",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "logIOActivities": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "4",
    "server": "1643215c.d26bdf",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "23135ef2.b4d70a",
        "4b6cabcb.a2efbc"
      ],
      [
        "6435fc33.02f8bc"
      ]
    ]
  },
  {
    "id": "4d30d360.fc131c",
    "type": "http in",
    "z": "48d507a9.7b10b",
    "name": "",
    "url": "/modbus/flex/read",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 340,
    "wires": [
      [
        "86380945.58d48"
      ]
    ]
  },
  {
    "id": "23135ef2.b4d70a",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 140,
    "wires": []
  },
  {
    "id": "6435fc33.02f8bc",
    "type": "modbus-response",
    "z": "48d507a9.7b10b",
    "name": "",
    "registerShowMax": 20,
    "x": 690,
    "y": 200,
    "wires": []
  },
  {
    "id": "86380945.58d48",
    "type": "modbus-flex-getter",
    "z": "48d507a9.7b10b",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "logIOActivities": false,
    "server": "1643215c.d26bdf",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "x": 430,
    "y": 340,
    "wires": [
      [
        "1751bef4.234489",
        "a1e1581.5cc80a8"
      ],
      [
        "39467c11.ee7f2c"
      ]
    ]
  },
  {
    "id": "39467c11.ee7f2c",
    "type": "modbus-response",
    "z": "48d507a9.7b10b",
    "name": "",
    "registerShowMax": 20,
    "x": 750,
    "y": 340,
    "wires": []
  },
  {
    "id": "1751bef4.234489",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 280,
    "wires": []
  },
  {
    "id": "9ff86637.517268",
    "type": "catch",
    "z": "48d507a9.7b10b",
    "name": "",
    "scope": null,
    "x": 650,
    "y": 80,
    "wires": [
      [
        "3f948b08.1adee4"
      ]
    ]
  },
  {
    "id": "a1e1581.5cc80a8",
    "type": "http response",
    "z": "48d507a9.7b10b",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 640,
    "y": 280,
    "wires": []
  },
  {
    "id": "9807bbd5.79de2",
    "type": "http in",
    "z": "48d507a9.7b10b",
    "name": "",
    "url": "/modbus/read",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "af4b38fc.7189d8"
      ]
    ]
  },
  {
    "id": "4b6cabcb.a2efbc",
    "type": "http response",
    "z": "48d507a9.7b10b",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 650,
    "y": 130,
    "wires": []
  },
  {
    "id": "3f948b08.1adee4",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 800,
    "y": 80,
    "wires": []
  },
  {
    "id": "8edb9777.3b9798",
    "type": "modbus-flex-write",
    "z": "48d507a9.7b10b",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "1643215c.d26bdf",
    "emptyMsgOnFail": true,
    "x": 420,
    "y": 530,
    "wires": [
      [
        "1727b75c.84c481",
        "6dd6797c.306588"
      ],
      [
        "f956639.75ce5a"
      ]
    ]
  },
  {
    "id": "d0f45d9c.fdc2d8",
    "type": "modbus-write",
    "z": "48d507a9.7b10b",
    "name": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "server": "1643215c.d26bdf",
    "x": 410,
    "y": 440,
    "wires": [
      [
        "a8214f48.a14f",
        "3df225f.2e8555a"
      ],
      [
        "93fa45a9.9cc3e8"
      ]
    ]
  },
  {
    "id": "664c5b19.6fd4fc",
    "type": "http in",
    "z": "48d507a9.7b10b",
    "name": "",
    "url": "/modbus/write",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 440,
    "wires": [
      [
        "d0f45d9c.fdc2d8"
      ]
    ]
  },
  {
    "id": "a8214f48.a14f",
    "type": "http response",
    "z": "48d507a9.7b10b",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 650,
    "y": 400,
    "wires": []
  },
  {
    "id": "93fa45a9.9cc3e8",
    "type": "modbus-response",
    "z": "48d507a9.7b10b",
    "name": "",
    "registerShowMax": 20,
    "x": 790,
    "y": 440,
    "wires": []
  },
  {
    "id": "7f097530.db320c",
    "type": "http in",
    "z": "48d507a9.7b10b",
    "name": "",
    "url": "/modbus/flex/write",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 530,
    "wires": [
      [
        "8edb9777.3b9798"
      ]
    ]
  },
  {
    "id": "1727b75c.84c481",
    "type": "http response",
    "z": "48d507a9.7b10b",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 650,
    "y": 490,
    "wires": []
  },
  {
    "id": "f956639.75ce5a",
    "type": "modbus-response",
    "z": "48d507a9.7b10b",
    "name": "",
    "registerShowMax": 20,
    "x": 750,
    "y": 560,
    "wires": []
  },
  {
    "id": "aa27ffe7.c6eae8",
    "type": "comment",
    "z": "48d507a9.7b10b",
    "name": "HTTP request GET working examples",
    "info": "## Read\n\n### Flex Read\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=5\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=5\n\n### Read\n\nhttp://localhost:1880/modbus/read\n\n## Write\n\n### Test HTTP without Modbus\n\nhttp://localhost:1880/modbus/flex/write/test?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n\n### Flex Write\n\nhttp://localhost:1880/modbus/flex/write?value=10&unitid=1&fc=6&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/write?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n### Write\n\nhttp://localhost:1880/modbus/write\n",
    "x": 240,
    "y": 140,
    "wires": []
  },
  {
    "id": "beed7ba6.888c5",
    "type": "http in",
    "z": "48d507a9.7b10b",
    "name": "",
    "url": "/modbus/flex/write/test",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 620,
    "wires": [
      [
        "867f198f.a263a8"
      ]
    ]
  },
  {
    "id": "94336f1.387389",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 590,
    "y": 620,
    "wires": []
  },
  {
    "id": "867f198f.a263a8",
    "type": "function",
    "z": "48d507a9.7b10b",
    "name": "",
    "func": "if (msg.payload.value && msg.payload.value.indexOf(',') > -1) {\n    msg.payload.value = JSON.parse(msg.payload.value)\n}\n\nif (msg.value && msg.value.indexOf(',') > -1) {\n    msg.value = JSON.parse(msg.payload.value)\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 620,
    "wires": [
      [
        "94336f1.387389",
        "189c3336.9c40fd"
      ]
    ]
  },
  {
    "id": "189c3336.9c40fd",
    "type": "http response",
    "z": "48d507a9.7b10b",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 600,
    "y": 660,
    "wires": []
  },
  {
    "id": "d8f1a250.2d50a8",
    "type": "modbus-flex-server",
    "z": "48d507a9.7b10b",
    "name": "",
    "logEnabled": false,
    "serverAddress": "0.0.0.0",
    "serverPort": "18502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetDiscreteInput": "function getFlexDiscreteInput(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "showErrors": false,
    "x": 200,
    "y": 60,
    "wires": [
      [],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "3df225f.2e8555a",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 400,
    "wires": []
  },
  {
    "id": "6dd6797c.306588",
    "type": "debug",
    "z": "48d507a9.7b10b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 830,
    "y": 500,
    "wires": []
  },
  {
    "id": "1643215c.d26bdf",
    "type": "modbus-client",
    "z": "48d507a9.7b10b",
    "name": "Modbus Flex Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "18502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectTimeout": 2000
  }
]
