examples/Modbus-Flex-Suite.json
[
  {
    "id": "ab1d78a4.520fc8",
    "type": "tab",
    "label": "Modbus Flex Suite",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d910266.1f5e5d8",
    "type": "modbus-flex-server",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "logEnabled": false,
    "serverAddress": "",
    "serverPort": "15502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "showErrors": false,
    "x": 340,
    "y": 60,
    "wires": [
      [
        "acfe7ca.07f488"
      ],
      [
        "acfe7ca.07f488"
      ],
      [
        "acfe7ca.07f488"
      ]
    ]
  },
  {
    "id": "acfe7ca.07f488",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 60,
    "wires": []
  },
  {
    "id": "bb07466e.eff0e8",
    "type": "inject",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "d910266.1f5e5d8"
      ]
    ]
  },
  {
    "id": "bb695e78.0554b8",
    "type": "catch",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "scope": null,
    "x": 100,
    "y": 600,
    "wires": [
      [
        "34f6658a.de2aea",
        "a5513ac6.878b4",
        "fa21fff2.1cafb8"
      ]
    ]
  },
  {
    "id": "34f6658a.de2aea",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 270,
    "y": 600,
    "wires": []
  },
  {
    "id": "bf4ccf55.e7cb28",
    "type": "modbus-queue-info",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Write Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "7a9975ca.84578c",
    "errorOnHighLevel": false,
    "x": 860,
    "y": 660,
    "wires": [
      [
        "45f4cfb2.458ad"
      ]
    ]
  },
  {
    "id": "3f2f582a.0fb448",
    "type": "function",
    "z": "ab1d78a4.520fc8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 640,
    "wires": [
      [
        "bf4ccf55.e7cb28"
      ]
    ]
  },
  {
    "id": "5211597c.76fb6",
    "type": "function",
    "z": "ab1d78a4.520fc8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 680,
    "wires": [
      [
        "bf4ccf55.e7cb28"
      ]
    ]
  },
  {
    "id": "45f4cfb2.458ad",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1070,
    "y": 660,
    "wires": []
  },
  {
    "id": "a5513ac6.878b4",
    "type": "switch",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Read Client",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Local Read Client",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 340,
    "y": 660,
    "wires": [
      [
        "5211597c.76fb6",
        "3f2f582a.0fb448"
      ]
    ]
  },
  {
    "id": "352903de.e001bc",
    "type": "modbus-read",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Polling",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "1",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": true,
    "startDelayTime": "1",
    "server": "7a9975ca.84578c",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 180,
    "y": 240,
    "wires": [
      [
        "1972e0dd.d85e5f",
        "e41e594.056c428",
        "bee4558a.d12fa"
      ],
      [
        "455313cf.7e84a4",
        "f13ca367.620e1"
      ]
    ]
  },
  {
    "id": "1972e0dd.d85e5f",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 430,
    "y": 140,
    "wires": []
  },
  {
    "id": "f13ca367.620e1",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 410,
    "y": 280,
    "wires": []
  },
  {
    "id": "455313cf.7e84a4",
    "type": "modbus-response",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "registerShowMax": 20,
    "x": 450,
    "y": 320,
    "wires": []
  },
  {
    "id": "e41e594.056c428",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 410,
    "y": 220,
    "wires": []
  },
  {
    "id": "bee4558a.d12fa",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "responseBuffer",
    "x": 460,
    "y": 180,
    "wires": []
  },
  {
    "id": "627bebc5.b4bdb4",
    "type": "modbus-write",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Writing",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "server": "a390e2c3.5a791",
    "x": 480,
    "y": 500,
    "wires": [
      [
        "83a945e5.961428",
        "7cabb2ae.308694",
        "44423897.f1add"
      ],
      [
        "2500cd6b.017822",
        "b4ea201b.067178"
      ]
    ]
  },
  {
    "id": "49a0e607.06cc3",
    "type": "inject",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.4",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 500,
    "wires": [
      [
        "daded2f4.bdcae"
      ]
    ]
  },
  {
    "id": "daded2f4.bdcae",
    "type": "function",
    "z": "ab1d78a4.520fc8",
    "name": "Random",
    "func": "msg.payload = Math.random() * (65000 - 1) + 1\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 500,
    "wires": [
      [
        "627bebc5.b4bdb4"
      ]
    ]
  },
  {
    "id": "83a945e5.961428",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 730,
    "y": 400,
    "wires": []
  },
  {
    "id": "2500cd6b.017822",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 540,
    "wires": []
  },
  {
    "id": "b4ea201b.067178",
    "type": "modbus-response",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "registerShowMax": 20,
    "x": 750,
    "y": 580,
    "wires": []
  },
  {
    "id": "44423897.f1add",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 480,
    "wires": []
  },
  {
    "id": "7cabb2ae.308694",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "responseBuffer",
    "x": 760,
    "y": 440,
    "wires": []
  },
  {
    "id": "e4b60da4.496ec8",
    "type": "modbus-queue-info",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Write Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "a390e2c3.5a791",
    "errorOnHighLevel": false,
    "x": 860,
    "y": 740,
    "wires": [
      [
        "1da191d2.0be986"
      ]
    ]
  },
  {
    "id": "3ec1b336.2e3f5c",
    "type": "function",
    "z": "ab1d78a4.520fc8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 720,
    "wires": [
      [
        "e4b60da4.496ec8"
      ]
    ]
  },
  {
    "id": "70b8dc7.a1f0524",
    "type": "function",
    "z": "ab1d78a4.520fc8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 760,
    "wires": [
      [
        "e4b60da4.496ec8"
      ]
    ]
  },
  {
    "id": "1da191d2.0be986",
    "type": "debug",
    "z": "ab1d78a4.520fc8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1070,
    "y": 740,
    "wires": []
  },
  {
    "id": "fa21fff2.1cafb8",
    "type": "switch",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Write Client",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Local Write Client",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 340,
    "y": 740,
    "wires": [
      [
        "70b8dc7.a1f0524",
        "3ec1b336.2e3f5c"
      ]
    ]
  },
  {
    "id": "7a9975ca.84578c",
    "type": "modbus-client",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Read Client",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "a390e2c3.5a791",
    "type": "modbus-client",
    "z": "ab1d78a4.520fc8",
    "name": "Modbus Local Write Client",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
