examples/Modbus-HTTP.json
[
  {
    "id": "5e30f7c8.04e63",
    "type": "tab",
    "label": "Modbus HTTP",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8b0cdf33.8cc298",
    "type": "modbus-getter",
    "z": "5e30f7c8.04e63",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "logIOActivities": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "4",
    "server": "945cb9f2.ccb41",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 410,
    "y": 190,
    "wires": [
      [
        "aa9a7383.b66568",
        "71b13b0d.ac9014"
      ],
      [
        "72313714.36104"
      ]
    ]
  },
  {
    "id": "ebb2535f.202d68",
    "type": "http in",
    "z": "5e30f7c8.04e63",
    "name": "",
    "url": "/modbus/flex/read",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 340,
    "wires": [
      [
        "7f2d22.b84e42e"
      ]
    ]
  },
  {
    "id": "aa9a7383.b66568",
    "type": "debug",
    "z": "5e30f7c8.04e63",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 770,
    "y": 130,
    "wires": []
  },
  {
    "id": "72313714.36104",
    "type": "modbus-response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "registerShowMax": 20,
    "x": 680,
    "y": 170,
    "wires": []
  },
  {
    "id": "7f2d22.b84e42e",
    "type": "modbus-flex-getter",
    "z": "5e30f7c8.04e63",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "logIOActivities": false,
    "server": "945cb9f2.ccb41",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 430,
    "y": 340,
    "wires": [
      [
        "5361b656.85b1c",
        "d19adc6f.dad66"
      ],
      [
        "abd8f1.9d11471"
      ]
    ]
  },
  {
    "id": "abd8f1.9d11471",
    "type": "modbus-response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "registerShowMax": 20,
    "x": 670,
    "y": 330,
    "wires": []
  },
  {
    "id": "5361b656.85b1c",
    "type": "debug",
    "z": "5e30f7c8.04e63",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 750,
    "y": 290,
    "wires": []
  },
  {
    "id": "ca8560fd.4b626",
    "type": "catch",
    "z": "5e30f7c8.04e63",
    "name": "",
    "scope": null,
    "x": 650,
    "y": 80,
    "wires": [
      [
        "11f72f0f.2cdbc9"
      ]
    ]
  },
  {
    "id": "1932c5c1.084572",
    "type": "modbus-flex-server",
    "z": "5e30f7c8.04e63",
    "name": "",
    "logEnabled": false,
    "serverAddress": "",
    "serverPort": "18502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "showErrors": false,
    "x": 200,
    "y": 70,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "d19adc6f.dad66",
    "type": "http response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 290,
    "wires": []
  },
  {
    "id": "57c428f7.95dc68",
    "type": "http in",
    "z": "5e30f7c8.04e63",
    "name": "",
    "url": "/modbus/read",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 190,
    "wires": [
      [
        "8b0cdf33.8cc298"
      ]
    ]
  },
  {
    "id": "71b13b0d.ac9014",
    "type": "http response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 130,
    "wires": []
  },
  {
    "id": "11f72f0f.2cdbc9",
    "type": "debug",
    "z": "5e30f7c8.04e63",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 800,
    "y": 80,
    "wires": []
  },
  {
    "id": "241a5abd.aedf9e",
    "type": "modbus-flex-write",
    "z": "5e30f7c8.04e63",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "945cb9f2.ccb41",
    "x": 420,
    "y": 530,
    "wires": [
      [
        "8f3e28b7.efb6f"
      ],
      [
        "dbae730b.99c0b8"
      ]
    ]
  },
  {
    "id": "993ad227.53248",
    "type": "modbus-write",
    "z": "5e30f7c8.04e63",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "server": "945cb9f2.ccb41",
    "x": 410,
    "y": 440,
    "wires": [
      [
        "e1b3e8f6.c123d8"
      ],
      [
        "2bb0ea14.22e71e"
      ]
    ]
  },
  {
    "id": "53967940.ccc398",
    "type": "http in",
    "z": "5e30f7c8.04e63",
    "name": "",
    "url": "/modbus/write",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 440,
    "wires": [
      [
        "993ad227.53248"
      ]
    ]
  },
  {
    "id": "e1b3e8f6.c123d8",
    "type": "http response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 400,
    "wires": []
  },
  {
    "id": "2bb0ea14.22e71e",
    "type": "modbus-response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "registerShowMax": 20,
    "x": 680,
    "y": 440,
    "wires": []
  },
  {
    "id": "b56b9834.92008",
    "type": "http in",
    "z": "5e30f7c8.04e63",
    "name": "",
    "url": "/modbus/flex/write",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 530,
    "wires": [
      [
        "241a5abd.aedf9e"
      ]
    ]
  },
  {
    "id": "8f3e28b7.efb6f",
    "type": "http response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 490,
    "wires": []
  },
  {
    "id": "dbae730b.99c0b8",
    "type": "modbus-response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "registerShowMax": 20,
    "x": 680,
    "y": 530,
    "wires": []
  },
  {
    "id": "f6a7394e.9429d8",
    "type": "comment",
    "z": "5e30f7c8.04e63",
    "name": "HTTP request GET working examples",
    "info": "## Read\n\n### Flex Read\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=5\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=5\n\n### Read\n\nhttp://localhost:1880/modbus/read\n\n## Write\n\n### Test HTTP without Modbus\n\nhttp://localhost:1880/modbus/flex/write/test?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n\n### Flex Write\n\nhttp://localhost:1880/modbus/flex/write?value=10&unitid=1&fc=6&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/write?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n### Write\n\nhttp://localhost:1880/modbus/write\n",
    "x": 240,
    "y": 140,
    "wires": []
  },
  {
    "id": "96d5f5d3.a87fb",
    "type": "http in",
    "z": "5e30f7c8.04e63",
    "name": "",
    "url": "/modbus/flex/write/test",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 620,
    "wires": [
      [
        "416cbb41.d98c94"
      ]
    ]
  },
  {
    "id": "e76bdc9f.cc6ca",
    "type": "debug",
    "z": "5e30f7c8.04e63",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 590,
    "y": 620,
    "wires": []
  },
  {
    "id": "416cbb41.d98c94",
    "type": "function",
    "z": "5e30f7c8.04e63",
    "name": "",
    "func": "if (msg.payload.value && msg.payload.value.indexOf(',') > -1) {\n    msg.payload.value = JSON.parse(msg.payload.value)\n}\n\nif (msg.value && msg.value.indexOf(',') > -1) {\n    msg.value = JSON.parse(msg.payload.value)\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 620,
    "wires": [
      [
        "e76bdc9f.cc6ca",
        "894c612.20ec6a"
      ]
    ]
  },
  {
    "id": "894c612.20ec6a",
    "type": "http response",
    "z": "5e30f7c8.04e63",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 590,
    "y": 660,
    "wires": []
  },
  {
    "id": "945cb9f2.ccb41",
    "type": "modbus-client",
    "z": "5e30f7c8.04e63",
    "name": "Modbus Flex Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "18502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
