examples/MultipleDynamicReadWrite.json
[
  {
    "id": "e0314d14.841f2",
    "type": "tab",
    "label": "Modbus Multi",
    "disabled": false,
    "info": "flow to learn how to read with multiple devices by \non connection and node with less UI CPU load"
  },
  {
    "id": "5e0951d9.ab6fc",
    "type": "modbus-server",
    "z": "e0314d14.841f2",
    "name": "",
    "logEnabled": true,
    "serverPort": "12502",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "x": 980,
    "y": 100,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "42615718.59fe08",
    "type": "modbus-flex-write",
    "z": "e0314d14.841f2",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "d9ba0d0d.0a6",
    "x": 770,
    "y": 180,
    "wires": [
      [],
      [
        "e94eb1ea.fb4c3"
      ]
    ]
  },
  {
    "id": "e94eb1ea.fb4c3",
    "type": "modbus-response",
    "z": "e0314d14.841f2",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 180,
    "wires": []
  },
  {
    "id": "f6c86ba1.0198e8",
    "type": "modbus-response",
    "z": "e0314d14.841f2",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "3839f391.fef63c",
    "type": "inject",
    "z": "e0314d14.841f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 180,
    "wires": [
      [
        "1e551605.9e1cda"
      ]
    ]
  },
  {
    "id": "58d68bb3.3aef24",
    "type": "inject",
    "z": "e0314d14.841f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 240,
    "wires": [
      [
        "edb41515.07f7f8"
      ]
    ]
  },
  {
    "id": "1e551605.9e1cda",
    "type": "data-generator",
    "z": "e0314d14.841f2",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}]",
    "x": 280,
    "y": 180,
    "wires": [
      [
        "9c3764c9.2751b8"
      ]
    ]
  },
  {
    "id": "9c3764c9.2751b8",
    "type": "function",
    "z": "e0314d14.841f2",
    "name": "FC16 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 16,\n    unitid: 1,\n    address: 0,\n    quantity: 4\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 180,
    "wires": [
      [
        "42615718.59fe08"
      ]
    ]
  },
  {
    "id": "f5bfbfbf.e3c6e",
    "type": "catch",
    "z": "e0314d14.841f2",
    "name": "",
    "scope": null,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "5f6f8a37.b0cd84"
      ]
    ]
  },
  {
    "id": "5f6f8a37.b0cd84",
    "type": "debug",
    "z": "e0314d14.841f2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 270,
    "y": 120,
    "wires": []
  },
  {
    "id": "9a809ca0.9c456",
    "type": "modbus-flex-getter",
    "z": "e0314d14.841f2",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "8c537442.d3ff38",
    "x": 780,
    "y": 300,
    "wires": [
      [],
      [
        "e1796351.80a07"
      ]
    ]
  },
  {
    "id": "f206187b.d34438",
    "type": "inject",
    "z": "e0314d14.841f2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 300,
    "wires": [
      [
        "6c2bcfac.c6149"
      ]
    ]
  },
  {
    "id": "6c2bcfac.c6149",
    "type": "function",
    "z": "e0314d14.841f2",
    "name": "FC3 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: 1,\n    address: 0,\n    quantity: 4 \n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 300,
    "wires": [
      [
        "9a809ca0.9c456"
      ]
    ]
  },
  {
    "id": "e1796351.80a07",
    "type": "modbus-response",
    "z": "e0314d14.841f2",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 300,
    "wires": []
  },
  {
    "id": "edb41515.07f7f8",
    "type": "modbus-getter",
    "z": "e0314d14.841f2",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "4",
    "server": "8c537442.d3ff38",
    "x": 760,
    "y": 240,
    "wires": [
      [],
      [
        "f6c86ba1.0198e8"
      ]
    ]
  },
  {
    "id": "d9ba0d0d.0a6",
    "type": "modbus-client",
    "z": "e0314d14.841f2",
    "name": "Write VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "8c537442.d3ff38",
    "type": "modbus-client",
    "z": "e0314d14.841f2",
    "name": "Read VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
