examples/Multiple-Dynamic-FunctionCodes.json
[
  {
    "id": "8e447a1a.ab53d8",
    "type": "tab",
    "label": "Modbus Multi",
    "disabled": false,
    "info": "flow to learn how to read with multiple devices by \non connection and node with less UI CPU load"
  },
  {
    "id": "d9c65410.57d46",
    "type": "modbus-server",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "logEnabled": true,
    "serverPort": "12502",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "x": 760,
    "y": 100,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "42d17616.bd666",
    "type": "modbus-flex-write",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "6a8c3aa9.835134",
    "x": 770,
    "y": 180,
    "wires": [
      [],
      [
        "36aff117.1f04a6"
      ]
    ]
  },
  {
    "id": "36aff117.1f04a6",
    "type": "modbus-response",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 180,
    "wires": []
  },
  {
    "id": "d85bb03a.156128",
    "type": "modbus-response",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "436fab1b.86194c",
    "type": "inject",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 180,
    "wires": [
      [
        "974917ca.e9dda8"
      ]
    ]
  },
  {
    "id": "4b8f642b.234d7c",
    "type": "inject",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 240,
    "wires": [
      [
        "eb69bb0d.2598b"
      ]
    ]
  },
  {
    "id": "974917ca.e9dda8",
    "type": "data-generator",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}]",
    "x": 280,
    "y": 180,
    "wires": [
      [
        "243d6d47.3e3252"
      ]
    ]
  },
  {
    "id": "243d6d47.3e3252",
    "type": "function",
    "z": "8e447a1a.ab53d8",
    "name": "FC16 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 16,\n    unitid: 1,\n    address: 0,\n    quantity: 4\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 180,
    "wires": [
      [
        "42d17616.bd666"
      ]
    ]
  },
  {
    "id": "a44f4fa0.2bc4d",
    "type": "catch",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "scope": null,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "24becf1c.49a7e8"
      ]
    ]
  },
  {
    "id": "24becf1c.49a7e8",
    "type": "debug",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 270,
    "y": 120,
    "wires": []
  },
  {
    "id": "b06548c8.b0808",
    "type": "modbus-flex-getter",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "d857bd51.dfc4d8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 780,
    "y": 300,
    "wires": [
      [],
      [
        "30d668a1.d9504"
      ]
    ]
  },
  {
    "id": "19539709.b3b881",
    "type": "inject",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 300,
    "wires": [
      [
        "d0ba6728.df8f38"
      ]
    ]
  },
  {
    "id": "d0ba6728.df8f38",
    "type": "function",
    "z": "8e447a1a.ab53d8",
    "name": "FC3 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: 1,\n    address: 0,\n    quantity: 4 \n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 300,
    "wires": [
      [
        "b06548c8.b0808"
      ]
    ]
  },
  {
    "id": "30d668a1.d9504",
    "type": "modbus-response",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 300,
    "wires": []
  },
  {
    "id": "eb69bb0d.2598b",
    "type": "modbus-getter",
    "z": "8e447a1a.ab53d8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "4",
    "server": "d857bd51.dfc4d8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 760,
    "y": 240,
    "wires": [
      [],
      [
        "d85bb03a.156128"
      ]
    ]
  },
  {
    "id": "ef617d28.f7b8a",
    "type": "modbus-queue-info",
    "z": "8e447a1a.ab53d8",
    "name": "Queue Info Read",
    "topic": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "d857bd51.dfc4d8",
    "errorOnHighLevel": false,
    "x": 770,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "1316838f.45fee4",
    "type": "modbus-queue-info",
    "z": "8e447a1a.ab53d8",
    "name": "Queue Info Write",
    "topic": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "6a8c3aa9.835134",
    "errorOnHighLevel": false,
    "x": 770,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "6a8c3aa9.835134",
    "type": "modbus-client",
    "z": "8e447a1a.ab53d8",
    "name": "Write VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "d857bd51.dfc4d8",
    "type": "modbus-client",
    "z": "8e447a1a.ab53d8",
    "name": "Read VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
