examples/Multiple-Dynamic-FunctionCodes.json
[
  {
    "id": "4dad68e9.e8a0c8",
    "type": "tab",
    "label": "Modbus Multi",
    "disabled": false,
    "info": "flow to learn how to read with multiple devices by \non connection and node with less UI CPU load"
  },
  {
    "id": "ebd05cf5.fb0e9",
    "type": "modbus-server",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "logEnabled": true,
    "hostname": "",
    "serverPort": "12502",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "discreteBufferSize": "1024",
    "showErrors": false,
    "x": 760,
    "y": 100,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "ed9a4912.dd23",
    "type": "modbus-flex-write",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "81e910a8.634ae8",
    "x": 770,
    "y": 180,
    "wires": [
      [],
      [
        "7cc1a5b7.efef5c"
      ]
    ]
  },
  {
    "id": "7cc1a5b7.efef5c",
    "type": "modbus-response",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 180,
    "wires": []
  },
  {
    "id": "fcdbefff.903288",
    "type": "modbus-response",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "9c73de8a.5b77e",
    "type": "inject",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 180,
    "wires": [
      [
        "bd9576d6.ca556"
      ]
    ]
  },
  {
    "id": "9d1a1131.4e695",
    "type": "inject",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 240,
    "wires": [
      [
        "788901cc.bdeec8"
      ]
    ]
  },
  {
    "id": "bd9576d6.ca556",
    "type": "data-generator",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}, {{int 1 65000}}]",
    "x": 280,
    "y": 180,
    "wires": [
      [
        "929c255.3d1e058"
      ]
    ]
  },
  {
    "id": "929c255.3d1e058",
    "type": "function",
    "z": "4dad68e9.e8a0c8",
    "name": "FC16 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 16,\n    unitid: 1,\n    address: 0,\n    quantity: 4\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 180,
    "wires": [
      [
        "ed9a4912.dd23"
      ]
    ]
  },
  {
    "id": "dcf44f92.c62b28",
    "type": "catch",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "scope": null,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "bb9e9913.312a98"
      ]
    ]
  },
  {
    "id": "bb9e9913.312a98",
    "type": "debug",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 270,
    "y": 120,
    "wires": []
  },
  {
    "id": "a9264650.d9409",
    "type": "modbus-flex-getter",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "c0d8a780.03c62",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 780,
    "y": 300,
    "wires": [
      [],
      [
        "382e7fc6.c52be8"
      ]
    ]
  },
  {
    "id": "72a4ddee.ec34a4",
    "type": "inject",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 300,
    "wires": [
      [
        "b308aff9.2ae14"
      ]
    ]
  },
  {
    "id": "b308aff9.2ae14",
    "type": "function",
    "z": "4dad68e9.e8a0c8",
    "name": "FC3 - Unit-ID 1 - 0-4 Register",
    "func": "msg.payload = { \n    value: msg.payload,\n    fc: 3,\n    unitid: 1,\n    address: 0,\n    quantity: 4 \n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 300,
    "wires": [
      [
        "a9264650.d9409"
      ]
    ]
  },
  {
    "id": "382e7fc6.c52be8",
    "type": "modbus-response",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "registerShowMax": 20,
    "x": 1010,
    "y": 300,
    "wires": []
  },
  {
    "id": "788901cc.bdeec8",
    "type": "modbus-getter",
    "z": "4dad68e9.e8a0c8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "4",
    "server": "c0d8a780.03c62",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 760,
    "y": 240,
    "wires": [
      [],
      [
        "fcdbefff.903288"
      ]
    ]
  },
  {
    "id": "5c376b02.52e2ac",
    "type": "modbus-queue-info",
    "z": "4dad68e9.e8a0c8",
    "name": "Queue Info Read",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "c0d8a780.03c62",
    "errorOnHighLevel": false,
    "x": 770,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "393ffa0d.074ab6",
    "type": "modbus-queue-info",
    "z": "4dad68e9.e8a0c8",
    "name": "Queue Info Write",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "81e910a8.634ae8",
    "errorOnHighLevel": false,
    "x": 770,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "81e910a8.634ae8",
    "type": "modbus-client",
    "z": "4dad68e9.e8a0c8",
    "name": "Write VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "c0d8a780.03c62",
    "type": "modbus-client",
    "z": "4dad68e9.e8a0c8",
    "name": "Read VServer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "12502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  }
]
