examples/SDM630-Modbus-Model.json
[
  {
    "id": "30c0552e.0e9772",
    "type": "tab",
    "label": "SDM630 Modbus Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1b311183.e4843e",
    "type": "modbus-read",
    "z": "30c0552e.0e9772",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "a32f2a85.9fb36",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "9b47bbf4.aac6b"
      ],
      [
        "3ab2e2de.d9caae",
        "de7d5b4e.fc36f"
      ]
    ]
  },
  {
    "id": "3ab2e2de.d9caae",
    "type": "modbus-response",
    "z": "30c0552e.0e9772",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 140,
    "wires": []
  },
  {
    "id": "de7d5b4e.fc36f",
    "type": "function",
    "z": "30c0552e.0e9772",
    "name": "extract buffer data",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nreturn [\n    {\n        payload: {\n            L1: {\n                voltage: voltageL1,\n                power: powerL1,\n                demand: demandL1\n            },\n            L2: {\n                voltage: voltageL2,\n                power: powerL2,\n                demand: demandL2\n            },\n            L3: {\n                voltage: voltageL3,\n                power: powerL3,\n                demand: demandL3\n            },\n            voltageAVG: voltageAVG,\n            powerAVG: powerAVG,            \n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 100,
    "wires": [
      [
        "e5175256.655fc8"
      ]
    ]
  },
  {
    "id": "37d50682.bfdc12",
    "type": "modbus-read",
    "z": "30c0552e.0e9772",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "48",
    "quantity": "8",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "a32f2a85.9fb36",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "752348ed.c43f08"
      ],
      [
        "3f68166.d305cea",
        "7b845045.6042c"
      ]
    ]
  },
  {
    "id": "3f68166.d305cea",
    "type": "function",
    "z": "30c0552e.0e9772",
    "name": "extract buffer data",
    "func": "let powerSum = msg.payload.buffer.readFloatBE(0,8)\nlet demandSum = msg.payload.buffer.readFloatBE(8,8)\n\nreturn [\n    {\n        payload: {\n            powerSum: powerSum,\n            demandSum: demandSum\n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 240,
    "wires": [
      [
        "33f5d8c3.04f31"
      ]
    ]
  },
  {
    "id": "8baafc54.7c8b7",
    "type": "modbus-read",
    "z": "30c0552e.0e9772",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "70",
    "quantity": "42",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "a32f2a85.9fb36",
    "x": 150,
    "y": 400,
    "wires": [
      [
        "2d644496.2be684"
      ],
      [
        "bd1a3036.795f58",
        "9ac61936.e43c1"
      ]
    ]
  },
  {
    "id": "bd1a3036.795f58",
    "type": "function",
    "z": "30c0552e.0e9772",
    "name": "extract buffer data",
    "func": "let frequency = msg.payload.buffer.readFloatBE(0,4) // 71,72\n\nlet ampHourSinceLastReset = msg.payload.buffer.readFloatBE(24,4) // 83,84\nlet totalSystemPowerDemand = msg.payload.buffer.readFloatBE(28,4) // 85,86\nlet maxTotalSystemPowerDemand = msg.payload.buffer.readFloatBE(32,4) // 87,88\n\nreturn { \n    payload: {\n       frequency: frequency,\n       ampHourSinceLastReset: ampHourSinceLastReset,\n       ampHourSinceLastResetKilo: ampHourSinceLastReset / 1000.0,\n       totalSystemPowerDemand: totalSystemPowerDemand,\n       totalSystemPowerDemandKilo: totalSystemPowerDemand / 1000.0,\n       maxTotalSystemPowerDemand: maxTotalSystemPowerDemand,\n       maxTotalSystemPowerDemandKilo: maxTotalSystemPowerDemand / 1000.0\n    }\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 370,
    "y": 380,
    "wires": [
      [
        "120cde39.f347a2"
      ]
    ]
  },
  {
    "id": "7b845045.6042c",
    "type": "modbus-response",
    "z": "30c0552e.0e9772",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 280,
    "wires": []
  },
  {
    "id": "9ac61936.e43c1",
    "type": "modbus-response",
    "z": "30c0552e.0e9772",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 420,
    "wires": []
  },
  {
    "id": "1f451e5e.347c92",
    "type": "catch",
    "z": "30c0552e.0e9772",
    "name": "",
    "scope": null,
    "x": 110,
    "y": 580,
    "wires": [
      [
        "a1f2b4c.a22adc8",
        "17ee36c6.e67bc9",
        "e5d97b6a.435e78"
      ]
    ]
  },
  {
    "id": "a1f2b4c.a22adc8",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 620,
    "wires": []
  },
  {
    "id": "bac3810c.9feed",
    "type": "modbus-queue-info",
    "z": "30c0552e.0e9772",
    "name": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "a32f2a85.9fb36",
    "errorOnHighLevel": false,
    "x": 600,
    "y": 540,
    "wires": [
      [
        "3d277711.dfed4"
      ]
    ]
  },
  {
    "id": "17ee36c6.e67bc9",
    "type": "function",
    "z": "30c0552e.0e9772",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 540,
    "wires": [
      [
        "bac3810c.9feed"
      ]
    ]
  },
  {
    "id": "e5d97b6a.435e78",
    "type": "function",
    "z": "30c0552e.0e9772",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 580,
    "wires": [
      [
        "bac3810c.9feed"
      ]
    ]
  },
  {
    "id": "3d277711.dfed4",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 810,
    "y": 540,
    "wires": []
  },
  {
    "id": "f1b3be30.a6758",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "26de7945.b1922e",
    "type": "link in",
    "z": "30c0552e.0e9772",
    "name": "",
    "links": [
      "9b47bbf4.aac6b",
      "752348ed.c43f08",
      "2d644496.2be684"
    ],
    "x": 295,
    "y": 480,
    "wires": [
      [
        "f1b3be30.a6758"
      ]
    ]
  },
  {
    "id": "9b47bbf4.aac6b",
    "type": "link out",
    "z": "30c0552e.0e9772",
    "name": "",
    "links": [
      "26de7945.b1922e"
    ],
    "x": 295,
    "y": 60,
    "wires": []
  },
  {
    "id": "752348ed.c43f08",
    "type": "link out",
    "z": "30c0552e.0e9772",
    "name": "",
    "links": [
      "26de7945.b1922e"
    ],
    "x": 295,
    "y": 200,
    "wires": []
  },
  {
    "id": "2d644496.2be684",
    "type": "link out",
    "z": "30c0552e.0e9772",
    "name": "",
    "links": [
      "26de7945.b1922e"
    ],
    "x": 295,
    "y": 340,
    "wires": []
  },
  {
    "id": "e5175256.655fc8",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 100,
    "wires": []
  },
  {
    "id": "33f5d8c3.04f31",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 240,
    "wires": []
  },
  {
    "id": "120cde39.f347a2",
    "type": "debug",
    "z": "30c0552e.0e9772",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 380,
    "wires": []
  },
  {
    "id": "a32f2a85.9fb36",
    "type": "modbus-client",
    "z": "30c0552e.0e9772",
    "name": "SDM630 Modbus Gateway",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.178.16",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectTimeout": 2000
  }
]
