examples/SDM630-IIoT-OPCUA-Mapping.json
[
  {
    "id": "1be09bb3.5a2c3c",
    "type": "tab",
    "label": "SDM630 Modbus Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "42d0aa5b.ad0eac",
    "type": "tab",
    "label": "SDM630 dynamic",
    "disabled": false,
    "info": ""
  },
  {
    "id": "51a2bb4f.8967d4",
    "type": "tab",
    "label": "SDM630 static",
    "disabled": false,
    "info": ""
  },
  {
    "id": "45baf8d9.049ef",
    "type": "subflow",
    "name": "OPC UA Server",
    "info": "",
    "in": [
      {
        "x": 80,
        "y": 90,
        "wires": [
          {
            "id": "1c96c9df.54bb5e"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "7c9dbf07.2e9078",
    "type": "subflow",
    "name": "Model",
    "info": "",
    "in": [],
    "out": [
      {
        "x": 680,
        "y": 390,
        "wires": [
          {
            "id": "cfe775e3.90c4f",
            "port": 0
          },
          {
            "id": "f645eecd.cbe518",
            "port": 0
          },
          {
            "id": "18e0adcb.e2507a",
            "port": 0
          },
          {
            "id": "6dbcd493.66f16c",
            "port": 0
          },
          {
            "id": "278ce22d.1b276e",
            "port": 0
          },
          {
            "id": "1c0ca643.9decc2",
            "port": 0
          },
          {
            "id": "1cfee993.a7f486",
            "port": 0
          },
          {
            "id": "2ecf21a0.f557d6",
            "port": 0
          },
          {
            "id": "a3956cec.5c1c",
            "port": 0
          },
          {
            "id": "8d54256b.855978",
            "port": 0
          },
          {
            "id": "60f1e375.16687c",
            "port": 0
          },
          {
            "id": "58df2f98.4b0f5",
            "port": 0
          },
          {
            "id": "d992800f.5c031",
            "port": 0
          },
          {
            "id": "7ae723f8.1ed3ec",
            "port": 0
          },
          {
            "id": "531ff67b.5e7a08",
            "port": 0
          },
          {
            "id": "295f0730.f293a8",
            "port": 0
          },
          {
            "id": "da48521b.52028",
            "port": 0
          },
          {
            "id": "bc6c2ea7.1ab598",
            "port": 0
          },
          {
            "id": "99c06c11.b4ce8",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "8db6e66.51d6098",
    "type": "subflow",
    "name": "SDM630 charts",
    "info": "",
    "in": [
      {
        "x": 170,
        "y": 360,
        "wires": [
          {
            "id": "855b1c06.80b018"
          },
          {
            "id": "6d43fee1.c8802"
          },
          {
            "id": "a9764f35.fa73d"
          },
          {
            "id": "19d41cfa.27bca3"
          },
          {
            "id": "ddbc3975.18b938"
          },
          {
            "id": "168de69e.b64371"
          },
          {
            "id": "70b4bd48.449e8c"
          },
          {
            "id": "3f3329e4.640766"
          },
          {
            "id": "a7516aae.65594"
          },
          {
            "id": "e3999bc7.233b28"
          },
          {
            "id": "f1278940.3bf83"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "bd464ad6.55b4f",
    "type": "subflow",
    "name": "static charts",
    "info": "",
    "in": [
      {
        "x": 270,
        "y": 240,
        "wires": [
          {
            "id": "fabed2a9.f62e08"
          },
          {
            "id": "6d3fc7e8.03a798"
          },
          {
            "id": "c73de109.fd0728"
          },
          {
            "id": "67cddb1a.280244"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "912acb51.045618",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "6df1fd5c.7db714",
    "type": "OPCUA-IIoT-Connector",
    "z": "42d0aa5b.ad0eac",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "Dynamic Connector",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "84cef7f5.443d7",
    "type": "ui_tab",
    "z": "42d0aa5b.ad0eac",
    "name": "smartHome Energy",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "6894e3dc.b167ac",
    "type": "modbus-client",
    "z": "1be09bb3.5a2c3c",
    "name": "SDM630 Modbus Gateway",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.178.16",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "e99d30f2.f5ae9",
    "type": "ui_tab",
    "z": "51a2bb4f.8967d4",
    "name": "smartHouse",
    "icon": "dashboard",
    "order": 3
  },
  {
    "id": "50b2a208.f87dc4",
    "type": "ui_group",
    "z": "42d0aa5b.ad0eac",
    "name": "Dynamic",
    "tab": "84cef7f5.443d7",
    "disp": true,
    "width": "30"
  },
  {
    "id": "ecf79b48.6fb07",
    "type": "ui_group",
    "z": "51a2bb4f.8967d4",
    "name": "Static",
    "tab": "e99d30f2.f5ae9",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a388bb83.58dde",
    "type": "OPCUA-IIoT-Connector",
    "z": "51a2bb4f.8967d4",
    "endpoint": "opc.tcp://localhost:55388/",
    "keepSessionAlive": true,
    "loginEnabled": true,
    "securityPolicy": "Basic128Rsa15",
    "securityMode": "SIGN",
    "name": "Static Connector",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "521fc8cf.3d1198",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "endpoint": "opc.tcp://localhost:55388/UA/NodeREDIIOTServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "None",
    "securityMode": "NONE",
    "name": "Method Server",
    "showStatusActivities": false,
    "showErrors": false
  },
  {
    "id": "6b96ade6.1e033c",
    "type": "ui_group",
    "z": "",
    "name": "Model",
    "tab": "741c856e.586404",
    "order": 2,
    "disp": true,
    "width": "8"
  },
  {
    "id": "741c856e.586404",
    "type": "ui_tab",
    "z": "",
    "name": "OPC UA",
    "icon": "dashboard"
  },
  {
    "id": "1ee08631.1faf42",
    "type": "ui_group",
    "z": "",
    "name": "Browser",
    "tab": "741c856e.586404",
    "order": 1,
    "disp": true,
    "width": "20"
  },
  {
    "id": "dd78b87a.cbd908",
    "type": "modbus-read",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "6894e3dc.b167ac",
    "x": 150,
    "y": 170,
    "wires": [
      [
        "b16df7ac.7c3888"
      ],
      [
        "4b4dc985.5623c8",
        "2c788a72.308f36"
      ]
    ]
  },
  {
    "id": "4b4dc985.5623c8",
    "type": "modbus-response",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 120,
    "wires": []
  },
  {
    "id": "2c788a72.308f36",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nreturn [\n    {\n        payload: {\n            L1: {\n                voltage: voltageL1,\n                power: powerL1,\n                demand: demandL1\n            },\n            L2: {\n                voltage: voltageL2,\n                power: powerL2,\n                demand: demandL2\n            },\n            L3: {\n                voltage: voltageL3,\n                power: powerL3,\n                demand: demandL3\n            },\n            voltageAVG: voltageAVG,\n            powerAVG: powerAVG,            \n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "b3e6ad35.59f52"
      ]
    ]
  },
  {
    "id": "a6c25363.37bf28",
    "type": "modbus-read",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "48",
    "quantity": "8",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "6894e3dc.b167ac",
    "x": 150,
    "y": 270,
    "wires": [
      [
        "b16df7ac.7c3888"
      ],
      [
        "63240bd.2ea67f4",
        "9f709743.2d5b5"
      ]
    ]
  },
  {
    "id": "63240bd.2ea67f4",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "extract buffer data sum",
    "func": "let powerSum = msg.payload.buffer.readFloatBE(0,8)\nlet demandSum = msg.payload.buffer.readFloatBE(8,8)\n\nreturn [\n    {\n        payload: {\n            powerSum: powerSum,\n            demandSum: demandSum\n        }\n    }\n];",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 290,
    "wires": [
      [
        "b3e6ad35.59f52"
      ]
    ]
  },
  {
    "id": "b36c8df3.15add8",
    "type": "modbus-read",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": true,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "70",
    "quantity": "42",
    "rate": "1",
    "rateUnit": "m",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "6894e3dc.b167ac",
    "x": 150,
    "y": 390,
    "wires": [
      [
        "b16df7ac.7c3888"
      ],
      [
        "500c17b6.5402d8",
        "b1d83f5c.962078"
      ]
    ]
  },
  {
    "id": "500c17b6.5402d8",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "extract buffer data statics",
    "func": "let frequency = msg.payload.buffer.readFloatBE(0,4) // 71,72\n\nlet ampHourSinceLastReset = msg.payload.buffer.readFloatBE(24,4) // 83,84\nlet totalSystemPowerDemand = msg.payload.buffer.readFloatBE(28,4) // 85,86\nlet maxTotalSystemPowerDemand = msg.payload.buffer.readFloatBE(32,4) // 87,88\n\nreturn { \n    payload: {\n       frequency: frequency,\n       ampHourSinceLastReset: ampHourSinceLastReset,\n       ampHourSinceLastResetKilo: ampHourSinceLastReset / 1000.0,\n       totalSystemPowerDemand: totalSystemPowerDemand,\n       totalSystemPowerDemandKilo: totalSystemPowerDemand / 1000.0,\n       maxTotalSystemPowerDemand: maxTotalSystemPowerDemand,\n       maxTotalSystemPowerDemandKilo: maxTotalSystemPowerDemand / 1000.0\n    }\n}",
    "outputs": "1",
    "noerr": 0,
    "x": 390,
    "y": 410,
    "wires": [
      [
        "b3e6ad35.59f52"
      ]
    ]
  },
  {
    "id": "9f709743.2d5b5",
    "type": "modbus-response",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 230,
    "wires": []
  },
  {
    "id": "b1d83f5c.962078",
    "type": "modbus-response",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "registerShowMax": "1",
    "x": 370,
    "y": 350,
    "wires": []
  },
  {
    "id": "b3e6ad35.59f52",
    "type": "link out",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "links": [
      "ad2661ec.7b23a",
      "44054254.88aa5c",
      "9ae5e618.81d77"
    ],
    "x": 585,
    "y": 290,
    "wires": []
  },
  {
    "id": "bbbd3a39.61b228",
    "type": "OPCUA-IIoT-Write",
    "z": "42d0aa5b.ad0eac",
    "connector": "6df1fd5c.7db714",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 660,
    "y": 170,
    "wires": [
      [
        "9e94cc5f.723d08"
      ]
    ]
  },
  {
    "id": "9e94cc5f.723d08",
    "type": "OPCUA-IIoT-Response",
    "z": "42d0aa5b.ad0eac",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 790,
    "y": 170,
    "wires": [
      [
        "83f0468.95685b8"
      ]
    ]
  },
  {
    "id": "83f0468.95685b8",
    "type": "debug",
    "z": "42d0aa5b.ad0eac",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 170,
    "wires": []
  },
  {
    "id": "9ae5e618.81d77",
    "type": "link in",
    "z": "42d0aa5b.ad0eac",
    "name": "",
    "links": [
      "b3e6ad35.59f52"
    ],
    "x": 245,
    "y": 170,
    "wires": [
      [
        "9e464cd2.bf8a3",
        "fc892f7f.3a0e48"
      ]
    ]
  },
  {
    "id": "9e464cd2.bf8a3",
    "type": "function",
    "z": "42d0aa5b.ad0eac",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.L1) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=L1Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L1Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L2Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L2Demand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=L3Voltage', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Power', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=L3Demand', datatypeName: 'Float'}        \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.L1.voltage, \n        msg.payload.L1.power, \n        msg.payload.L1.demand,\n        msg.payload.L2.voltage, \n        msg.payload.L2.power, \n        msg.payload.L2.demand,\n        msg.payload.L3.voltage, \n        msg.payload.L3.power, \n        msg.payload.L3.demand\n    ]\n    \n    return msg;\n}\n\nif(msg.payload.demandSum) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=DemandSum', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=PowerSum', datatypeName: 'Float'}\n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.demandSum, \n        msg.payload.powerSum\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 170,
    "wires": [
      [
        "bbbd3a39.61b228",
        "17d9aa6.edaba56"
      ]
    ]
  },
  {
    "id": "17d9aa6.edaba56",
    "type": "debug",
    "z": "42d0aa5b.ad0eac",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "fc892f7f.3a0e48",
    "type": "debug",
    "z": "42d0aa5b.ad0eac",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 340,
    "y": 120,
    "wires": []
  },
  {
    "id": "b15f6bdb.82d178",
    "type": "OPCUA-IIoT-Listener",
    "z": "42d0aa5b.ad0eac",
    "connector": "6df1fd5c.7db714",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "multipleRequest": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 550,
    "y": 250,
    "wires": [
      [
        "a6091b3c.ceaeb8"
      ],
      []
    ]
  },
  {
    "id": "776363bb.18ba24",
    "type": "OPCUA-IIoT-Inject",
    "z": "42d0aa5b.ad0eac",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "L1Voltage",
        "nodeId": "ns=5;s=L1Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L1Power",
        "nodeId": "ns=5;s=L1Power",
        "datatypeName": "Float"
      },
      {
        "name": "L1Demand",
        "nodeId": "ns=5;s=L1Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L2Voltage",
        "nodeId": "ns=5;s=L2Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L2Power",
        "nodeId": "ns=5;s=L2Power",
        "datatypeName": "Float"
      },
      {
        "name": "L2Demand",
        "nodeId": "ns=5;s=L2Demand",
        "datatypeName": "Float"
      },
      {
        "name": "L3Voltage",
        "nodeId": "ns=5;s=L3Voltage",
        "datatypeName": "Float"
      },
      {
        "name": "L3Power",
        "nodeId": "ns=5;s=L3Power",
        "datatypeName": "Float"
      },
      {
        "name": "L3Demand",
        "nodeId": "ns=5;s=L3Demand",
        "datatypeName": "Float"
      },
      {
        "name": "DemandSum",
        "nodeId": "ns=5;s=DemandSum",
        "datatypeName": "Float"
      },
      {
        "name": "PowerSum",
        "nodeId": "ns=5;s=PowerSum",
        "datatypeName": "Float"
      }
    ],
    "x": 370,
    "y": 250,
    "wires": [
      [
        "b15f6bdb.82d178"
      ]
    ]
  },
  {
    "id": "b16df7ac.7c3888",
    "type": "debug",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 330,
    "y": 470,
    "wires": []
  },
  {
    "id": "e081c51d.4f17f",
    "type": "link in",
    "z": "51a2bb4f.8967d4",
    "name": "",
    "links": [
      "b3e6ad35.59f52"
    ],
    "x": 265,
    "y": 180,
    "wires": [
      [
        "5e49cbc5.1c7894",
        "81178262.0c4b2"
      ]
    ]
  },
  {
    "id": "5e49cbc5.1c7894",
    "type": "function",
    "z": "51a2bb4f.8967d4",
    "name": "Modbus to OPC UA value mapping",
    "func": "\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nif(msg.payload.frequency) {\n    msg.addressSpaceItems = [\n        {nodeId: 'ns=5;s=frequency', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=ampHourSinceLastReset', datatypeName: 'Float'}, \n        {nodeId: 'ns=5;s=totalSystemPowerDemand', datatypeName: 'Float'},\n        {nodeId: 'ns=5;s=maxTotalSystemPowerDemand', datatypeName: 'Float'}      \n    ]\n    \n    msg.valuesToWrite = [\n        msg.payload.frequency, \n        msg.payload.ampHourSinceLastResetKilo, \n        msg.payload.totalSystemPowerDemandKilo,\n        msg.payload.maxTotalSystemPowerDemandKilo\n    ]\n    \n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "f85ab427.bb2ec8",
        "f533cbb0.a3626"
      ]
    ]
  },
  {
    "id": "f85ab427.bb2ec8",
    "type": "OPCUA-IIoT-Write",
    "z": "51a2bb4f.8967d4",
    "connector": "a388bb83.58dde",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 690,
    "y": 180,
    "wires": [
      [
        "ba87402f.4eae8"
      ]
    ]
  },
  {
    "id": "ba87402f.4eae8",
    "type": "OPCUA-IIoT-Response",
    "z": "51a2bb4f.8967d4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 820,
    "y": 180,
    "wires": [
      [
        "97a6bfcb.9fcb68"
      ]
    ]
  },
  {
    "id": "97a6bfcb.9fcb68",
    "type": "debug",
    "z": "51a2bb4f.8967d4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "f533cbb0.a3626",
    "type": "debug",
    "z": "51a2bb4f.8967d4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 690,
    "y": 130,
    "wires": []
  },
  {
    "id": "81178262.0c4b2",
    "type": "debug",
    "z": "51a2bb4f.8967d4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 370,
    "y": 130,
    "wires": []
  },
  {
    "id": "b44558bd.169b7",
    "type": "OPCUA-IIoT-Listener",
    "z": "51a2bb4f.8967d4",
    "connector": "a388bb83.58dde",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "multipleRequest": false,
    "metaDataInject": false,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 540,
    "y": 280,
    "wires": [
      [
        "1d155c65.03e564"
      ],
      []
    ]
  },
  {
    "id": "64508160.9f221",
    "type": "OPCUA-IIoT-Inject",
    "z": "51a2bb4f.8967d4",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "28",
    "name": "Listen every sec",
    "addressSpaceItems": [
      {
        "name": "frequency",
        "nodeId": "ns=5;s=frequency",
        "datatypeName": "Float"
      },
      {
        "name": "ampHourSinceLastReset",
        "nodeId": "ns=5;s=ampHourSinceLastReset",
        "datatypeName": "Float"
      },
      {
        "name": "totalSystemPowerDemand",
        "nodeId": "ns=5;s=totalSystemPowerDemand",
        "datatypeName": "Float"
      },
      {
        "name": "maxTotalSystemPowerDemand",
        "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
        "datatypeName": "Float"
      }
    ],
    "x": 350,
    "y": 280,
    "wires": [
      [
        "b44558bd.169b7"
      ]
    ]
  },
  {
    "id": "1b1a3b21.9d109d",
    "type": "catch",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "scope": null,
    "x": 140,
    "y": 630,
    "wires": [
      [
        "6906167d.e6fb18",
        "a19d761c.4da13",
        "e9286888.589ea"
      ]
    ]
  },
  {
    "id": "6906167d.e6fb18",
    "type": "debug",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 320,
    "y": 670,
    "wires": []
  },
  {
    "id": "be0c6ff7.cb07a",
    "type": "modbus-queue-info",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "unitid": "",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "6894e3dc.b167ac",
    "errorOnHighLevel": false,
    "x": 600,
    "y": 600,
    "wires": [
      [
        "3692fbfd.7088fc"
      ]
    ]
  },
  {
    "id": "a19d761c.4da13",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 590,
    "wires": [
      [
        "be0c6ff7.cb07a"
      ]
    ]
  },
  {
    "id": "e9286888.589ea",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 630,
    "wires": [
      [
        "be0c6ff7.cb07a"
      ]
    ]
  },
  {
    "id": "3692fbfd.7088fc",
    "type": "debug",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 810,
    "y": 600,
    "wires": []
  },
  {
    "id": "99c06c11.b4ce8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=SDM630",
    "browsename": "SDM630",
    "displayname": "SDM 630",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=0;i=85",
    "referencetype": "Organizes",
    "name": "SDM630",
    "x": 390,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "5f152174.147a1",
    "type": "OPCUA-IIoT-Inject",
    "z": "7c9dbf07.2e9078",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Inject after 10s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 40,
    "wires": [
      [
        "99c06c11.b4ce8"
      ]
    ]
  },
  {
    "id": "bc6c2ea7.1ab598",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L1",
    "browsename": "L1",
    "displayname": "L1",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L1",
    "x": 400,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "295f0730.f293a8",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L3",
    "browsename": "L3",
    "displayname": "L3",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L3",
    "x": 400,
    "y": 170,
    "wires": [
      []
    ]
  },
  {
    "id": "da48521b.52028",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L2",
    "browsename": "L2",
    "displayname": "L2",
    "objecttype": "FolderType",
    "datatype": "",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "L2",
    "x": 400,
    "y": 130,
    "wires": [
      []
    ]
  },
  {
    "id": "8b1d8d37.92ec18",
    "type": "OPCUA-IIoT-Inject",
    "z": "7c9dbf07.2e9078",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "13",
    "name": "Inject after 13s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 240,
    "wires": [
      [
        "bc6c2ea7.1ab598",
        "da48521b.52028",
        "295f0730.f293a8",
        "531ff67b.5e7a08",
        "7ae723f8.1ed3ec",
        "d992800f.5c031",
        "58df2f98.4b0f5",
        "8d54256b.855978",
        "60f1e375.16687c"
      ]
    ]
  },
  {
    "id": "a3956cec.5c1c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L1Demand",
    "browsename": "L1Demand",
    "displayname": "L1 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 demand",
    "x": 380,
    "y": 510,
    "wires": [
      []
    ]
  },
  {
    "id": "3d6461ee.b8e92e",
    "type": "OPCUA-IIoT-Inject",
    "z": "7c9dbf07.2e9078",
    "injectType": "inject",
    "payload": "0",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "16",
    "name": "Inject after 16s",
    "addressSpaceItems": [],
    "x": 140,
    "y": 680,
    "wires": [
      [
        "a3956cec.5c1c",
        "2ecf21a0.f557d6",
        "1cfee993.a7f486",
        "1c0ca643.9decc2",
        "278ce22d.1b276e",
        "6dbcd493.66f16c",
        "18e0adcb.e2507a",
        "f645eecd.cbe518",
        "cfe775e3.90c4f"
      ]
    ]
  },
  {
    "id": "2ecf21a0.f557d6",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L2Demand",
    "browsename": "L2Demand",
    "displayname": "L2 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 demand",
    "x": 380,
    "y": 550,
    "wires": [
      []
    ]
  },
  {
    "id": "1cfee993.a7f486",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L3Demand",
    "browsename": "L3Demand",
    "displayname": "L3 demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 demand",
    "x": 380,
    "y": 590,
    "wires": [
      []
    ]
  },
  {
    "id": "1c0ca643.9decc2",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L1Power",
    "browsename": "L1Power",
    "displayname": "L1 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 power",
    "x": 390,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "278ce22d.1b276e",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L2Power",
    "browsename": "L2Power",
    "displayname": "L2 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 power",
    "x": 390,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "6dbcd493.66f16c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L3Power",
    "browsename": "L3Power",
    "displayname": "L3 power",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 power",
    "x": 390,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "18e0adcb.e2507a",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L1Voltage",
    "browsename": "L1Voltage",
    "displayname": "L1 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L1",
    "referencetype": "Organizes",
    "name": "L1 voltage",
    "x": 380,
    "y": 770,
    "wires": [
      []
    ]
  },
  {
    "id": "f645eecd.cbe518",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L2Voltage",
    "browsename": "L2Voltage",
    "displayname": "L2 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L2",
    "referencetype": "Organizes",
    "name": "L2 voltage",
    "x": 380,
    "y": 810,
    "wires": [
      []
    ]
  },
  {
    "id": "cfe775e3.90c4f",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=L3Voltage",
    "browsename": "L3Voltage",
    "displayname": "L3 voltage",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "0.0",
    "referenceNodeId": "ns=5;s=L3",
    "referencetype": "Organizes",
    "name": "L3 voltage",
    "x": 380,
    "y": 850,
    "wires": [
      []
    ]
  },
  {
    "id": "531ff67b.5e7a08",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=DemandSum",
    "browsename": "DemandSum",
    "displayname": "Demand Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "DemandSum",
    "x": 380,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "7ae723f8.1ed3ec",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=PowerSum",
    "browsename": "PowerSum",
    "displayname": "Power Sum",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "PowerSum",
    "x": 380,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "d992800f.5c031",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=frequency",
    "browsename": "frequency",
    "displayname": "frequency",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "frequency",
    "x": 390,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "58df2f98.4b0f5",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "browsename": "ampHourSinceLastReset",
    "displayname": "ampere-hours since last reset",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "ampHourSinceLastReset",
    "x": 340,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "8d54256b.855978",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "browsename": "totalSystemPowerDemand",
    "displayname": "total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "totalSystemPowerDemand",
    "x": 330,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "60f1e375.16687c",
    "type": "OPCUA-IIoT-Server-ASO",
    "z": "7c9dbf07.2e9078",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "browsename": "maxTotalSystemPowerDemand",
    "displayname": "max total system power demand",
    "objecttype": "BaseVariableType",
    "datatype": "Float",
    "value": "",
    "referenceNodeId": "ns=5;s=SDM630",
    "referencetype": "Organizes",
    "name": "maxTotalSystemPowerDemand",
    "x": 320,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "1c96c9df.54bb5e",
    "type": "OPCUA-IIoT-Server",
    "z": "45baf8d9.049ef",
    "port": "55388",
    "endpoint": "",
    "acceptExternalCommands": true,
    "maxAllowedSessionNumber": "50",
    "maxConnectionsPerEndpoint": "",
    "maxAllowedSubscriptionNumber": "1000",
    "alternateHostname": "",
    "name": "LOCAL SERVER",
    "showStatusActivities": false,
    "showErrors": true,
    "allowAnonymous": true,
    "isAuditing": false,
    "users": [
      {
        "name": "test",
        "password": "test"
      },
      {
        "name": "peter",
        "password": "peter"
      }
    ],
    "x": 250,
    "y": 90,
    "wires": [
      [
        "864d5e0b.198cb8"
      ],
      []
    ]
  },
  {
    "id": "864d5e0b.198cb8",
    "type": "debug",
    "z": "45baf8d9.049ef",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 420,
    "y": 90,
    "wires": []
  },
  {
    "id": "796fd297.537f34",
    "type": "subflow:45baf8d9.049ef",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "f71435bf.51a6e",
    "type": "subflow:7c9dbf07.2e9078",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "x": 130,
    "y": 60,
    "wires": [
      [
        "796fd297.537f34"
      ]
    ]
  },
  {
    "id": "1147835b.fe01b5",
    "type": "ui_chart",
    "z": "8db6e66.51d6098",
    "name": "",
    "group": "50b2a208.f87dc4",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "power",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 690,
    "y": 180,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "f9666861.2ada4",
    "type": "ui_chart",
    "z": "8db6e66.51d6098",
    "name": "",
    "group": "50b2a208.f87dc4",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "voltage",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 360,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "4c617674.74d698",
    "type": "ui_chart",
    "z": "8db6e66.51d6098",
    "name": "",
    "group": "50b2a208.f87dc4",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "demand",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 550,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "855b1c06.80b018",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=PowerSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Sum",
    "name": "",
    "x": 450,
    "y": 100,
    "wires": [
      [
        "1147835b.fe01b5"
      ],
      []
    ]
  },
  {
    "id": "f1278940.3bf83",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=DemandSum",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "Sum",
    "name": "",
    "x": 460,
    "y": 630,
    "wires": [
      [
        "4c617674.74d698"
      ],
      []
    ]
  },
  {
    "id": "6d43fee1.c8802",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L1Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 160,
    "wires": [
      [
        "1147835b.fe01b5"
      ],
      []
    ]
  },
  {
    "id": "ddbc3975.18b938",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L1Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 310,
    "wires": [
      [
        "f9666861.2ada4"
      ],
      []
    ]
  },
  {
    "id": "3f3329e4.640766",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L1Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L1",
    "name": "",
    "x": 450,
    "y": 480,
    "wires": [
      [
        "4c617674.74d698"
      ],
      []
    ]
  },
  {
    "id": "a9764f35.fa73d",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L2Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 210,
    "wires": [
      [
        "1147835b.fe01b5"
      ],
      []
    ]
  },
  {
    "id": "19d41cfa.27bca3",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L3Power",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 260,
    "wires": [
      [
        "1147835b.fe01b5"
      ],
      []
    ]
  },
  {
    "id": "168de69e.b64371",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L2Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 370,
    "wires": [
      [
        "f9666861.2ada4"
      ],
      []
    ]
  },
  {
    "id": "70b4bd48.449e8c",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L3Voltage",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 420,
    "wires": [
      [
        "f9666861.2ada4"
      ],
      []
    ]
  },
  {
    "id": "a7516aae.65594",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L2Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L2",
    "name": "",
    "x": 450,
    "y": 530,
    "wires": [
      [
        "4c617674.74d698"
      ],
      []
    ]
  },
  {
    "id": "e3999bc7.233b28",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "8db6e66.51d6098",
    "nodeId": "ns=5;s=L3Demand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "L3",
    "name": "",
    "x": 450,
    "y": 580,
    "wires": [
      [
        "4c617674.74d698"
      ],
      []
    ]
  },
  {
    "id": "a6091b3c.ceaeb8",
    "type": "subflow:8db6e66.51d6098",
    "z": "42d0aa5b.ad0eac",
    "name": "dynamic charts",
    "x": 730,
    "y": 250,
    "wires": []
  },
  {
    "id": "24cdd7b4.f08c9",
    "type": "ui_gauge",
    "z": "bd464ad6.55b4f",
    "name": "",
    "group": "ecf79b48.6fb07",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Frequency",
    "label": "Hz",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 150,
    "wires": []
  },
  {
    "id": "2d45b79b.a01b1",
    "type": "ui_gauge",
    "z": "bd464ad6.55b4f",
    "name": "",
    "group": "6b96ade6.1e033c",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Sum demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "5",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 250,
    "wires": []
  },
  {
    "id": "601f8f63.3d92c8",
    "type": "ui_gauge",
    "z": "bd464ad6.55b4f",
    "name": "",
    "group": "6b96ade6.1e033c",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Max. demand ",
    "label": "kW",
    "format": "{{value | number:3}}",
    "min": 0,
    "max": "20",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "e84de74a.d931c8",
    "type": "ui_gauge",
    "z": "bd464ad6.55b4f",
    "name": "",
    "group": "ecf79b48.6fb07",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Ampere hour",
    "label": "kAh",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "2000",
    "colors": [
      "#e2e310",
      "#28cd22",
      "#d93d3f"
    ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 200,
    "wires": []
  },
  {
    "id": "fabed2a9.f62e08",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "bd464ad6.55b4f",
    "nodeId": "ns=5;s=frequency",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "frequency",
    "name": "",
    "x": 480,
    "y": 160,
    "wires": [
      [
        "24cdd7b4.f08c9"
      ],
      []
    ]
  },
  {
    "id": "6d3fc7e8.03a798",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "bd464ad6.55b4f",
    "nodeId": "ns=5;s=ampHourSinceLastReset",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "ampHourSinceLastReset",
    "name": "",
    "x": 530,
    "y": 210,
    "wires": [
      [
        "e84de74a.d931c8"
      ],
      []
    ]
  },
  {
    "id": "c73de109.fd0728",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "bd464ad6.55b4f",
    "nodeId": "ns=5;s=totalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "totalSystemPowerDemand",
    "name": "",
    "x": 530,
    "y": 260,
    "wires": [
      [
        "2d45b79b.a01b1"
      ],
      []
    ]
  },
  {
    "id": "67cddb1a.280244",
    "type": "OPCUA-IIoT-Result-Filter",
    "z": "bd464ad6.55b4f",
    "nodeId": "ns=5;s=maxTotalSystemPowerDemand",
    "datatype": "Float",
    "withPrecision": true,
    "precision": 2,
    "entry": 1,
    "justValue": true,
    "withValueCheck": false,
    "minvalue": "",
    "maxvalue": "",
    "defaultvalue": "",
    "usingListener": false,
    "topic": "maxTotalSystemPowerDemand",
    "name": "",
    "x": 550,
    "y": 310,
    "wires": [
      [
        "601f8f63.3d92c8"
      ],
      []
    ]
  },
  {
    "id": "1d155c65.03e564",
    "type": "subflow:bd464ad6.55b4f",
    "z": "51a2bb4f.8967d4",
    "x": 720,
    "y": 280,
    "wires": []
  },
  {
    "id": "32104a2d.b46846",
    "type": "OPCUA-IIoT-Browser",
    "z": "45baf8d9.049ef",
    "connector": "521fc8cf.3d1198",
    "nodeId": "",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 340,
    "y": 270,
    "wires": [
      [
        "123cd8a2.5142af",
        "250acb.55e87d36",
        "621c6236.c0ff2c"
      ]
    ]
  },
  {
    "id": "250acb.55e87d36",
    "type": "debug",
    "z": "45baf8d9.049ef",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 270,
    "wires": []
  },
  {
    "id": "b6708fab.4da338",
    "type": "OPCUA-IIoT-Inject",
    "z": "45baf8d9.049ef",
    "payload": "",
    "payloadType": "date",
    "topic": "ns=0;i=85",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "Root",
    "x": 150,
    "y": 270,
    "wires": [
      [
        "32104a2d.b46846"
      ]
    ]
  },
  {
    "id": "621c6236.c0ff2c",
    "type": "OPCUA-IIoT-Response",
    "z": "45baf8d9.049ef",
    "name": "",
    "x": 540,
    "y": 210,
    "wires": [
      [
        "90562dee.42aac8"
      ]
    ]
  },
  {
    "id": "90562dee.42aac8",
    "type": "debug",
    "z": "45baf8d9.049ef",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 210,
    "wires": []
  },
  {
    "id": "123cd8a2.5142af",
    "type": "ui_template",
    "z": "45baf8d9.049ef",
    "group": "1ee08631.1faf42",
    "name": "",
    "order": 1,
    "width": "20",
    "height": "20",
    "format": "<div layout=\"column\" layout-align=\"space-between\">\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.endpoint}}</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <p>{{msg.payload.browseTopic}} with {{msg.payload.browserResultCount}} references</p>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <h1>Results</h1>\n    </div>\n    <div layout=\"row\" layout-align=\"space-between center\">\n        <select ng-model=\"item\" ng-options=\"item.displayName.text for item in msg.payload.browserItems\">\n            <option value=\"\">-- Root --</option>\n        </select>\n        <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">Browse</button>\n    </div>\n    <div layout=\"row\" layout-align=\"space-around center\">\n        <div>\n            <ul>\n                <li ng-repeat=\"item in msg.payload.browserItems\">\n                  {{item.displayName.text}} ( {{item.nodeId}} - {{item.browseName}})\n                </li>\n            </ul>\n        </div>\n    </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 340,
    "y": 210,
    "wires": [
      [
        "32104a2d.b46846"
      ]
    ]
  },
  {
    "id": "88a3f340.ef70b",
    "type": "modbus-getter",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "50",
    "server": "6894e3dc.b167ac",
    "x": 400,
    "y": 790,
    "wires": [
      [],
      [
        "26d2900c.6d3508",
        "294f7fb6.3eac4"
      ]
    ]
  },
  {
    "id": "26d2900c.6d3508",
    "type": "modbus-response",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "registerShowMax": 20,
    "x": 660,
    "y": 790,
    "wires": []
  },
  {
    "id": "3fd50d4e.2401da",
    "type": "http in",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "url": "/modbus/read/lines",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 790,
    "wires": [
      [
        "88a3f340.ef70b"
      ]
    ]
  },
  {
    "id": "15ab91ec.4dc6ce",
    "type": "http response",
    "z": "1be09bb3.5a2c3c",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 890,
    "y": 750,
    "wires": []
  },
  {
    "id": "294f7fb6.3eac4",
    "type": "function",
    "z": "1be09bb3.5a2c3c",
    "name": "extract buffer data L1-L3",
    "func": "let voltageL1 = msg.payload.buffer.readFloatBE(0,4) // 1,2\nlet voltageL2 = msg.payload.buffer.readFloatBE(4,4) // 3,4\nlet voltageL3 = msg.payload.buffer.readFloatBE(8,4) // 5,6\n\nlet powerL1 = msg.payload.buffer.readFloatBE(12,4) // 7,8\nlet powerL2 = msg.payload.buffer.readFloatBE(16,4) // 9,10\nlet powerL3 = msg.payload.buffer.readFloatBE(20,4) // 11,12\n\nlet demandL1 = msg.payload.buffer.readFloatBE(24,4) // 13,14\nlet demandL2 = msg.payload.buffer.readFloatBE(28,4) // 15,16\nlet demandL3 = msg.payload.buffer.readFloatBE(32,4) // 17,18\n\nlet voltageAVG = msg.payload.buffer.readFloatBE(84,8) // 43-46\nlet powerAVG = msg.payload.buffer.readFloatBE(92,4) // 47,48\n\nmsg.payload = {\n    L1: {\n        voltage: voltageL1,\n        power: powerL1,\n        demand: demandL1\n    },\n    L2: {\n        voltage: voltageL2,\n        power: powerL2,\n        demand: demandL2\n    },\n    L3: {\n        voltage: voltageL3,\n        power: powerL3,\n        demand: demandL3\n    },\n    voltageAVG: voltageAVG,\n    powerAVG: powerAVG,            \n};\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 680,
    "y": 750,
    "wires": [
      [
        "15ab91ec.4dc6ce"
      ]
    ]
  }
]
