examples/Simple-Modbus-Demo.json
[
  {
    "id": "777dfc68.60dfbc",
    "type": "tab",
    "label": "Modbus Simple Servers",
    "disabled": false,
    "info": "simple flows to show what you \ncan do with the package\n\nthink about organization of reads and \nwrites and try to simplify these flows"
  },
  {
    "id": "f0dcb27f.af55c",
    "type": "tab",
    "label": "Modbus Server Reading",
    "disabled": false,
    "info": ""
  },
  {
    "id": "28534391.6df9e4",
    "type": "tab",
    "label": "Modbus Flex Server Reading",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7875c87b.f4b398",
    "type": "tab",
    "label": "Modbus Server Writing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "76135eb2.b3072",
    "type": "tab",
    "label": "Modbus Flex Server Writing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bd2d50a5.220f98",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "e94d14fe.a641f8",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Flex Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectTimeout": 2000
  },
  {
    "id": "80aeec4c.0cb9e8",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "14502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "178284ea.5055ab",
    "type": "modbus-server",
    "z": "777dfc68.60dfbc",
    "name": "",
    "logEnabled": false,
    "hostname": "",
    "serverPort": "14502",
    "responseDelay": "50",
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "discreteBufferSize": "1024",
    "showErrors": false,
    "x": 360,
    "y": 80,
    "wires": [
      [
        "ad24d5f4.eb1bf"
      ],
      [
        "ad24d5f4.eb1bf"
      ],
      [
        "ad24d5f4.eb1bf"
      ]
    ]
  },
  {
    "id": "bbabc990.0b816",
    "type": "inject",
    "z": "777dfc68.60dfbc",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 80,
    "wires": [
      [
        "178284ea.5055ab"
      ]
    ]
  },
  {
    "id": "ad24d5f4.eb1bf",
    "type": "debug",
    "z": "777dfc68.60dfbc",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "aa1e436e.301c68",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 440,
    "wires": []
  },
  {
    "id": "f48121f3.b936e",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 320,
    "wires": []
  },
  {
    "id": "72a35f60.13ae5",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "10",
    "x": 730,
    "y": 360,
    "wires": []
  },
  {
    "id": "81df06e3.a49ea8",
    "type": "modbus-read",
    "z": "f0dcb27f.af55c",
    "name": "Automatic Read FC3",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 170,
    "y": 100,
    "wires": [
      [
        "b006606d.c61208"
      ],
      [
        "6187e3f9.82e40c",
        "407f345f.6fcc34"
      ]
    ]
  },
  {
    "id": "6187e3f9.82e40c",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "20",
    "x": 470,
    "y": 140,
    "wires": []
  },
  {
    "id": "b006606d.c61208",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 450,
    "y": 60,
    "wires": []
  },
  {
    "id": "51ad7cd2.6378ec",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 480,
    "wires": []
  },
  {
    "id": "c9b68bc2.92c0b8",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 460,
    "wires": [
      [
        "fb626a9a.fd8ea8"
      ]
    ]
  },
  {
    "id": "def4062f.4e7a2",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 340,
    "wires": [
      [
        "2480827f.b4c59e"
      ]
    ]
  },
  {
    "id": "f2e5d82e.6083c",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "5",
    "x": 1010,
    "y": 300,
    "wires": []
  },
  {
    "id": "29991a24.b64dfe",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 220,
    "wires": [
      [
        "5cf6efb4.f62018"
      ]
    ]
  },
  {
    "id": "5cf6efb4.f62018",
    "type": "function",
    "z": "f0dcb27f.af55c",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 220,
    "wires": [
      [
        "c730e78b.3b8b5"
      ]
    ]
  },
  {
    "id": "603aa687.e2301",
    "type": "function",
    "z": "f0dcb27f.af55c",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 260,
    "wires": [
      [
        "c730e78b.3b8b5"
      ]
    ]
  },
  {
    "id": "e3ad075e.8ec19",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "603aa687.e2301"
      ]
    ]
  },
  {
    "id": "c730e78b.3b8b5",
    "type": "modbus-flex-getter",
    "z": "f0dcb27f.af55c",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 740,
    "y": 240,
    "wires": [
      [
        "c22ab20e.47c948"
      ],
      [
        "f2e5d82e.6083c",
        "684109a7.1b06c8"
      ]
    ]
  },
  {
    "id": "d5e0ee7b.5d6958",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 610,
    "y": 560,
    "wires": []
  },
  {
    "id": "c641b631.2cda28",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 600,
    "wires": []
  },
  {
    "id": "309ccafd.cfed76",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "96cd6876.6c7dc8"
      ]
    ]
  },
  {
    "id": "d458bb02.e3506",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 690,
    "wires": []
  },
  {
    "id": "1fe6faf9.45f40d",
    "type": "modbus-response",
    "z": "f0dcb27f.af55c",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 730,
    "wires": []
  },
  {
    "id": "c8f0d53e.32ca08",
    "type": "inject",
    "z": "f0dcb27f.af55c",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 720,
    "wires": [
      [
        "66c28c36.e57ddc"
      ]
    ]
  },
  {
    "id": "2480827f.b4c59e",
    "type": "modbus-getter",
    "z": "f0dcb27f.af55c",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 460,
    "y": 340,
    "wires": [
      [
        "f48121f3.b936e"
      ],
      [
        "72a35f60.13ae5"
      ]
    ]
  },
  {
    "id": "fb626a9a.fd8ea8",
    "type": "modbus-getter",
    "z": "f0dcb27f.af55c",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "aa1e436e.301c68"
      ],
      [
        "51ad7cd2.6378ec"
      ]
    ]
  },
  {
    "id": "96cd6876.6c7dc8",
    "type": "modbus-getter",
    "z": "f0dcb27f.af55c",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 600,
    "wires": [
      [
        "d5e0ee7b.5d6958"
      ],
      [
        "c641b631.2cda28"
      ]
    ]
  },
  {
    "id": "66c28c36.e57ddc",
    "type": "modbus-getter",
    "z": "f0dcb27f.af55c",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "80aeec4c.0cb9e8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 720,
    "wires": [
      [
        "d458bb02.e3506"
      ],
      [
        "1fe6faf9.45f40d"
      ]
    ]
  },
  {
    "id": "c02b6d1.d419c1",
    "type": "modbus-flex-write",
    "z": "7875c87b.f4b398",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "80aeec4c.0cb9e8",
    "x": 730,
    "y": 300,
    "wires": [
      [
        "39fb0f4f.a78af"
      ],
      [
        "aa8d8c07.4113b",
        "6f69e513.39183c"
      ]
    ]
  },
  {
    "id": "82fe7fe4.7b7bc8",
    "type": "modbus-flex-write",
    "z": "7875c87b.f4b398",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "80aeec4c.0cb9e8",
    "x": 730,
    "y": 140,
    "wires": [
      [
        "3d5d6f6d.fe18f8"
      ],
      [
        "207cf4d4.5c7a14",
        "48275417.be04fc"
      ]
    ]
  },
  {
    "id": "207cf4d4.5c7a14",
    "type": "modbus-response",
    "z": "7875c87b.f4b398",
    "name": "",
    "registerShowMax": 20,
    "x": 990,
    "y": 160,
    "wires": []
  },
  {
    "id": "a7908874.150ac",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 80,
    "wires": [
      [
        "9d3d244.cb410d8"
      ]
    ]
  },
  {
    "id": "9d3d244.cb410d8",
    "type": "function",
    "z": "7875c87b.f4b398",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 100,
    "wires": [
      [
        "82fe7fe4.7b7bc8"
      ]
    ]
  },
  {
    "id": "2e1479c9.75045e",
    "type": "function",
    "z": "7875c87b.f4b398",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 140,
    "wires": [
      [
        "82fe7fe4.7b7bc8"
      ]
    ]
  },
  {
    "id": "3e709cca.68563c",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 120,
    "wires": [
      [
        "2e1479c9.75045e"
      ]
    ]
  },
  {
    "id": "aa8d8c07.4113b",
    "type": "modbus-response",
    "z": "7875c87b.f4b398",
    "name": "",
    "registerShowMax": 20,
    "x": 990,
    "y": 320,
    "wires": []
  },
  {
    "id": "8f49a636.7998c",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 260,
    "wires": [
      [
        "ddd00200.6f6f2"
      ]
    ]
  },
  {
    "id": "ddd00200.6f6f2",
    "type": "function",
    "z": "7875c87b.f4b398",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 280,
    "wires": [
      [
        "c02b6d1.d419c1"
      ]
    ]
  },
  {
    "id": "f12d81b8.9ca85",
    "type": "function",
    "z": "7875c87b.f4b398",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 320,
    "wires": [
      [
        "c02b6d1.d419c1"
      ]
    ]
  },
  {
    "id": "111f35fa.911c02",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 340,
    "wires": [
      [
        "f12d81b8.9ca85"
      ]
    ]
  },
  {
    "id": "39fb0f4f.a78af",
    "type": "debug",
    "z": "7875c87b.f4b398",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 240,
    "wires": []
  },
  {
    "id": "258f9e21.4c93ba",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "d0a06f2e.326db"
      ]
    ]
  },
  {
    "id": "d0a06f2e.326db",
    "type": "function",
    "z": "7875c87b.f4b398",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 180,
    "wires": [
      [
        "82fe7fe4.7b7bc8"
      ]
    ]
  },
  {
    "id": "b8527430.58b648",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 160,
    "wires": [
      [
        "2e1479c9.75045e"
      ]
    ]
  },
  {
    "id": "bfa60123.554fa",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 300,
    "wires": [
      [
        "ddd00200.6f6f2"
      ]
    ]
  },
  {
    "id": "6f69e513.39183c",
    "type": "debug",
    "z": "7875c87b.f4b398",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 280,
    "wires": []
  },
  {
    "id": "3d5d6f6d.fe18f8",
    "type": "debug",
    "z": "7875c87b.f4b398",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 80,
    "wires": []
  },
  {
    "id": "48275417.be04fc",
    "type": "debug",
    "z": "7875c87b.f4b398",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 120,
    "wires": []
  },
  {
    "id": "c22ab20e.47c948",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 990,
    "y": 220,
    "wires": []
  },
  {
    "id": "684109a7.1b06c8",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 970,
    "y": 260,
    "wires": []
  },
  {
    "id": "8e6ff1ce.d0a808",
    "type": "modbus-flex-server",
    "z": "777dfc68.60dfbc",
    "name": "",
    "logEnabled": false,
    "serverPort": "15502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "x": 380,
    "y": 160,
    "wires": [
      [
        "77220982.15d238"
      ],
      [
        "77220982.15d238"
      ],
      [
        "77220982.15d238"
      ]
    ]
  },
  {
    "id": "77220982.15d238",
    "type": "debug",
    "z": "777dfc68.60dfbc",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 590,
    "y": 160,
    "wires": []
  },
  {
    "id": "11044d6a.46705b",
    "type": "inject",
    "z": "777dfc68.60dfbc",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 160,
    "wires": [
      [
        "8e6ff1ce.d0a808"
      ]
    ]
  },
  {
    "id": "3e619a6f.584b7e",
    "type": "comment",
    "z": "7875c87b.f4b398",
    "name": "Modbus Server",
    "info": "These nodes are to write to the Modbus Server.",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "407f345f.6fcc34",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 430,
    "y": 100,
    "wires": []
  },
  {
    "id": "4817ce6b.0c732",
    "type": "modbus-write",
    "z": "7875c87b.f4b398",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "80aeec4c.0cb9e8",
    "x": 320,
    "y": 400,
    "wires": [
      [
        "3c6ddf36.929c7"
      ],
      [
        "729bcf30.8def1"
      ]
    ]
  },
  {
    "id": "568d70fd.5d9918",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 131,
    "y": 390,
    "wires": [
      [
        "4817ce6b.0c732"
      ]
    ]
  },
  {
    "id": "3c6ddf36.929c7",
    "type": "debug",
    "z": "7875c87b.f4b398",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 611,
    "y": 390,
    "wires": []
  },
  {
    "id": "729bcf30.8def1",
    "type": "modbus-response",
    "z": "7875c87b.f4b398",
    "name": "",
    "registerShowMax": 20,
    "x": 631,
    "y": 430,
    "wires": []
  },
  {
    "id": "9e476ba2.d5759",
    "type": "inject",
    "z": "7875c87b.f4b398",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 131,
    "y": 430,
    "wires": [
      [
        "4817ce6b.0c732"
      ]
    ]
  },
  {
    "id": "4464701e.a5dc3",
    "type": "comment",
    "z": "f0dcb27f.af55c",
    "name": "Modbus Server",
    "info": "These nodes are to write to the Modbus Server.",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "5af48c6d.bc7d0c",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 460,
    "wires": []
  },
  {
    "id": "903e594.39726a8",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 340,
    "wires": []
  },
  {
    "id": "e4156f94.06f71",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "10",
    "x": 750,
    "y": 380,
    "wires": []
  },
  {
    "id": "e8e83a13.97b51",
    "type": "modbus-read",
    "z": "28534391.6df9e4",
    "name": "Automatic Read FC3",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 190,
    "y": 120,
    "wires": [
      [
        "20fc1243.adde7e"
      ],
      [
        "8b9e4cd.7a1e8b",
        "f012fa82.c8543"
      ]
    ]
  },
  {
    "id": "8b9e4cd.7a1e8b",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "20",
    "x": 490,
    "y": 160,
    "wires": []
  },
  {
    "id": "20fc1243.adde7e",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 470,
    "y": 80,
    "wires": []
  },
  {
    "id": "83504887.ce4128",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 500,
    "wires": []
  },
  {
    "id": "49428fb.a98717",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "2c630601.d64ffa"
      ]
    ]
  },
  {
    "id": "437863e2.67f434",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 360,
    "wires": [
      [
        "75c4c976.046d88"
      ]
    ]
  },
  {
    "id": "bcdd8f96.a2b818",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "5",
    "x": 1030,
    "y": 320,
    "wires": []
  },
  {
    "id": "89c23898.453478",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 240,
    "wires": [
      [
        "ef30969c.4e82a8"
      ]
    ]
  },
  {
    "id": "ef30969c.4e82a8",
    "type": "function",
    "z": "28534391.6df9e4",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 240,
    "wires": [
      [
        "75592c03.80e09c"
      ]
    ]
  },
  {
    "id": "3a718baa.a24384",
    "type": "function",
    "z": "28534391.6df9e4",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 280,
    "wires": [
      [
        "75592c03.80e09c"
      ]
    ]
  },
  {
    "id": "8681ae7e.7be008",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 280,
    "wires": [
      [
        "3a718baa.a24384"
      ]
    ]
  },
  {
    "id": "75592c03.80e09c",
    "type": "modbus-flex-getter",
    "z": "28534391.6df9e4",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 760,
    "y": 260,
    "wires": [
      [
        "41289106.339d3"
      ],
      [
        "bcdd8f96.a2b818",
        "ab8cc4e9.300b7"
      ]
    ]
  },
  {
    "id": "b0224339.9f1a2",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 630,
    "y": 580,
    "wires": []
  },
  {
    "id": "133c23ea.a0fd44",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 620,
    "wires": []
  },
  {
    "id": "fe4d011f.859428",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 620,
    "wires": [
      [
        "734e780f.22b14"
      ]
    ]
  },
  {
    "id": "f7de6de0.43c23",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 710,
    "wires": []
  },
  {
    "id": "69939985.cd6438",
    "type": "modbus-response",
    "z": "28534391.6df9e4",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 750,
    "wires": []
  },
  {
    "id": "a1ba30cf.318c1",
    "type": "inject",
    "z": "28534391.6df9e4",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "49589098.5dcea"
      ]
    ]
  },
  {
    "id": "75c4c976.046d88",
    "type": "modbus-getter",
    "z": "28534391.6df9e4",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 480,
    "y": 360,
    "wires": [
      [
        "903e594.39726a8"
      ],
      [
        "e4156f94.06f71"
      ]
    ]
  },
  {
    "id": "2c630601.d64ffa",
    "type": "modbus-getter",
    "z": "28534391.6df9e4",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 480,
    "wires": [
      [
        "5af48c6d.bc7d0c"
      ],
      [
        "83504887.ce4128"
      ]
    ]
  },
  {
    "id": "734e780f.22b14",
    "type": "modbus-getter",
    "z": "28534391.6df9e4",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 620,
    "wires": [
      [
        "b0224339.9f1a2"
      ],
      [
        "133c23ea.a0fd44"
      ]
    ]
  },
  {
    "id": "49589098.5dcea",
    "type": "modbus-getter",
    "z": "28534391.6df9e4",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "e94d14fe.a641f8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 740,
    "wires": [
      [
        "f7de6de0.43c23"
      ],
      [
        "69939985.cd6438"
      ]
    ]
  },
  {
    "id": "41289106.339d3",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "ab8cc4e9.300b7",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 280,
    "wires": []
  },
  {
    "id": "f012fa82.c8543",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 450,
    "y": 120,
    "wires": []
  },
  {
    "id": "b06ebebc.87bd28",
    "type": "comment",
    "z": "28534391.6df9e4",
    "name": "Modbus Flex Server",
    "info": "These nodes are to write to the Modbus Flex Server.",
    "x": 190,
    "y": 60,
    "wires": []
  },
  {
    "id": "7dc840fd.c619b8",
    "type": "modbus-flex-write",
    "z": "76135eb2.b3072",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "e94d14fe.a641f8",
    "x": 770,
    "y": 300,
    "wires": [
      [
        "55b490b4.968fe8"
      ],
      [
        "4ff83dfc.cf716c",
        "f04fa792.ca6a38"
      ]
    ]
  },
  {
    "id": "724e86bb.dccc7",
    "type": "modbus-flex-write",
    "z": "76135eb2.b3072",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "e94d14fe.a641f8",
    "x": 770,
    "y": 140,
    "wires": [
      [
        "3c9f707c.af3d18"
      ],
      [
        "6eddd668.f1bc08",
        "935ff948.b294f"
      ]
    ]
  },
  {
    "id": "6eddd668.f1bc08",
    "type": "modbus-response",
    "z": "76135eb2.b3072",
    "name": "",
    "registerShowMax": 20,
    "x": 1030,
    "y": 160,
    "wires": []
  },
  {
    "id": "9d665e98.05e638",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 80,
    "wires": [
      [
        "394e935b.f41d24"
      ]
    ]
  },
  {
    "id": "394e935b.f41d24",
    "type": "function",
    "z": "76135eb2.b3072",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 100,
    "wires": [
      [
        "724e86bb.dccc7"
      ]
    ]
  },
  {
    "id": "d6824576.afd23",
    "type": "function",
    "z": "76135eb2.b3072",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 140,
    "wires": [
      [
        "724e86bb.dccc7"
      ]
    ]
  },
  {
    "id": "6d637777.46956",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 120,
    "wires": [
      [
        "d6824576.afd23"
      ]
    ]
  },
  {
    "id": "4ff83dfc.cf716c",
    "type": "modbus-response",
    "z": "76135eb2.b3072",
    "name": "",
    "registerShowMax": 20,
    "x": 1030,
    "y": 320,
    "wires": []
  },
  {
    "id": "a4c37706.91c7b",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 260,
    "wires": [
      [
        "5744fe15.99d768"
      ]
    ]
  },
  {
    "id": "5744fe15.99d768",
    "type": "function",
    "z": "76135eb2.b3072",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 280,
    "wires": [
      [
        "7dc840fd.c619b8"
      ]
    ]
  },
  {
    "id": "2b4e081d.a0d978",
    "type": "function",
    "z": "76135eb2.b3072",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 320,
    "wires": [
      [
        "7dc840fd.c619b8"
      ]
    ]
  },
  {
    "id": "b0451c19.14f628",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 340,
    "wires": [
      [
        "2b4e081d.a0d978"
      ]
    ]
  },
  {
    "id": "55b490b4.968fe8",
    "type": "debug",
    "z": "76135eb2.b3072",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 240,
    "wires": []
  },
  {
    "id": "b1487654.2ebd5",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 200,
    "wires": [
      [
        "86b27db8.7be8"
      ]
    ]
  },
  {
    "id": "86b27db8.7be8",
    "type": "function",
    "z": "76135eb2.b3072",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 180,
    "wires": [
      [
        "724e86bb.dccc7"
      ]
    ]
  },
  {
    "id": "9da4b0ec.cf2e68",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 160,
    "wires": [
      [
        "d6824576.afd23"
      ]
    ]
  },
  {
    "id": "f4e6227d.c55d",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 300,
    "wires": [
      [
        "5744fe15.99d768"
      ]
    ]
  },
  {
    "id": "f04fa792.ca6a38",
    "type": "debug",
    "z": "76135eb2.b3072",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 280,
    "wires": []
  },
  {
    "id": "3c9f707c.af3d18",
    "type": "debug",
    "z": "76135eb2.b3072",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 80,
    "wires": []
  },
  {
    "id": "935ff948.b294f",
    "type": "debug",
    "z": "76135eb2.b3072",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 120,
    "wires": []
  },
  {
    "id": "231b5939.0f0f2e",
    "type": "comment",
    "z": "76135eb2.b3072",
    "name": "Modbus Flex Server",
    "info": "These nodes are to write to the Modbus Flex Server.",
    "x": 210,
    "y": 40,
    "wires": []
  },
  {
    "id": "34d54497.907944",
    "type": "modbus-write",
    "z": "76135eb2.b3072",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "e94d14fe.a641f8",
    "x": 360,
    "y": 400,
    "wires": [
      [
        "32285902.5ebafe"
      ],
      [
        "5fece2b1.33efe4"
      ]
    ]
  },
  {
    "id": "9b5cd0af.946738",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 171,
    "y": 390,
    "wires": [
      [
        "34d54497.907944"
      ]
    ]
  },
  {
    "id": "32285902.5ebafe",
    "type": "debug",
    "z": "76135eb2.b3072",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 651,
    "y": 390,
    "wires": []
  },
  {
    "id": "5fece2b1.33efe4",
    "type": "modbus-response",
    "z": "76135eb2.b3072",
    "name": "",
    "registerShowMax": 20,
    "x": 671,
    "y": 430,
    "wires": []
  },
  {
    "id": "ae0bf973.de9ba8",
    "type": "inject",
    "z": "76135eb2.b3072",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 171,
    "y": 430,
    "wires": [
      [
        "34d54497.907944"
      ]
    ]
  },
  {
    "id": "f6d0030e.e39468",
    "type": "comment",
    "z": "777dfc68.60dfbc",
    "name": "Information",
    "info": "The Modbus Server and Modbus Flex Server \nworking with all reading and writing nodes.\n\nThese are two different servers \nfrom different libraries.\n\nThe simple examples hold \nthe same functions for both servers.\n",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "4c5250f1.e3666",
    "type": "catch",
    "z": "f0dcb27f.af55c",
    "name": "",
    "scope": null,
    "x": 720,
    "y": 100,
    "wires": [
      [
        "ef7f7884.b546c",
        "5427065f.9afad"
      ]
    ]
  },
  {
    "id": "ef7f7884.b546c",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 910,
    "y": 140,
    "wires": []
  },
  {
    "id": "2cf5279d.df5558",
    "type": "modbus-queue-info",
    "z": "f0dcb27f.af55c",
    "name": "Server Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "80aeec4c.0cb9e8",
    "errorOnHighLevel": false,
    "x": 1400,
    "y": 80,
    "wires": [
      [
        "5b9f9b66.52f294"
      ]
    ]
  },
  {
    "id": "7ca6a939.421698",
    "type": "function",
    "z": "f0dcb27f.af55c",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1150,
    "y": 60,
    "wires": [
      [
        "2cf5279d.df5558"
      ]
    ]
  },
  {
    "id": "7b28bf2f.82434",
    "type": "function",
    "z": "f0dcb27f.af55c",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1170,
    "y": 100,
    "wires": [
      [
        "2cf5279d.df5558"
      ]
    ]
  },
  {
    "id": "5b9f9b66.52f294",
    "type": "debug",
    "z": "f0dcb27f.af55c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1590,
    "y": 80,
    "wires": []
  },
  {
    "id": "5427065f.9afad",
    "type": "switch",
    "z": "f0dcb27f.af55c",
    "name": "Modbus Server",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Server",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 920,
    "y": 80,
    "wires": [
      [
        "7ca6a939.421698",
        "7b28bf2f.82434"
      ]
    ]
  },
  {
    "id": "e46e5b64.024ef",
    "type": "catch",
    "z": "28534391.6df9e4",
    "name": "",
    "scope": null,
    "x": 800,
    "y": 100,
    "wires": [
      [
        "87f28562.5fcc58",
        "429bf00b.39318"
      ]
    ]
  },
  {
    "id": "87f28562.5fcc58",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 60,
    "wires": []
  },
  {
    "id": "59b8c11c.5007e8",
    "type": "modbus-queue-info",
    "z": "28534391.6df9e4",
    "name": "Flex Server Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "e94d14fe.a641f8",
    "errorOnHighLevel": false,
    "x": 1490,
    "y": 120,
    "wires": [
      [
        "b7a3ed5c.04a"
      ]
    ]
  },
  {
    "id": "994a2119.3369a",
    "type": "function",
    "z": "28534391.6df9e4",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1230,
    "y": 100,
    "wires": [
      [
        "59b8c11c.5007e8"
      ]
    ]
  },
  {
    "id": "c386c170.2184e",
    "type": "function",
    "z": "28534391.6df9e4",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1250,
    "y": 140,
    "wires": [
      [
        "59b8c11c.5007e8"
      ]
    ]
  },
  {
    "id": "b7a3ed5c.04a",
    "type": "debug",
    "z": "28534391.6df9e4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1670,
    "y": 120,
    "wires": []
  },
  {
    "id": "429bf00b.39318",
    "type": "switch",
    "z": "28534391.6df9e4",
    "name": "Modbus Flex Server",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Flex Server",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 1020,
    "y": 120,
    "wires": [
      [
        "c386c170.2184e",
        "994a2119.3369a"
      ]
    ]
  }
]
