examples/Simple-Modbus-Demo.json
[
  {
    "id": "fd2839f5.ec4bb8",
    "type": "tab",
    "label": "Modbus Simple Servers",
    "disabled": false,
    "info": "simple flows to show what you \ncan do with the package\n\nthink about organization of reads and \nwrites and try to simplify these flows"
  },
  {
    "id": "8d20aae9.512968",
    "type": "tab",
    "label": "Modbus Server Reading",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ac510364.795d8",
    "type": "tab",
    "label": "Modbus Flex Server Reading",
    "disabled": false,
    "info": ""
  },
  {
    "id": "76bf8772.3da7d",
    "type": "tab",
    "label": "Modbus Server Writing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "39c7f60e.ee0a4a",
    "type": "tab",
    "label": "Modbus Flex Server Writing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1a6a9eee.5d9ce1",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Flex Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "15502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "dc8c863a.cac5d",
    "type": "modbus-client",
    "z": "",
    "name": "Modbus Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "14502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "48d1112b.16e66",
    "type": "modbus-server",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "logEnabled": false,
    "hostname": "",
    "serverPort": "14502",
    "responseDelay": "50",
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "discreteBufferSize": "1024",
    "showErrors": false,
    "x": 360,
    "y": 80,
    "wires": [
      [
        "d36e101b.21b57"
      ],
      [
        "d36e101b.21b57"
      ],
      [
        "d36e101b.21b57"
      ],
      [
        "d36e101b.21b57"
      ]
    ]
  },
  {
    "id": "469fbe81.5d038",
    "type": "inject",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 80,
    "wires": [
      [
        "48d1112b.16e66"
      ]
    ]
  },
  {
    "id": "d36e101b.21b57",
    "type": "debug",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "ce6542b7.a08f38",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 440,
    "wires": []
  },
  {
    "id": "ba3310a.dc4f9f",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 710,
    "y": 320,
    "wires": []
  },
  {
    "id": "d6a45ece.ee086",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "10",
    "x": 730,
    "y": 360,
    "wires": []
  },
  {
    "id": "57074b23.918ad4",
    "type": "modbus-read",
    "z": "8d20aae9.512968",
    "name": "Automatic Read FC3",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 170,
    "y": 100,
    "wires": [
      [
        "fbc04ec7.2348f8"
      ],
      [
        "a73c9f52.9d32f8",
        "75dc31da.86d828"
      ]
    ]
  },
  {
    "id": "a73c9f52.9d32f8",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "20",
    "x": 470,
    "y": 140,
    "wires": []
  },
  {
    "id": "fbc04ec7.2348f8",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 450,
    "y": 60,
    "wires": []
  },
  {
    "id": "b250b495.1c5ec",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 480,
    "wires": []
  },
  {
    "id": "10c2d38f.34c72c",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 460,
    "wires": [
      [
        "20b41a1b.4118ae"
      ]
    ]
  },
  {
    "id": "17163ede.0b6171",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 340,
    "wires": [
      [
        "c522d208.93afd"
      ]
    ]
  },
  {
    "id": "d27fed69.22bcb",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "5",
    "x": 1010,
    "y": 300,
    "wires": []
  },
  {
    "id": "25e05b9d.0e2ce4",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 220,
    "wires": [
      [
        "105359df.7116f6"
      ]
    ]
  },
  {
    "id": "105359df.7116f6",
    "type": "function",
    "z": "8d20aae9.512968",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 220,
    "wires": [
      [
        "499d9b42.4843cc"
      ]
    ]
  },
  {
    "id": "f91a8f53.35d68",
    "type": "function",
    "z": "8d20aae9.512968",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 260,
    "wires": [
      [
        "499d9b42.4843cc"
      ]
    ]
  },
  {
    "id": "f9519563.fe2b7",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "f91a8f53.35d68"
      ]
    ]
  },
  {
    "id": "499d9b42.4843cc",
    "type": "modbus-flex-getter",
    "z": "8d20aae9.512968",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 740,
    "y": 240,
    "wires": [
      [
        "dfc00629.0630c"
      ],
      [
        "d27fed69.22bcb",
        "88c20b3a.153e38"
      ]
    ]
  },
  {
    "id": "febaa8f0.1d3d6",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 610,
    "y": 560,
    "wires": []
  },
  {
    "id": "1861ed40.2adfdb",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 600,
    "wires": []
  },
  {
    "id": "8f82c891.95cff8",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "53f5d643.b269e8"
      ]
    ]
  },
  {
    "id": "15e0121c.f5ced6",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 690,
    "wires": []
  },
  {
    "id": "4dec48d6.60fb28",
    "type": "modbus-response",
    "z": "8d20aae9.512968",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 730,
    "wires": []
  },
  {
    "id": "8853aa36.8859f",
    "type": "inject",
    "z": "8d20aae9.512968",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 720,
    "wires": [
      [
        "3e3e3294.129606"
      ]
    ]
  },
  {
    "id": "c522d208.93afd",
    "type": "modbus-getter",
    "z": "8d20aae9.512968",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 460,
    "y": 340,
    "wires": [
      [
        "ba3310a.dc4f9f"
      ],
      [
        "d6a45ece.ee086"
      ]
    ]
  },
  {
    "id": "20b41a1b.4118ae",
    "type": "modbus-getter",
    "z": "8d20aae9.512968",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "ce6542b7.a08f38"
      ],
      [
        "b250b495.1c5ec"
      ]
    ]
  },
  {
    "id": "53f5d643.b269e8",
    "type": "modbus-getter",
    "z": "8d20aae9.512968",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 600,
    "wires": [
      [
        "febaa8f0.1d3d6"
      ],
      [
        "1861ed40.2adfdb"
      ]
    ]
  },
  {
    "id": "3e3e3294.129606",
    "type": "modbus-getter",
    "z": "8d20aae9.512968",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "dc8c863a.cac5d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 720,
    "wires": [
      [
        "15e0121c.f5ced6"
      ],
      [
        "4dec48d6.60fb28"
      ]
    ]
  },
  {
    "id": "cabf3281.74204",
    "type": "modbus-flex-write",
    "z": "76bf8772.3da7d",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "dc8c863a.cac5d",
    "x": 730,
    "y": 300,
    "wires": [
      [
        "61d1c12.ddbaec"
      ],
      [
        "102f4759.a440e9",
        "a5314de.8ec743"
      ]
    ]
  },
  {
    "id": "a49756e7.28f2c8",
    "type": "modbus-flex-write",
    "z": "76bf8772.3da7d",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "dc8c863a.cac5d",
    "x": 730,
    "y": 140,
    "wires": [
      [
        "626d0209.569d94"
      ],
      [
        "19bb16f9.a49a51",
        "483e121e.a70694"
      ]
    ]
  },
  {
    "id": "19bb16f9.a49a51",
    "type": "modbus-response",
    "z": "76bf8772.3da7d",
    "name": "",
    "registerShowMax": 20,
    "x": 990,
    "y": 160,
    "wires": []
  },
  {
    "id": "e058bad6.f31e88",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 80,
    "wires": [
      [
        "4c73691f.c96e78"
      ]
    ]
  },
  {
    "id": "4c73691f.c96e78",
    "type": "function",
    "z": "76bf8772.3da7d",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 100,
    "wires": [
      [
        "a49756e7.28f2c8"
      ]
    ]
  },
  {
    "id": "e9424897.359ef8",
    "type": "function",
    "z": "76bf8772.3da7d",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 140,
    "wires": [
      [
        "a49756e7.28f2c8"
      ]
    ]
  },
  {
    "id": "4bb4a13e.aacf2",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 120,
    "wires": [
      [
        "e9424897.359ef8"
      ]
    ]
  },
  {
    "id": "102f4759.a440e9",
    "type": "modbus-response",
    "z": "76bf8772.3da7d",
    "name": "",
    "registerShowMax": 20,
    "x": 990,
    "y": 320,
    "wires": []
  },
  {
    "id": "26c71e2b.9c8f12",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 260,
    "wires": [
      [
        "3f86fa3d.a908de"
      ]
    ]
  },
  {
    "id": "3f86fa3d.a908de",
    "type": "function",
    "z": "76bf8772.3da7d",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 280,
    "wires": [
      [
        "cabf3281.74204"
      ]
    ]
  },
  {
    "id": "871c9ab3.e97518",
    "type": "function",
    "z": "76bf8772.3da7d",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 320,
    "wires": [
      [
        "cabf3281.74204"
      ]
    ]
  },
  {
    "id": "2a426ee9.308042",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 340,
    "wires": [
      [
        "871c9ab3.e97518"
      ]
    ]
  },
  {
    "id": "61d1c12.ddbaec",
    "type": "debug",
    "z": "76bf8772.3da7d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 240,
    "wires": []
  },
  {
    "id": "6246571a.b5e318",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "578c19f9.e2392"
      ]
    ]
  },
  {
    "id": "578c19f9.e2392",
    "type": "function",
    "z": "76bf8772.3da7d",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 180,
    "wires": [
      [
        "a49756e7.28f2c8"
      ]
    ]
  },
  {
    "id": "830f86c8.27db",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 160,
    "wires": [
      [
        "e9424897.359ef8"
      ]
    ]
  },
  {
    "id": "2fba6d2f.84e3e2",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 300,
    "wires": [
      [
        "3f86fa3d.a908de"
      ]
    ]
  },
  {
    "id": "a5314de.8ec743",
    "type": "debug",
    "z": "76bf8772.3da7d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 280,
    "wires": []
  },
  {
    "id": "626d0209.569d94",
    "type": "debug",
    "z": "76bf8772.3da7d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 80,
    "wires": []
  },
  {
    "id": "483e121e.a70694",
    "type": "debug",
    "z": "76bf8772.3da7d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 950,
    "y": 120,
    "wires": []
  },
  {
    "id": "dfc00629.0630c",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 990,
    "y": 220,
    "wires": []
  },
  {
    "id": "88c20b3a.153e38",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 970,
    "y": 260,
    "wires": []
  },
  {
    "id": "1672aa1d.dd347e",
    "type": "debug",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 570,
    "y": 180,
    "wires": []
  },
  {
    "id": "18cff55c.42cbeb",
    "type": "inject",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 180,
    "wires": [
      [
        "7007d2a6.6cdc44"
      ]
    ]
  },
  {
    "id": "b76297b6.ec5ac",
    "type": "comment",
    "z": "76bf8772.3da7d",
    "name": "Modbus Server",
    "info": "These nodes are to write to the Modbus Server.",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "75dc31da.86d828",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 430,
    "y": 100,
    "wires": []
  },
  {
    "id": "180de34c.0a6925",
    "type": "modbus-write",
    "z": "76bf8772.3da7d",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "dc8c863a.cac5d",
    "x": 320,
    "y": 400,
    "wires": [
      [
        "23db990b.d75436"
      ],
      [
        "b6655efb.283ae"
      ]
    ]
  },
  {
    "id": "d0f0e8c8.55913",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 131,
    "y": 390,
    "wires": [
      [
        "180de34c.0a6925"
      ]
    ]
  },
  {
    "id": "23db990b.d75436",
    "type": "debug",
    "z": "76bf8772.3da7d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 611,
    "y": 390,
    "wires": []
  },
  {
    "id": "b6655efb.283ae",
    "type": "modbus-response",
    "z": "76bf8772.3da7d",
    "name": "",
    "registerShowMax": 20,
    "x": 631,
    "y": 430,
    "wires": []
  },
  {
    "id": "16937cf0.68d133",
    "type": "inject",
    "z": "76bf8772.3da7d",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 131,
    "y": 430,
    "wires": [
      [
        "180de34c.0a6925"
      ]
    ]
  },
  {
    "id": "dd33b983.319fa8",
    "type": "comment",
    "z": "8d20aae9.512968",
    "name": "Modbus Server",
    "info": "These nodes are to write to the Modbus Server.",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "4f4614f0.f2519c",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 460,
    "wires": []
  },
  {
    "id": "2e9b3861.844f88",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 340,
    "wires": []
  },
  {
    "id": "47041b60.28486c",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "10",
    "x": 750,
    "y": 380,
    "wires": []
  },
  {
    "id": "925b83e.c9b88",
    "type": "modbus-read",
    "z": "ac510364.795d8",
    "name": "Automatic Read FC3",
    "topic": "",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 190,
    "y": 120,
    "wires": [
      [
        "4d2ed49b.fbce1c"
      ],
      [
        "317ec8ca.b8148",
        "1786bcb9.4d912b"
      ]
    ]
  },
  {
    "id": "317ec8ca.b8148",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "20",
    "x": 490,
    "y": 160,
    "wires": []
  },
  {
    "id": "4d2ed49b.fbce1c",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 470,
    "y": 80,
    "wires": []
  },
  {
    "id": "a0f35bfe.633158",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 500,
    "wires": []
  },
  {
    "id": "c33ffd44.6fdd7",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "435c2e5.8655e5"
      ]
    ]
  },
  {
    "id": "21f8b145.284e6e",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 360,
    "wires": [
      [
        "9d7d1ac6.f06528"
      ]
    ]
  },
  {
    "id": "fd4d426f.5a4b98",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "5",
    "x": 1030,
    "y": 320,
    "wires": []
  },
  {
    "id": "3c0c989c.897e28",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 240,
    "wires": [
      [
        "76561a13.6fb414"
      ]
    ]
  },
  {
    "id": "76561a13.6fb414",
    "type": "function",
    "z": "ac510364.795d8",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 240,
    "wires": [
      [
        "f1389ca0.4d6e7"
      ]
    ]
  },
  {
    "id": "c95c4d1d.459038",
    "type": "function",
    "z": "ac510364.795d8",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 280,
    "wires": [
      [
        "f1389ca0.4d6e7"
      ]
    ]
  },
  {
    "id": "6912c89a.b6e5f8",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 280,
    "wires": [
      [
        "c95c4d1d.459038"
      ]
    ]
  },
  {
    "id": "f1389ca0.4d6e7",
    "type": "modbus-flex-getter",
    "z": "ac510364.795d8",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "logIOActivities": false,
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 760,
    "y": 260,
    "wires": [
      [
        "8c8f24be.a568c8"
      ],
      [
        "fd4d426f.5a4b98",
        "63234de.4866b34"
      ]
    ]
  },
  {
    "id": "3e62407a.98e2a8",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 630,
    "y": 580,
    "wires": []
  },
  {
    "id": "7faef17d.4d9bb8",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 620,
    "wires": []
  },
  {
    "id": "fe06a2a5.5aba",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 620,
    "wires": [
      [
        "f8042010.fd4028"
      ]
    ]
  },
  {
    "id": "bd2c24e4.2a1f08",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 710,
    "wires": []
  },
  {
    "id": "62fd58af.77542",
    "type": "modbus-response",
    "z": "ac510364.795d8",
    "name": "",
    "registerShowMax": "20",
    "x": 650,
    "y": 750,
    "wires": []
  },
  {
    "id": "18516901.41bd8f",
    "type": "inject",
    "z": "ac510364.795d8",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "8d80d032.5a9b28"
      ]
    ]
  },
  {
    "id": "9d7d1ac6.f06528",
    "type": "modbus-getter",
    "z": "ac510364.795d8",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 480,
    "y": 360,
    "wires": [
      [
        "2e9b3861.844f88"
      ],
      [
        "47041b60.28486c"
      ]
    ]
  },
  {
    "id": "435c2e5.8655e5",
    "type": "modbus-getter",
    "z": "ac510364.795d8",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 480,
    "wires": [
      [
        "4f4614f0.f2519c"
      ],
      [
        "a0f35bfe.633158"
      ]
    ]
  },
  {
    "id": "f8042010.fd4028",
    "type": "modbus-getter",
    "z": "ac510364.795d8",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 620,
    "wires": [
      [
        "3e62407a.98e2a8"
      ],
      [
        "7faef17d.4d9bb8"
      ]
    ]
  },
  {
    "id": "8d80d032.5a9b28",
    "type": "modbus-getter",
    "z": "ac510364.795d8",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "1a6a9eee.5d9ce1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 350,
    "y": 740,
    "wires": [
      [
        "bd2c24e4.2a1f08"
      ],
      [
        "62fd58af.77542"
      ]
    ]
  },
  {
    "id": "8c8f24be.a568c8",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "63234de.4866b34",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 280,
    "wires": []
  },
  {
    "id": "1786bcb9.4d912b",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 450,
    "y": 120,
    "wires": []
  },
  {
    "id": "9f26bc1a.c7b0b8",
    "type": "comment",
    "z": "ac510364.795d8",
    "name": "Modbus Flex Server",
    "info": "These nodes are to write to the Modbus Flex Server.",
    "x": 190,
    "y": 60,
    "wires": []
  },
  {
    "id": "ec38942a.ee573",
    "type": "modbus-flex-write",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "1a6a9eee.5d9ce1",
    "x": 770,
    "y": 300,
    "wires": [
      [
        "595f54b3.e02ec4"
      ],
      [
        "efa238c4.2708c8",
        "9d658172.28f638"
      ]
    ]
  },
  {
    "id": "399c6da0.a0749a",
    "type": "modbus-flex-write",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "1a6a9eee.5d9ce1",
    "x": 770,
    "y": 140,
    "wires": [
      [
        "2aeb19a3.89a6c6"
      ],
      [
        "677930e2.7b28e8",
        "46f68c45.cf4ed4"
      ]
    ]
  },
  {
    "id": "677930e2.7b28e8",
    "type": "modbus-response",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "registerShowMax": 20,
    "x": 1030,
    "y": 160,
    "wires": []
  },
  {
    "id": "dca6f004.8aaa08",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 80,
    "wires": [
      [
        "c6d03cb3.5743a"
      ]
    ]
  },
  {
    "id": "c6d03cb3.5743a",
    "type": "function",
    "z": "39c7f60e.ee0a4a",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 100,
    "wires": [
      [
        "399c6da0.a0749a"
      ]
    ]
  },
  {
    "id": "e6dd89aa.ba334",
    "type": "function",
    "z": "39c7f60e.ee0a4a",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 140,
    "wires": [
      [
        "399c6da0.a0749a"
      ]
    ]
  },
  {
    "id": "b8170831.9ed25",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 120,
    "wires": [
      [
        "e6dd89aa.ba334"
      ]
    ]
  },
  {
    "id": "efa238c4.2708c8",
    "type": "modbus-response",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "registerShowMax": 20,
    "x": 1030,
    "y": 320,
    "wires": []
  },
  {
    "id": "4cd334c6.2d8dec",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 260,
    "wires": [
      [
        "fdc259f8.05e0e"
      ]
    ]
  },
  {
    "id": "fdc259f8.05e0e",
    "type": "function",
    "z": "39c7f60e.ee0a4a",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 280,
    "wires": [
      [
        "ec38942a.ee573"
      ]
    ]
  },
  {
    "id": "536334c0.f1a05c",
    "type": "function",
    "z": "39c7f60e.ee0a4a",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 320,
    "wires": [
      [
        "ec38942a.ee573"
      ]
    ]
  },
  {
    "id": "4f880fc7.eebfc8",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 340,
    "wires": [
      [
        "536334c0.f1a05c"
      ]
    ]
  },
  {
    "id": "595f54b3.e02ec4",
    "type": "debug",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 240,
    "wires": []
  },
  {
    "id": "ee707845.3a6b58",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 200,
    "wires": [
      [
        "f8cd809f.ebccf"
      ]
    ]
  },
  {
    "id": "f8cd809f.ebccf",
    "type": "function",
    "z": "39c7f60e.ee0a4a",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 180,
    "wires": [
      [
        "399c6da0.a0749a"
      ]
    ]
  },
  {
    "id": "3438508c.c5e28",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 160,
    "wires": [
      [
        "e6dd89aa.ba334"
      ]
    ]
  },
  {
    "id": "c714d3d.792ceb",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 300,
    "wires": [
      [
        "fdc259f8.05e0e"
      ]
    ]
  },
  {
    "id": "9d658172.28f638",
    "type": "debug",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 280,
    "wires": []
  },
  {
    "id": "2aeb19a3.89a6c6",
    "type": "debug",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 80,
    "wires": []
  },
  {
    "id": "46f68c45.cf4ed4",
    "type": "debug",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 120,
    "wires": []
  },
  {
    "id": "ee69e4d0.8296b",
    "type": "comment",
    "z": "39c7f60e.ee0a4a",
    "name": "Modbus Flex Server",
    "info": "These nodes are to write to the Modbus Flex Server.",
    "x": 210,
    "y": 40,
    "wires": []
  },
  {
    "id": "86b22e7b.31ca88",
    "type": "modbus-write",
    "z": "39c7f60e.ee0a4a",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "1a6a9eee.5d9ce1",
    "x": 360,
    "y": 400,
    "wires": [
      [
        "5a499cb1.798574"
      ],
      [
        "d56c7f74.9a9328"
      ]
    ]
  },
  {
    "id": "20e63f38.7cc888",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 171,
    "y": 390,
    "wires": [
      [
        "86b22e7b.31ca88"
      ]
    ]
  },
  {
    "id": "5a499cb1.798574",
    "type": "debug",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 651,
    "y": 390,
    "wires": []
  },
  {
    "id": "d56c7f74.9a9328",
    "type": "modbus-response",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "registerShowMax": 20,
    "x": 671,
    "y": 430,
    "wires": []
  },
  {
    "id": "d2093406.092c38",
    "type": "inject",
    "z": "39c7f60e.ee0a4a",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 171,
    "y": 430,
    "wires": [
      [
        "86b22e7b.31ca88"
      ]
    ]
  },
  {
    "id": "b7d781c2.77c85",
    "type": "comment",
    "z": "fd2839f5.ec4bb8",
    "name": "Information",
    "info": "The Modbus Server and Modbus Flex Server \nworking with all reading and writing nodes.\n\nThese are two different servers \nfrom different libraries.\n\nThe simple examples hold \nthe same functions for both servers.\n",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "e0603783.298dc8",
    "type": "catch",
    "z": "8d20aae9.512968",
    "name": "",
    "scope": null,
    "x": 720,
    "y": 100,
    "wires": [
      [
        "862d9ee9.558c68",
        "23dd0a66.5ad49e"
      ]
    ]
  },
  {
    "id": "862d9ee9.558c68",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 910,
    "y": 140,
    "wires": []
  },
  {
    "id": "e7da4ee4.a60bc",
    "type": "modbus-queue-info",
    "z": "8d20aae9.512968",
    "name": "Server Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "dc8c863a.cac5d",
    "errorOnHighLevel": false,
    "x": 1400,
    "y": 80,
    "wires": [
      [
        "d8d2d82a.180758"
      ]
    ]
  },
  {
    "id": "eb651561.df51e8",
    "type": "function",
    "z": "8d20aae9.512968",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1150,
    "y": 60,
    "wires": [
      [
        "e7da4ee4.a60bc"
      ]
    ]
  },
  {
    "id": "739e0e7f.30695",
    "type": "function",
    "z": "8d20aae9.512968",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1170,
    "y": 100,
    "wires": [
      [
        "e7da4ee4.a60bc"
      ]
    ]
  },
  {
    "id": "d8d2d82a.180758",
    "type": "debug",
    "z": "8d20aae9.512968",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1590,
    "y": 80,
    "wires": []
  },
  {
    "id": "23dd0a66.5ad49e",
    "type": "switch",
    "z": "8d20aae9.512968",
    "name": "Modbus Server",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Server",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 920,
    "y": 80,
    "wires": [
      [
        "eb651561.df51e8",
        "739e0e7f.30695"
      ]
    ]
  },
  {
    "id": "30415b15.b23fcc",
    "type": "catch",
    "z": "ac510364.795d8",
    "name": "",
    "scope": null,
    "x": 800,
    "y": 100,
    "wires": [
      [
        "fb822d40.414198",
        "65b99b84.1ca8e4"
      ]
    ]
  },
  {
    "id": "fb822d40.414198",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 990,
    "y": 60,
    "wires": []
  },
  {
    "id": "41cad3bf.7485ac",
    "type": "modbus-queue-info",
    "z": "ac510364.795d8",
    "name": "Flex Server Client Queue",
    "topic": "",
    "unitid": "",
    "queueReadIntervalTime": "1000",
    "lowLowLevel": 25,
    "lowLevel": 75,
    "highLevel": 150,
    "highHighLevel": 300,
    "server": "1a6a9eee.5d9ce1",
    "errorOnHighLevel": false,
    "x": 1490,
    "y": 120,
    "wires": [
      [
        "9d47f9d5.89012"
      ]
    ]
  },
  {
    "id": "281b9601.91270a",
    "type": "function",
    "z": "ac510364.795d8",
    "name": "reset on High",
    "func": "if(\"high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1230,
    "y": 100,
    "wires": [
      [
        "41cad3bf.7485ac"
      ]
    ]
  },
  {
    "id": "c68c5715.d6c",
    "type": "function",
    "z": "ac510364.795d8",
    "name": "reset on HighHigh",
    "func": "if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1250,
    "y": 140,
    "wires": [
      [
        "41cad3bf.7485ac"
      ]
    ]
  },
  {
    "id": "9d47f9d5.89012",
    "type": "debug",
    "z": "ac510364.795d8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1670,
    "y": 120,
    "wires": []
  },
  {
    "id": "65b99b84.1ca8e4",
    "type": "switch",
    "z": "ac510364.795d8",
    "name": "Modbus Flex Server",
    "property": "modbusClientName",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Modbus Flex Server",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 1020,
    "y": 120,
    "wires": [
      [
        "c68c5715.d6c",
        "281b9601.91270a"
      ]
    ]
  },
  {
    "id": "7007d2a6.6cdc44",
    "type": "modbus-flex-server",
    "z": "fd2839f5.ec4bb8",
    "name": "",
    "logEnabled": false,
    "serverAddress": "0.0.0.0",
    "serverPort": "15502",
    "responseDelay": 100,
    "unitId": 1,
    "delayUnit": "ms",
    "coilsBufferSize": 20000,
    "registersBufferSize": 20000,
    "minAddress": 0,
    "splitAddress": 10000,
    "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetDiscreteInput": "function getFlexDiscreteInput(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
    "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
    "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
    "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
    "showErrors": false,
    "x": 380,
    "y": 180,
    "wires": [
      [
        "1672aa1d.dd347e"
      ],
      [
        "1672aa1d.dd347e"
      ],
      [
        "1672aa1d.dd347e"
      ],
      [
        "1672aa1d.dd347e"
      ]
    ]
  }
]
