examples/testFlow.json
[
  {
    "id": "997e787a.d51a38",
    "type": "tab",
    "label": "Modbus"
  },
  {
    "id": "931fe34d.31f2a",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1470,
    "y": 320,
    "wires": []
  },
  {
    "id": "8d0d4b45.527e78",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1470,
    "y": 420,
    "wires": []
  },
  {
    "id": "466526a8.8a1138",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 440,
    "wires": []
  },
  {
    "id": "689e7057.648c7",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 540,
    "wires": []
  },
  {
    "id": "329119a6.7aece6",
    "type": "modbus-write",
    "z": "997e787a.d51a38",
    "name": "Write Reset",
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "a4b2452f.c1c698",
    "x": 1230,
    "y": 200,
    "wires": [
      [
        "d90e1d35.ee81c"
      ],
      [
        "56d30b4b.0eaa44",
        "7361d9a0.2c43b8"
      ]
    ]
  },
  {
    "id": "a1dd1458.6a0de8",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1050,
    "y": 140,
    "wires": [
      [
        "329119a6.7aece6"
      ]
    ]
  },
  {
    "id": "d90e1d35.ee81c",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1470,
    "y": 180,
    "wires": []
  },
  {
    "id": "56d30b4b.0eaa44",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1470,
    "y": 220,
    "wires": []
  },
  {
    "id": "7361d9a0.2c43b8",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": 20,
    "x": 1490,
    "y": 260,
    "wires": []
  },
  {
    "id": "a31bd024.57564",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": "10",
    "x": 630,
    "y": 480,
    "wires": []
  },
  {
    "id": "b6435ae8.ab66e8",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1050,
    "y": 220,
    "wires": [
      [
        "329119a6.7aece6"
      ]
    ]
  },
  {
    "id": "2903c9d6.fe0316",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1050,
    "y": 180,
    "wires": [
      [
        "329119a6.7aece6"
      ]
    ]
  },
  {
    "id": "16b3b240.4d6d7e",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1050,
    "y": 260,
    "wires": [
      [
        "329119a6.7aece6"
      ]
    ]
  },
  {
    "id": "9b83feea.32565",
    "type": "modbus-read",
    "z": "997e787a.d51a38",
    "name": "Automatic Read",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "server": "a4b2452f.c1c698",
    "x": 380,
    "y": 620,
    "wires": [
      [
        "c5770f1b.72252"
      ],
      [
        "d8ad63a9.ffc4a"
      ]
    ]
  },
  {
    "id": "d8ad63a9.ffc4a",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": "20",
    "x": 630,
    "y": 640,
    "wires": []
  },
  {
    "id": "c5770f1b.72252",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 610,
    "y": 600,
    "wires": []
  },
  {
    "id": "2159dfba.d8597",
    "type": "modbus-getter",
    "z": "997e787a.d51a38",
    "name": "Half-Automatic Getter",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "a4b2452f.c1c698",
    "x": 400,
    "y": 480,
    "wires": [
      [
        "466526a8.8a1138"
      ],
      [
        "a31bd024.57564"
      ],
      [
        "689e7057.648c7"
      ]
    ]
  },
  {
    "id": "acdcc563.f1cd98",
    "type": "modbus-getter",
    "z": "997e787a.d51a38",
    "name": "Manual Getter",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "a4b2452f.c1c698",
    "x": 1240,
    "y": 380,
    "wires": [
      [
        "931fe34d.31f2a"
      ],
      [
        "ee5389b5.729d38"
      ],
      [
        "8d0d4b45.527e78"
      ]
    ]
  },
  {
    "id": "ee5389b5.729d38",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": "5",
    "x": 1490,
    "y": 360,
    "wires": []
  },
  {
    "id": "e3dd6534.3b5118",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1050,
    "y": 380,
    "wires": [
      [
        "acdcc563.f1cd98"
      ]
    ]
  },
  {
    "id": "c2a8d958.0a6408",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "2159dfba.d8597"
      ]
    ]
  },
  {
    "id": "b8177163.6dd4d",
    "type": "modbus-server",
    "z": "997e787a.d51a38",
    "name": "",
    "logEnabled": false,
    "serverPort": 10502,
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "x": 320,
    "y": 80,
    "wires": [
      [
        "6a9ea64f.7c5098"
      ],
      [
        "660ee1a1.d7d0b"
      ],
      [
        "e528bd58.05ff8"
      ]
    ]
  },
  {
    "id": "5c5d42c8.de0bbc",
    "type": "modbus-flex-write",
    "z": "997e787a.d51a38",
    "name": "",
    "server": "20817498.8a795c",
    "x": 590,
    "y": 200,
    "wires": [
      [
        "19d203aa.a9cafc"
      ],
      [
        "5caf35f2.21c23c"
      ]
    ]
  },
  {
    "id": "5caf35f2.21c23c",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": 20,
    "x": 810,
    "y": 220,
    "wires": []
  },
  {
    "id": "50437a9c.030194",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 180,
    "wires": [
      [
        "8e0094a9.6c2da8"
      ]
    ]
  },
  {
    "id": "19d203aa.a9cafc",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 790,
    "y": 180,
    "wires": []
  },
  {
    "id": "cafa5401.280298",
    "type": "modbus-flex-getter",
    "z": "997e787a.d51a38",
    "name": "",
    "server": "20817498.8a795c",
    "x": 580,
    "y": 300,
    "wires": [
      [
        "7f685d93.765ed4"
      ],
      [
        "7a984d3.aa649b4"
      ]
    ]
  },
  {
    "id": "7a984d3.aa649b4",
    "type": "modbus-response",
    "z": "997e787a.d51a38",
    "name": "",
    "registerShowMax": "5",
    "x": 810,
    "y": 340,
    "wires": []
  },
  {
    "id": "7f685d93.765ed4",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 790,
    "y": 280,
    "wires": []
  },
  {
    "id": "875fafe4.28783",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "a73198ca.78b4b8"
      ]
    ]
  },
  {
    "id": "a73198ca.78b4b8",
    "type": "function",
    "z": "997e787a.d51a38",
    "name": "Read 0-9 on Unit 1",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 280,
    "wires": [
      [
        "cafa5401.280298"
      ]
    ]
  },
  {
    "id": "8e0094a9.6c2da8",
    "type": "function",
    "z": "997e787a.d51a38",
    "name": "Write 0-9 on Unit 1",
    "func": "msg.payload = { values: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 180,
    "wires": [
      [
        "5c5d42c8.de0bbc"
      ]
    ]
  },
  {
    "id": "5ff1e2d8.52337c",
    "type": "function",
    "z": "997e787a.d51a38",
    "name": "Read 10-19 on Unit 1",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 320,
    "wires": [
      [
        "cafa5401.280298"
      ]
    ]
  },
  {
    "id": "72ff734a.93d3dc",
    "type": "function",
    "z": "997e787a.d51a38",
    "name": "Write 10-19 on Unit 1",
    "func": "msg.payload = { values: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 220,
    "wires": [
      [
        "5c5d42c8.de0bbc"
      ]
    ]
  },
  {
    "id": "9e578931.1635d8",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 320,
    "wires": [
      [
        "5ff1e2d8.52337c"
      ]
    ]
  },
  {
    "id": "3cafb962.0f6bf6",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 220,
    "wires": [
      [
        "72ff734a.93d3dc"
      ]
    ]
  },
  {
    "id": "6a9ea64f.7c5098",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "Holding",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 500,
    "y": 40,
    "wires": []
  },
  {
    "id": "e528bd58.05ff8",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "Inputs",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 490,
    "y": 120,
    "wires": []
  },
  {
    "id": "660ee1a1.d7d0b",
    "type": "debug",
    "z": "997e787a.d51a38",
    "name": "Coils",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 490,
    "y": 80,
    "wires": []
  },
  {
    "id": "d7be815d.b4875",
    "type": "inject",
    "z": "997e787a.d51a38",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 80,
    "wires": [
      [
        "b8177163.6dd4d"
      ]
    ]
  },
  {
    "id": "a4b2452f.c1c698",
    "type": "modbus-client",
    "z": "997e787a.d51a38",
    "name": "",
    "clienttype": "tcp",
    "tcpHost": "127.0.0.1",
    "tcpPort": "10502",
    "serialPort": "/dev/ttyS0",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "unit_id": "1",
    "clientTimeout": "5000",
    "reconnectTimeout": "5000"
  },
  {
    "id": "20817498.8a795c",
    "type": "modbus-client",
    "z": "",
    "name": "",
    "clienttype": "tcp",
    "tcpHost": "127.0.0.1",
    "tcpPort": "10502",
    "serialPort": "/dev/ttyS0",
    "serialType": "RTU",
    "serialEndian": "LITTLE",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "unit_id": "1",
    "clientTimeout": "5000",
    "reconnectTimeout": "5000"
  }
]
