examples/testFlow011Localhost.json
[
  {
    "id": "b5641a6a.59ec",
    "type": "tab",
    "label": "Modbus"
  },
  {
    "id": "134358f8.2f56ef",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 1020,
    "wires": []
  },
  {
    "id": "f28dc287.e56668",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 727,
    "y": 1109,
    "wires": []
  },
  {
    "id": "656886ff.b272",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 540,
    "wires": []
  },
  {
    "id": "a67b0c78.25895",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 580,
    "wires": []
  },
  {
    "id": "c42beb65.801ca",
    "type": "modbus-write",
    "z": "b5641a6a.59ec",
    "name": "Write Reset FC5",
    "showStatusActivities": false,
    "dataType": "Coil",
    "adr": "64",
    "quantity": "1",
    "server": "1053df6.25e2821",
    "x": 419,
    "y": 910,
    "wires": [
      [
        "2026e911.c9350e"
      ],
      [
        "81d45f73.1bbbe8"
      ]
    ]
  },
  {
    "id": "d61f25df.04222",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 900,
    "wires": [
      [
        "c42beb65.801ca"
      ]
    ]
  },
  {
    "id": "2026e911.c9350e",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 860,
    "wires": []
  },
  {
    "id": "81d45f73.1bbbe8",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": 20,
    "x": 750,
    "y": 900,
    "wires": []
  },
  {
    "id": "2b82995a.e1999e",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "10",
    "x": 750,
    "y": 620,
    "wires": []
  },
  {
    "id": "e13b6a30.e1cdc8",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 940,
    "wires": [
      [
        "c42beb65.801ca"
      ]
    ]
  },
  {
    "id": "8a902c5a.648378",
    "type": "modbus-read",
    "z": "b5641a6a.59ec",
    "name": "Automatic Read FC3",
    "showStatusActivities": false,
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "rate": "10",
    "rateUnit": "s",
    "server": "1053df6.25e2821",
    "x": 430,
    "y": 760,
    "wires": [
      [
        "d476d293.7b52e"
      ],
      [
        "83cc1f06.cf6ff"
      ]
    ]
  },
  {
    "id": "83cc1f06.cf6ff",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "20",
    "x": 750,
    "y": 740,
    "wires": []
  },
  {
    "id": "d476d293.7b52e",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 700,
    "wires": []
  },
  {
    "id": "d377086c.e9c35",
    "type": "modbus-getter",
    "z": "b5641a6a.59ec",
    "name": "Half-Automatic Getter FC4",
    "showStatusActivities": false,
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1053df6.25e2821",
    "x": 460,
    "y": 640,
    "wires": [
      [
        "656886ff.b272"
      ],
      [
        "2b82995a.e1999e"
      ],
      [
        "a67b0c78.25895"
      ]
    ]
  },
  {
    "id": "3d4195be.36c252",
    "type": "modbus-getter",
    "z": "b5641a6a.59ec",
    "name": "Manual Getter FC3",
    "showStatusActivities": false,
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "10",
    "server": "1053df6.25e2821",
    "x": 430,
    "y": 1120,
    "wires": [
      [
        "134358f8.2f56ef"
      ],
      [
        "c22da897.85d298"
      ],
      [
        "f28dc287.e56668"
      ]
    ]
  },
  {
    "id": "c22da897.85d298",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "20",
    "x": 753,
    "y": 1058,
    "wires": []
  },
  {
    "id": "a3267130.eb95b8",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 1120,
    "wires": [
      [
        "3d4195be.36c252"
      ]
    ]
  },
  {
    "id": "4e5575af.7a5cc4",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get every second",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 640,
    "wires": [
      [
        "d377086c.e9c35"
      ]
    ]
  },
  {
    "id": "6e7147eb.e061f",
    "type": "modbus-flex-write",
    "z": "b5641a6a.59ec",
    "name": "",
    "showStatusActivities": false,
    "server": "1053df6.25e2821",
    "x": 730,
    "y": 180,
    "wires": [
      [
        "bdae0302.4d8b2"
      ],
      [
        "547e11b2.891b48"
      ]
    ]
  },
  {
    "id": "547e11b2.891b48",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": 20,
    "x": 970,
    "y": 140,
    "wires": []
  },
  {
    "id": "ee4ac275.30d1c8",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 120,
    "wires": [
      [
        "10931e29.6e938a"
      ]
    ]
  },
  {
    "id": "bdae0302.4d8b2",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 950,
    "y": 100,
    "wires": []
  },
  {
    "id": "118457e8.9c76c",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "5",
    "x": 970,
    "y": 440,
    "wires": []
  },
  {
    "id": "d16dcc79.239768",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 950,
    "y": 400,
    "wires": []
  },
  {
    "id": "f15cd93d.cb13f",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "68e94b1d.cee79c"
      ]
    ]
  },
  {
    "id": "68e94b1d.cee79c",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Read 0-9 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 460,
    "wires": [
      [
        "82c3c528.d725a"
      ]
    ]
  },
  {
    "id": "10931e29.6e938a",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Write 0-9 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 120,
    "wires": [
      [
        "6e7147eb.e061f"
      ]
    ]
  },
  {
    "id": "4337c601.93b9",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Read 10-18 on Unit 1 FC3",
    "func": "msg.payload = { input: msg.payload, 'fc': 3, 'unitid': 1, 'address': 10 , 'quantity': 8 }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 500,
    "wires": [
      [
        "82c3c528.d725a"
      ]
    ]
  },
  {
    "id": "22f9a5db.c9e7da",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Write 10-18 on Unit 1 FC15",
    "func": "msg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 10 , 'quantity': 9 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "6e7147eb.e061f"
      ]
    ]
  },
  {
    "id": "dfecb6ad.58979",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get flexible!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 500,
    "wires": [
      [
        "4337c601.93b9"
      ]
    ]
  },
  {
    "id": "d2dde829.8f49a8",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9,10]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 160,
    "wires": [
      [
        "22f9a5db.c9e7da"
      ]
    ]
  },
  {
    "id": "13985540.3a563b",
    "type": "catch",
    "z": "b5641a6a.59ec",
    "name": "",
    "scope": null,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "f007925c.37f0c8"
      ]
    ]
  },
  {
    "id": "f007925c.37f0c8",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 286.00689697265625,
    "y": 58.97569274902344,
    "wires": []
  },
  {
    "id": "82c3c528.d725a",
    "type": "modbus-flex-getter",
    "z": "b5641a6a.59ec",
    "name": "",
    "showStatusActivities": false,
    "server": "1053df6.25e2821",
    "x": 740,
    "y": 460,
    "wires": [
      [
        "d16dcc79.239768"
      ],
      [
        "118457e8.9c76c"
      ]
    ]
  },
  {
    "id": "65b55cf2.f5f13c",
    "type": "modbus-flex-write",
    "z": "b5641a6a.59ec",
    "name": "",
    "showStatusActivities": false,
    "server": "1053df6.25e2821",
    "x": 730,
    "y": 340,
    "wires": [
      [
        "ff173ade.1584e"
      ],
      [
        "887f3ddd.74e2b"
      ]
    ]
  },
  {
    "id": "887f3ddd.74e2b",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": 20,
    "x": 970,
    "y": 280,
    "wires": []
  },
  {
    "id": "9a9d5356.a2c98",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write wrong multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 300,
    "wires": [
      [
        "2c55c170.e47206"
      ]
    ]
  },
  {
    "id": "2c55c170.e47206",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Write 0-9 on Unit 1 FC16",
    "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 10 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 320,
    "wires": [
      [
        "65b55cf2.f5f13c"
      ]
    ]
  },
  {
    "id": "ca93e3e5.9571e8",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Write 10 on Unit 1 FC6",
    "func": "msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 400,
    "wires": [
      [
        "65b55cf2.f5f13c"
      ]
    ]
  },
  {
    "id": "560f42d2.daaa3c",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write single!",
    "topic": "",
    "payload": "2345",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 400,
    "wires": [
      [
        "ca93e3e5.9571e8"
      ]
    ]
  },
  {
    "id": "ff173ade.1584e",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 950,
    "y": 240,
    "wires": []
  },
  {
    "id": "504b36dd.67315",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write single!",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "c0ec009d.b43f9"
      ]
    ]
  },
  {
    "id": "c0ec009d.b43f9",
    "type": "function",
    "z": "b5641a6a.59ec",
    "name": "Write 10 on Unit 1 FC5",
    "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 10 , 'quantity': 1 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 260,
    "wires": [
      [
        "6e7147eb.e061f"
      ]
    ]
  },
  {
    "id": "1a48146.7486d6c",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 730,
    "y": 1220,
    "wires": []
  },
  {
    "id": "f129f791.0390a8",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 1260,
    "wires": []
  },
  {
    "id": "899a7224.458f4",
    "type": "modbus-getter",
    "z": "b5641a6a.59ec",
    "name": "Manual Getter FC1",
    "showStatusActivities": false,
    "dataType": "Coil",
    "adr": "10",
    "quantity": "1",
    "server": "1053df6.25e2821",
    "x": 430,
    "y": 1320,
    "wires": [
      [
        "1a48146.7486d6c"
      ],
      [
        "df1566aa.d0d918"
      ],
      [
        "f129f791.0390a8"
      ]
    ]
  },
  {
    "id": "df1566aa.d0d918",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "20",
    "x": 750,
    "y": 1300,
    "wires": []
  },
  {
    "id": "86ffc003.a1ca5",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 1320,
    "wires": [
      [
        "899a7224.458f4"
      ]
    ]
  },
  {
    "id": "54c346d9.1db2b",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 1420,
    "wires": []
  },
  {
    "id": "cddcbd40.1c86f8",
    "type": "debug",
    "z": "b5641a6a.59ec",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 1460,
    "wires": []
  },
  {
    "id": "a6bb1e3f.9755b",
    "type": "modbus-getter",
    "z": "b5641a6a.59ec",
    "name": "Manual Getter FC2",
    "showStatusActivities": false,
    "dataType": "Input",
    "adr": "0",
    "quantity": "10",
    "server": "1053df6.25e2821",
    "x": 430,
    "y": 1480,
    "wires": [
      [
        "54c346d9.1db2b"
      ],
      [
        "7ba7e727.7eed78"
      ],
      [
        "cddcbd40.1c86f8"
      ]
    ]
  },
  {
    "id": "7ba7e727.7eed78",
    "type": "modbus-response",
    "z": "b5641a6a.59ec",
    "name": "",
    "registerShowMax": "20",
    "x": 710,
    "y": 1500,
    "wires": []
  },
  {
    "id": "b6c5ea03.8d5f3",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Get!",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 1480,
    "wires": [
      [
        "a6bb1e3f.9755b"
      ]
    ]
  },
  {
    "id": "40639560.0d4b04",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,2,3,4,5,6,7,8,9]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "22f9a5db.c9e7da"
      ]
    ]
  },
  {
    "id": "e461e1f7.ebc6b",
    "type": "inject",
    "z": "b5641a6a.59ec",
    "name": "Write multiple!",
    "topic": "",
    "payload": "[1,0,1,0,1,0,1,1,1,1]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 340,
    "wires": [
      [
        "2c55c170.e47206"
      ]
    ]
  },
  {
    "id": "8fccb3ac.81dc7",
    "type": "modbus-server",
    "z": "b5641a6a.59ec",
    "name": "",
    "logEnabled": false,
    "serverPort": 10502,
    "responseDelay": "50",
    "delayUnit": "ms",
    "coilsBufferSize": 1024,
    "holdingBufferSize": 1024,
    "inputBufferSize": 1024,
    "x": 720,
    "y": 60,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "1053df6.25e2821",
    "type": "modbus-client",
    "z": "",
    "name": "Local Buffer",
    "clienttype": "tcp",
    "bufferCommands": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "10502",
    "serialPort": "/dev/ttyS0",
    "serialType": "RTU",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "",
    "commandDelay": "100",
    "clientTimeout": "1000",
    "reconnectTimeout": "5000"
  }
]
